ItemDef(
    name: "Malachite Axe",
    description: "An axe infused with malachite.",
    kind: Tool(
        (
            kind: Axe,    
            stats: (
                equip_time_millis: 400,
                power: 0.50),            
        )
    ),
    quality: Low,
)
