ItemDef(
    name: "Miner's Helmet.",
    description: "Someone carved 'Mine!' into the inside.",
    kind: Armor((
        kind: Head,
        stats: FromSet("Miner"),
    )),
    quality: Epic,
    tags: [],
)