ItemDef(
    name: "Velorite Mantle",
    description: "Ceremonial attire used by members.",
    kind: Armor((
        kind: Shoulder("VeloriteMage0"),
        stats: (
            protection: Normal(18.0),
            poise_protection: Normal(10.0),
        ),
    )),
    quality: Epic,
)