Item(
    name: "Iron and Leather Spaulders",
    description: "Robust spaulders made from iron and leather.\n\n<Right-click to use>",
    kind: Armor(
        kind: Shoulder(IronLeather0),
        stats: (20),
    ),
)
