Item(
    name: "Leather Shoulder Pad",
    description: "A simple shoulder pad made of leather.",
    kind: Armor(
        (
            kind: Shoulder(Leather2),
            stats: (
                protection: Normal(6.0),
            ),
        )
    ),
)
