Item(
    name: "Iron and Leather Spaulders",
    description: "Robust spaulders made from iron and leather.",
    kind: Armor(
        (
            kind: Shoulder(IronLeather1),
            stats: (
                protection: Normal(9.0),
            ),
        )
    ),
)
