Item(
    name: "Steel Shoulder Pad",
    description: "A simple shoulder pad made of steel.",
    kind: Armor(
        (
            kind: Shoulder(Steel0),
            stats: (
                protection: Normal(15.0),
            ),
        )
    ),
)
