ItemDef(
    name: "Velorite Battlemage Guards",
    description: "",
    kind: Armor(
        (
            kind: Shoulder("VeloriteMage0"),
            stats: (
                protection: Normal(17.0),
                poise_protection: Normal(17.0),
            ),
        )
    ),
    quality: High,
)
