ItemDef(
    name: "Sharktooth",
    description: "Infused with blood.",
    kind: Tool((
        kind: Sword,
        hands: Two,
        stats: Direct((
            equip_time_secs: 0.3,
            power: 2.0,
            poise_strength: 1.0,
            speed: 0.8,
            crit_chance: 0.11666667,
            range: 1.0,
        )),
    )),
    quality: High,
    tags: [],
    ability_spec: None,
)