ItemDef(
    name: "Leafy Wraps",
    description: "Leaves help hide the magic-interlocking twigs, and provide mild protection from the elements.",
    kind: Armor((
        kind: Hand("TwigsLeaves"),
        stats: (
            protection: Normal(6.0),
            poise_resilience: Normal(1.0),
        ),
    )),
    quality: Moderate,
    tags: [],
)