ItemDef(
    legacy_name: "Leafy Shoulders",
    legacy_description: "Leaves cover over the twigs to provide better protection from the elements.",
    kind: Armor((
        kind: Shoulder,
        stats: FromSet("Twigs Leaves"),
    )),
    quality: Moderate,
    tags: [
        SalvageInto(Twig, 1),
    ],
)
