#![enable(implicit_some)]
(
    name: Name("Rat"),
    body: RandomWith("rat"),
    alignment: Alignment(Enemy),
    loot: Nothing,
    inventory: (
        loadout: FromBody,
    ),
    rider: "common.entity.calendar.april_fools.aggressive.rat_b",
    rider_effects: [(kind: Invulnerability)],
    meta: [],
)
