ItemDef(
    name: "Blue Linen Chest",
    description: "A stylish rough fabric surcoat, dyed blue.",
    kind: Armor((
        kind: Chest,
        stats: FromSet("Cloth Blue"),
    )),
    quality: Common,
    tags: [
        Material(Linen),
        SalvageInto(Linen),
    ],
)