ItemDef(
    name: "Steel Cape",
    description: "Metal alloy interlocking plates to improve protection.",
    kind: Armor((
        kind: Back,
        stats: FromSet("Steel"),
    )),
    quality: Moderate,
    tags: [
        Material(Steel),
        SalvageInto(Steel),
    ],
)