ItemDef(
    name: "Spearman Spear",
    description: "",
    kind: Tool((
        kind: Spear,
        hands: Two,
        stats: (
            equip_time_secs: 0.0,
            power: 1.8,
            effect_power: 1.0,
            speed: 0.75,
            crit_chance: 0.053030305,
            range: 1.0,
            energy_efficiency: 1.0,
            buff_strength: 1.0,
        ),
    )),
    quality: Low,
    tags: [],
    ability_spec: None,
)