/// WARNING: Localization files shall be saved in UTF-8 format without BOM

/// Localization for Ukrainian
(
    string_map: {
        // Settings
        "hud.settings.general": "Основні",
        "hud.settings.none": "Нічого",
        "hud.settings.press_behavior.toggle": "Перемикання",
        "hud.settings.press_behavior.hold": "Утримування",
        "hud.settings.help_window": "Вікно довідки",
        "hud.settings.debug_info": "Технічна інформація",
        "hud.settings.tips_on_startup": "Підказки при запуску",
        "hud.settings.ui_scale": "Масштабування інтерфейсу",
        "hud.settings.relative_scaling": "Відносне",
        "hud.settings.custom_scaling": "Ручне",
        "hud.settings.crosshair": "Приціл",
        "hud.settings.transparency": "Прозорість",
        "hud.settings.hotbar": "Панель швидкого доступу",
        "hud.settings.toggle_shortcuts": "Гарячі клавіші",
        "hud.settings.buffs_skillbar": "Бафи на панелі навичок",
        "hud.settings.buffs_mmap": "Бафи на мінімапі",
        "hud.settings.toggle_bar_experience": "Панель досвіду",
        "hud.settings.scrolling_combat_text": "Текст під час бою",
        "hud.settings.single_damage_number": "Заподіяні ушкодження (одиничні)",
        "hud.settings.cumulated_damage": "Заподіяні ушкодження (кумулятивні)",
        "hud.settings.incoming_damage": "Отримані ушкодження (одиничні)",
        "hud.settings.cumulated_incoming_damage": "Отримані ушкодження (кумулятивні)",
        "hud.settings.speech_bubble": "Діалоги",
        "hud.settings.speech_bubble_dark_mode": "Темний режим",
        "hud.settings.speech_bubble_icon": "Піктограма",
        "hud.settings.energybar_numbers": "Панель здоров'я і енергії",
        "hud.settings.values": "Значення",
        "hud.settings.percentages": "Відсотки",
        "hud.settings.chat": "Чат",
        "hud.settings.background_transparency": "Прозорість фону",
        "hud.settings.chat_character_name": "Імена персонажів в чаті",
        "hud.settings.loading_tips": "Підказки на екрані завантаження",

        "hud.settings.pan_sensitivity": "Чутливість миші",
        "hud.settings.zoom_sensitivity": "Чутливість прокрутки",
        "hud.settings.invert_scroll_zoom": "Інвертувати прокрутку",
        "hud.settings.invert_mouse_y_axis": "Інвертувати вісь Y миші",
        "hud.settings.enable_mouse_smoothing": "Згладження руху камери",
        "hud.settings.free_look_behavior": "Вмикання вільного перегляду",
        "hud.settings.auto_walk_behavior": "Вмикання авто-ходи",
        "hud.settings.stop_auto_walk_on_input": "Вимикати авто-ходу при русі",

        "hud.settings.view_distance": "ДВ (дальн. видим.)",
        "hud.settings.sprites_view_distance": "ДВ спрайтів",
        "hud.settings.figures_view_distance": "ДВ об'єктів",
        "hud.settings.maximum_fps": "Максимальний FPS",
        "hud.settings.fov": "Кут огляду (градуси)",
        "hud.settings.gamma": "Гамма",
        "hud.settings.exposure": "Експозиція",
        "hud.settings.ambiance": "Заповнююча яскравість",
        "hud.settings.antialiasing_mode": "Режим анти-аліасингу",
        "hud.settings.upscale_factor": "Коефіцієнт збільшення",
        "hud.settings.cloud_rendering_mode": "Режим відображення хмар",
        "hud.settings.fluid_rendering_mode": "Режим відображення рідин",
        "hud.settings.fluid_rendering_mode.cheap": "Простий",
        "hud.settings.fluid_rendering_mode.shiny": "Блискучий",
        "hud.settings.cloud_rendering_mode.minimal": "Мінімальний",
        "hud.settings.cloud_rendering_mode.low": "Низький",
        "hud.settings.cloud_rendering_mode.medium": "Середній",
        "hud.settings.cloud_rendering_mode.high": "Високий",
        "hud.settings.cloud_rendering_mode.ultra": "Ультра",
        "hud.settings.fullscreen": "На весь екран",
        "hud.settings.fullscreen_mode": "Повноекранний режим",
        "hud.settings.fullscreen_mode.exclusive": "Ексклюзивний",
        "hud.settings.fullscreen_mode.borderless": "Вікно без рамок",
        "hud.settings.particles": "Частинки",
        "hud.settings.resolution": "Дозвіл",
        "hud.settings.bit_depth": "Глибина кольору",
        "hud.settings.refresh_rate": "Частота оновлення",
        "hud.settings.lighting_rendering_mode": "Режим освітлення",
        "hud.settings.lighting_rendering_mode.ashikhmin": "Тип A - Високий",
        "hud.settings.lighting_rendering_mode.blinnphong": "Тип B - Середній",
        "hud.settings.lighting_rendering_mode.lambertian": "Тип L - Простий",
        "hud.settings.shadow_rendering_mode": "Режим відображення тіней",
        "hud.settings.shadow_rendering_mode.none": "Без тіней",
        "hud.settings.shadow_rendering_mode.cheap": "Простий",
        "hud.settings.shadow_rendering_mode.map": "Карта тіней",
        "hud.settings.shadow_rendering_mode.map.resolution": "Роздільна здатність",
        "hud.settings.lod_detail": "Рівень деталізації",
        "hud.settings.save_window_size": "Зберегти розмір вікна",

        "hud.settings.music_volume": "Гучність музики",
        "hud.settings.sound_effect_volume": "Гучність звукових ефектів",
        "hud.settings.audio_device": "Звуковий пристрій",

        "hud.settings.awaitingkey": "Натисніть клавішу...",
        "hud.settings.unbound": "Нічого",
        "hud.settings.reset_keybinds": "Скинути до типових",
    },


    vector_map: {
    }
)
