(
    name: Name("Grim Salvager"),
    body: RandomWith("humanoid"),
    alignment: Alignment(Enemy),
    loadout: Extended(
        hands: TwoHanded(Item("common.items.weapons.hammer.steel_hammer-0")),
        base_asset: Loadout("common.loadout.spots.dwarf_graverobber"),
        inventory: [],
    ),
    loot: LootTable("common.loot_tables.spots.bandit"),
    meta: [
        SkillSetAsset("common.skillset.preset.rank1.fullskill"),
    ],
)