ItemDef(
    name: "Admin's Cape",
    description: "With great power comes\ngreat responsibility.",
    kind: Armor((
        kind: Back,
        stats: Direct((
            protection: Some(Invincible),
            poise_resilience: Some(Invincible),
        )),
    )),
    quality: Debug,
    tags: [],
)
