ItemDef(
    name: "Purple Cultist Cape",
    description: "Smells like dark magic and candles.",
    kind: Armor((
        kind: Back,
        stats: FromSet("Cultist"),
    )),
    quality: Epic,
    tags: [
        Cultist,
    ],
)
