ItemDef(
    name: "冒险者皮披风",
    description: "可能是最好的皮革做的.",
    kind: Armor((
        kind: Back("Short0"),
        stats: (
            protection: Normal(0.3),
            poise_resilience: Normal(0.0),
            energy_max: 0,
            energy_reward: 0.0,
            crit_power: 0.0,
            stealth: 0.0,
        ),
    )),
    quality: Moderate,
    tags: [],
)