ItemDef(
    name: "Myrmidon Hoplite",
    description: "Ceremonial attire used by members..",
    kind: Armor((
        kind: Belt,
        stats: Direct((
            protection: Some(Normal(8.0)),
            poise_resilience: Some(Normal(1.0)),
            energy_max: Some(2.0),
            energy_reward: Some(0.025),
            crit_power: Some(0.02),
            stealth: Some(0.02),
        )),
    )),
    quality: Low,
    tags: [],
)