ItemDef(
    name: "Purified Soulkeeper",
    description: "WIP",
    kind: Armor(
        (
            kind: Bag("BlueFace"),
            stats: (
                protection: Normal(0.0),
                poise_protection: Normal(0.0),
            ),            
        )
    ),
    quality: Legendary,
    slots: 36,
)
