ItemDef(
    legacy_name: "",
    legacy_description: "",
    kind: RecipeGroup(
        recipes: [
            "carapace_back",
            "carapace_belt",
            "carapace_chest",
            "carapace_feet",
            "carapace_hands",
            "carapace_pants",
            "carapace_shoulder",
            "carapace_head",
        ],
    ),
    quality: High,
    tags: [],
)
