ItemDef(
    legacy_name: "",
    legacy_description: "",
    kind: RecipeGroup(
        recipes: [
            "woolen_back",
            "woolen_belt",
            "woolen_chest",
            "woolen_feet",
            "woolen_hands",
            "woolen_pants",
            "woolen_shoulder",
            "woolen_head",
        ],
    ),
    quality: Common,
    tags: [],
)
