ItemDef(
    name: "Purple Worker Shirt",
    description: "Was used by a farmer, until recently.",
    kind: Armor((
        kind: Chest,
        stats: Direct((
            protection: Some(Normal(1.0)),
        )),
    )),
    quality: Low,
    tags: [
        Material(Linen),
        SalvageInto(Linen),
    ],
)