ChargedRanged(
    energy_cost: 0,
    energy_drain: 0,
    idle_drain: 0,
    projectile: (
        kind: Pointed,
        attack: Some((
            damage: 1,
            buff: Some((
                kind: Bleeding,
                dur_secs: 10,
                strength: DamageFraction(0.1),
                chance: 0.1,
            )),
        )),
        scaled: Some((
            damage: 9.0,
            knockback: Some(4),
            energy: Some(7),
        )),
    ),
    buildup_duration: 0.2,
    charge_duration: 0.4,
    recover_duration: 0.05,
    projectile_body: Object(Arrow),
    projectile_light: None,
    initial_projectile_speed: 30.0,
    scaled_projectile_speed: 85.0,
    move_speed: 0.7,
)
