ChargedRanged(
    energy_cost: 1,
    energy_drain: 300,
    initial_damage: 10,
    scaled_damage: 190,
    initial_knockback: 10.0,
    scaled_knockback: 10.0,
    speed: 1.0,
    buildup_duration: 0.1,
    charge_duration: 1.5,
    recover_duration: 0.5,
    projectile_body: Object(MultiArrow),
    projectile_light: None,
    initial_projectile_speed: 120.0,
    scaled_projectile_speed: 160.0,
    move_speed: 0.3,
    damage_kind: Piercing,
)
