ChargedRanged(
    energy_cost: 1,
    energy_drain: 300,
    initial_damage: 50,
    max_damage: 250,
    initial_knockback: 10.0,
    max_knockback: 20.0,
    speed: 1.0,
    buildup_duration: 100,
    charge_duration: 1500,
    recover_duration: 500,
    projectile_body: Object(MultiArrow),
    projectile_light: None,
    projectile_gravity: Some(Gravity(0.2)),
    initial_projectile_speed: 100.0,
    max_projectile_speed: 500.0,
)
