BasicRanged(
    energy_cost: 30,
    buildup_duration: 0.3,
    recover_duration: 0.6,
    projectile: (
        kind: Pointed,
        attack: Some((
            damage: 8.5,
            buff: Some((
                kind: Bleeding,
                dur_secs: 5,
                strength: DamageFraction(0.25),
                chance: 0.15,
            )),
            without_combo: true,
        )),
        split: Some((
            split_on_terrain: true,
            amount: 15,
            spread: 0.25,
            new_lifetime: 15.0,
            override_collider: Some((
                p0: (x: 0, y: 0),
                p1: (x: 0, y: 0),
                radius: 1.0,
                z_min: -1.0,
                z_max: 1.0,
            )),
        )),
        lifetime_override: Some(0.6),
        limit_per_ability: true,
    ),
    projectile_body: Object(Arrow),
    projectile_speed: 25.0,
    auto_aim: true,
    movement_modifier: (
        buildup: Some(0.0),
        recover: Some(0.2),
    ),
    meta: (
        init_event: Some(EnterStance(None)),
    ),
)
