RapidRanged(
    energy_cost: 8,
    buildup_duration: 0.65,
    shoot_duration: 0.05,
    recover_duration: 0.5,
    options: (
        max_projectiles: Some(5),
        fire_all: true,
    ),
    projectile: (
        kind: Pointed,
        attack: Some((
            damage: 10.5,
            buff: Some((
                kind: Bleeding,
                dur_secs: 10,
                strength: DamageFraction(0.1),
                chance: 0.1,
            )),
            without_combo: true,
        )),
    ),
    projectile_body: Object(Arrow),
    projectile_speed: 80.0,
    meta: (
        init_event: Some(EnterStance(None)),
    ),
)