ChargedRanged(
    energy_cost: 30,
    energy_drain: 0,
    idle_drain: 3,
    projectile: (
        kind: Simple,
        attack: Some((
            damage: 5,
            damage_kind: Piercing,
        )),
        scaled: Some((
            damage: 38,
            knockback: Some(10),
        )),
    ),
    buildup_duration: 0.3,
    charge_duration: 1.4,
    recover_duration: 0.3,
    projectile_body: Object(Arrow),
    projectile_light: None,
    initial_projectile_speed: 50.0,
    scaled_projectile_speed: 150.0,
    move_speed: 0.4,
    meta: (
        init_event: Some(EnterStance(None)),
        precision_power_mult: Some(1.5),
    ),
)
