ChargedRanged(
    energy_cost: 0,
    energy_drain: 0,
    idle_drain: 0,
    projectile: (
        kind: Pointed,
        attack: Some((
            damage: 0,
            buff: Some((
                kind: Bleeding,
                dur_secs: 10,
                strength: DamageFraction(0.1),
                chance: 0.1,
            )),
        )),
        scaled: Some((
            damage: 8,
            knockback: Some(8),
            energy: Some(20),
        )),
    ),
    buildup_duration: 0.15,
    charge_duration: 0.5,
    recover_duration: 0.1,
    projectile_body: Object(Arrow),
    projectile_light: None,
    initial_projectile_speed: 0.0,
    scaled_projectile_speed: 80.0,
    move_speed: 0.7,
    num_projectiles: Value(5),
    projectile_spread: Some(Horizontal(45.0)),
    meta: (
        init_event: Some(EnterStance(None)),
    ),
)
