RepeaterRanged(
    energy_cost: 6.0,
    buildup_duration: 0.2,
    shoot_duration: 0.3,
    recover_duration: 0.5,
    max_speed: 4.0,
    half_speed_at: 3,
    projectile: (
        kind: Pointed,
        attack: Some((
            damage: 5,
            poise: 0,
            energy: 0,
            buff: Some((
                kind: Bleeding,
                dur_secs: 10,
                strength: DamageFraction(0.1),
                chance: 0.1,
            )),
        )),
    ),
    projectile_body: Object(Arrow),
    projectile_light: None,
    projectile_speed: 100.0,
)
