#![enable(implicit_some)]
(
    name: Name("Herbalist"),
    body: RandomWith("humanoid"),
    alignment: Alignment(Npc),
    loot: LootTable("common.loot_tables.nothing"),
    inventory: (
        loadout: Inline((
            inherit: Asset("common.loadout.village.herbalist"),
            active_hands: InHands((Choice([
                (1, Item("common.items.weapons.tool.hoe")),
                (1, Item("common.items.weapons.tool.rake")),
            ]), None)),
        )),
        items: [
            (10, "common.items.food.cheese"),
            (10, "common.items.food.plainsalad"),
            (1, "common.items.recipes.food"),
            (1, "common.items.recipes.armor.woolen"),
        ],
    ),
    meta: [],
)
