ItemDef(
    name: "Bonerattler Gauntlets",
    description: "The hide and bone from a bonerattler provide strong protection for the wearer.",
    kind: Armor((
        kind: Hand("Bonerattler"),
        stats: (
            protection: Normal(10.0),
            poise_resilience: Normal(12.0),
        ),
    )),
    quality: High,
    tags: [],
)