# Rust

/target/
/Cargo.lock
/*/target/
/*/Cargo.lock

# IntelliJ

**/.idea/
**/*.iml

# VSCode

/.vscode/*
!/.vscode/launch.json
*.code-workspace

# Veloren
**/server_conf.toml
**/keybinds.toml
assets/voxygen
UI3.rar
assets.rar
*.rar
assets/voxygen
