ItemDef(
    name: "Diamond Ring",
    description: "A gold ring with an expensive diamond.",
    kind: Armor((
        kind: Ring("Diamond"),
        stats: (
            protection: Normal(0.0),
            poise_resilience: Normal(0.0),
            energy_max: 0,
            energy_reward: -0.05,
            crit_power: 0.1,
            stealth: 0.0,
        ),
    )),
    quality: Epic,
    tags: [],
)