ItemDef(
    name: "Sapphire Ring",
    description: "An iron ring with a sapphire gem.",
    kind: Armor((
        kind: Ring("Sapphire"),
        stats: (
            protection: Normal(0.0),
            poise_resilience: Normal(0.0),
            energy_max: 0,
            energy_reward: 0.0,
            crit_power: 0.05,
            stealth: 0.0,
        ),
    )),
    quality: Moderate,
    tags: [],
)