ItemDef(
    name: "Velorite Battlemage Cloak",
    description: "Keeps your shoulders warm.",
    kind: Armor((
        kind: Back("VeloriteMage"),
        stats: (
            protection: Normal(2.8),
            poise_resilience: Normal(0.0),
            energy_max: 0,
            energy_recovery: 0.0,
            crit_power: 0.0,
            stealth: 0.0,
        ),
    )),
    quality: High,
    tags: [
        Material(Velorite),
    ],
)