ItemDef(
    name: "Velorite Battlemage Belt",
    description: "",
    kind: Armor((
        kind: Belt("VeloriteMage"),
        stats: (
            protection: Normal(5.8),
            poise_resilience: Normal(0.0),
            energy_max: 0,
            energy_reward: 0.0,
            crit_power: 0.0,
            stealth: 0.0,
        ),
    )),
    quality: High,
    tags: [
        Material(Velorite),
    ],
)