ItemDef(
    name: Direct("Velorite Battlemage Boots"),
    description: "",
    kind: Armor((
        kind: Foot("VeloriteMage"),
        stats: (
            protection: Some(Normal(5.9)),
        ),
    )),
    quality: High,
    tags: [
        Material(Velorite),
    ],
)