ItemDef(
    name: Direct("Ferocious Sash"),
    description: "The dark side of nature",
    kind: Armor((
        kind: Belt("Ferocious"),
        stats: (
            protection: Some(Normal(12.0)),
        ),
    )),
    quality: Direct(Epic),
    tags: [
        Material(Moonweave),
    ],
)
