ItemDef(
    name: "Ferocious Sash",
    description: "The dark side of nature",
    kind: Armor((
        kind: Belt("Ferocious"),
        stats: (
            protection: Normal(6.0),
            poise_resilience: Normal(0.0),
            energy_max: 0,
            energy_reward: 0.0,
            crit_power: 0.0,
            stealth: 0.0,
        ),
    )),
    quality: Epic,
    tags: [
        Material(Linen),
    ],
)