ItemDef(
    name: "Ferocious Wraps",
    description: "The dark side of nature",
    kind: Armor((
        kind: Hand("Ferocious"),
        stats: (
            protection: Some(Normal(24.0)),
        ),
    )),
    quality: Epic,
    tags: [
        Material(Moonweave),
    ],
)
