ItemDef(
    name: "Carapace Leggings",
    description: "Made from the shell that once shielded a beast.",
    kind: Armor((
        kind: Pants,
        stats: FromSet("Carapace"),
    )),
    quality: High,
    tags: [
        Material(Carapace),
        SalvageInto(Carapace),
    ],
)