ItemDef(
    legacy_name: "Cactid",
    legacy_description: "Cactid Head",
    kind: Armor((
        kind: Head,
        stats: Direct((
            protection: Some(Normal(5.0)),
            poise_resilience: Some(Normal(8.0)),
            energy_max: Some(3.4),
            energy_reward: Some(0.81),
            precision_power: Some(0.075),
        )),
    )),
    quality: Low,
    tags: [],
)
