ItemDef(
    name: "Saurok Staff",
    description: "Placeholder",
    kind: Tool(
        (
            kind: Staff("SaurokStaff"),
            stats: (
                equip_time_millis: 500,
                power: 1.00,
            ),
        )
    ),
    quality: Low,
)
