DashMelee(
    energy_cost: 10.0,
    melee_constructor: (
        kind: Stab(
            damage: 1.0,
            poise: 0.0,
            knockback: 8.0,
            energy_regen: 0.0,
        ),
        scaled: Some(Stab(
            damage: 9.0,
            poise: 25.0,
            knockback: 7.0,
            energy_regen: 0.0,
        )),
        range: 3.0,
        angle: 20.0,
    ),
    energy_drain: 0,
    forward_speed: 2.0,
    buildup_duration: 0.5,
    charge_duration: 1.0,
    swing_duration: 0.1,
    recover_duration: 0.8,
    ori_modifier: 0.3,
    charge_through: false,
)
