ItemDef(
    name: Direct("Green Linen Boots"),
    description: "Cobbled rough fabric boots, dyed green.",
    kind: Armor((
        kind: Foot("ClothGreen"),
        stats: (
        ),
    )),
    quality: Direct(Common),
    tags: [
        Material(Linen),
        SalvageInto(Linen),
    ],
)