SpawnEntry (
    name: "Tropical Ocean wildlife.",
    note: "Ocean inhabitants",
    rules: [
        Pack(
            groups: [
                (3, (3, 4, "common.entity.wild.peaceful.clownfish")),
            ],
            spawn_mode: Water,
            day_period: [Night, Morning, Noon, Evening],
        ),
    ],
)
