({
    (Ogre, Male): (
        head: (
            offset: (-8.0, -5.0, -6.0),
            center: ("npc.ogre.male.head"),
        ),
        torso_upper: (
            offset: (-8.0, -4.5, -5.0),
            center: ("npc.ogre.male.torso_upper"),
        ),
        torso_lower: (
            offset: (-5.0, -4.5, -4.5),
            center: ("npc.ogre.male.torso_lower"),
        )
    ),
    (Ogre, Female): (
        head: (
            offset: (-8.0, -5.0, -6.0),
            center: ("npc.ogre.male.head"),
        ),
        torso_upper: (
            offset: (-8.0, -4.5, -5.0),
            center: ("npc.ogre.male.torso_upper"),
        ),
        torso_lower: (
            offset: (-5.0, -4.5, -4.5),
            center: ("npc.ogre.male.torso_lower"),
        )
    ),
    (Cyclops, Male): (
        head: (
            offset: (-7.0, -7.0, -6.5),
            center: ("npc.cyclops.male.head"),
        ),
        torso_upper: (
            offset: (-8.0, -6.0, -6.0),
            center: ("npc.cyclops.male.torso_upper"),
        ),
        torso_lower: (
            offset: (-6.0, -5.5, -6.0),
            center: ("npc.cyclops.male.torso_lower"),
        )
    ),
    (Cyclops, Female): (
        head: (
            offset: (-7.0, -7.0, -6.5),
            center: ("npc.cyclops.male.head"),
        ),
        torso_upper: (
            offset: (-8.0, -6.0, -6.0),
            center: ("npc.cyclops.male.torso_upper"),
        ),
        torso_lower: (
            offset: (-6.0, -5.5, -6.0),
            center: ("npc.cyclops.male.torso_lower"),
        )
    ),
})
