({
    (Giant, Male): (
        shoulder_l: (
            offset: (-4.0, -5.5, -4.0),
            lateral: ("armor.empty"),
        ),
        shoulder_r: (
            offset: (-4.0, -5.5, -4.0),
            lateral: ("npc.giant.male.shoulder_r"),
        ),
        hand_l: (
            offset: (-2.5, -2.5, -14.0),
            lateral: ("npc.giant.male.hand_l"),
        ),
        hand_r: (
            offset: (-2.5, -2.5, -14.0),
            lateral: ("npc.giant.male.hand_r"),
        ),
        leg_l: (
            offset: (-6.0, -3.5, -7.0),
            lateral: ("npc.giant.male.leg_l"),
        ),
        leg_r: (
            offset: (0.0, -3.5, -7.0),
            lateral: ("npc.giant.male.leg_r"),
        ),
        foot_l: (
            offset: (-3.0, -5.0, -2.5),
            lateral: ("npc.giant.male.foot_l"),
        ),
        foot_r: (
            offset: (-3.0, -5.0, -2.5),
            lateral: ("npc.giant.male.foot_r"),
        )
    ),
    (Giant, Female): (
        shoulder_l: (
            offset: (-4.0, -5.5, -4.0),
            lateral: ("armor.empty"),
        ),
        shoulder_r: (
            offset: (-4.0, -5.5, -4.0),
            lateral: ("npc.giant.female.shoulder_r"),
        ),
        hand_l: (
            offset: (-2.5, -2.5, -14.0),
            lateral: ("npc.giant.female.hand_l"),
        ),
        hand_r: (
            offset: (-2.5, -2.5, -14.0),
            lateral: ("npc.giant.female.hand_r"),
        ),
        leg_l: (
            offset: (-6.0, -3.5, -7.0),
            lateral: ("npc.giant.female.leg_l"),
        ),
        leg_r: (
            offset: (0.0, -3.5, -7.0),
            lateral: ("npc.giant.female.leg_r"),
        ),
        foot_l: (
            offset: (-3.0, -5.0, -2.5),
            lateral: ("npc.giant.female.foot_l"),
        ),
        foot_r: (
            offset: (-3.0, -5.0, -2.5),
            lateral: ("npc.giant.female.foot_r"),
        )
    ),
})
