({
    "common.items.npc_weapons.spear.wooden_spear": (
        vox_spec: ("weapon.spear.sahagin", (-1.5, -3.0, -5.0)),
        color: None
    ),
    "common.items.weapon.spear.adlet": (
        vox_spec: ("weapon.spear.adlet", (-0.5, -3.0, -5.0)),
        color: None
    ),
    "common.items.npc_weapons.bow.adlet": (
        vox_spec: ("weapon.bow.adlet", (-0.5, -5.5, -9.5)),
        color: None
    ),
    "common.items.npc_weapons.staff.gnoll": (
        vox_spec: ("weapon.staff.gnoll", (-2.5, -3.0, -4.0)),
        color: None
    ),
})
