((
    default: (
        vox_spec: ("armor_none", (-5.0, -3.5, 1.0)),
    ),
    map: {
        "Gnome": (
            vox_spec: ("npc.gnome.male.chest", (-5.0, -3.0, -2.5)),
        ),
        "SahaginSpearman": (
            vox_spec: ("npc.sahagin.spearman.chest", (-4.5, -8.0, -8.0)),
        ),
        "SahaginSorcerer": (
            vox_spec: ("npc.sahagin.sorcerer.chest", (-4.5, -8.0, -8.0)),
        ),
        "SahaginSniper": (
            vox_spec: ("npc.sahagin.sniper.chest", (-4.5, -8.0, -8.0)),
        ),
        "AdletHunter": (
            vox_spec: ("npc.adlet.hunter.chest", (-5.0, -3.5, -2.0)),
        ),
        "AdletIcepicker": (
            vox_spec: ("npc.adlet.icepicker.chest", (-5.0, -3.5, -2.0)),
        ),
        "AdletTracker": (
            vox_spec: ("npc.adlet.tracker.chest", (-5.0, -3.5, -2.0)),
        ),
        "GnarlingMugger": (
            vox_spec: ("npc.gnarling.mugger.chest", (-4.5, -3.5, -2.5)),
        ),
        "GnarlingStalker": (
            vox_spec: ("npc.gnarling.stalker.chest", (-4.5, -3.5, -2.5)),
        ),
        "GnarlingLogger": (
            vox_spec: ("npc.gnarling.logger.chest", (-4.5, -3.5, -2.5)),
        ),
        "GnarlingChieftain": (
            vox_spec: ("npc.gnarling.chieftain.chest", (-4.5, -3.5, -1.0)),
        ),
        "Mandragora": (
            vox_spec: ("npc.mandragora.male.chest", (-11.0, -11.0, -6.5)),
        ),
        "Kappa": (
            vox_spec: ("npc.kappa.male.chest", (-6.5, -8.0, -7.0)),
        ),
        "Cactid": (
            vox_spec: ("npc.cactid.male.chest", (-3.0, -3.0, -2.5)),
        ),
        "GnollShaman": (
            vox_spec: ("npc.gnoll.shaman.chest", (-5.0, -4.5, -6.0)),
        ),
        "GnollRogue": (
            vox_spec: ("npc.gnoll.rogue.chest", (-5.0, -4.5, -6.0)),
        ),
        "GnollTrapper": (
            vox_spec: ("npc.gnoll.trapper.chest", (-5.0, -4.5, -6.0)),
        ),
        "HaniwaGuard": (
            vox_spec: ("npc.haniwa.guard.chest", (-6.5, -4.0, -3.0)),
        ),
        "HaniwaArcher": (
            vox_spec: ("npc.haniwa.archer.chest", (-6.5, -4.0, -3.0)),
        ),
        "HaniwaSoldier": (
            vox_spec: ("npc.haniwa.soldier.chest", (-6.5, -4.0, -3.0)),
        ),
        "MyrmidonHoplite": (
            vox_spec: ("npc.myrmidon.hoplite.chest", (-5.5, -4.0, -3.0)),
        ),
        "MyrmidonStrategian": (
            vox_spec: ("npc.myrmidon.strategian.chest", (-5.5, -4.0, -3.0)),
        ),
        "MyrmidonMarksman": (
            vox_spec: ("npc.myrmidon.marksman.chest", (-5.5, -4.0, -3.0)),
        ),
        "Husk": (
            vox_spec: ("npc.husk.male.chest", (-6.0, -4.5, -4.0)),
        ),
    },
))
