({
    (Gnome, Male): (
        head: (
            offset: (-8.0, -6.5, -12.0),
            central: ("npc.gnome.male.head"),
        ),
        chest: (
            offset: (-5.0, -3.0, -2.5),
            central: ("npc.gnome.male.chest"),
        ),
        shorts: (
            offset: (-4.0, -3.5, -2.5),
            central: ("npc.gnome.male.shorts"),
        ),
        tail: (
            offset: (-0.5, -5.0, -2.5),
            central: ("armor.empty"),
        ),
    ),
    (Gnome, Female): (
        head: (
            offset: (-8.0, -6.5, -12.0),
            central: ("npc.gnome.male.head"),
        ),
        chest: (
            offset: (-5.0, -3.0, -2.5),
            central: ("npc.gnome.male.chest"),
        ),
        shorts: (
            offset: (-4.0, -3.5, -2.5),
            central: ("npc.gnome.male.shorts"),
        ),
        tail: (
            offset: (-0.5, -5.0, -2.5),
            central: ("armor.empty"),
        ),
    ),
    (Sahagin, Male): (
        head: (
            offset: (-2.5, 0.0, -4.5),
            central: ("npc.sahagin.male.head"),
        ),
        chest: (
            offset: (-4.5, -8.0, -8.0),
            central: ("npc.sahagin.male.chest"),
        ),
        shorts: (
            offset: (-2.5, -3.5, -2.0),
            central: ("npc.sahagin.male.shorts"),
        ),
        tail: (
            offset: (-1.5, -13.0, -5.0),
            central: ("npc.sahagin.male.tail"),
        ),
    ),
    (Sahagin, Female): (
        head: (
            offset: (-2.5, 0.0, -4.5),
            central: ("npc.sahagin.male.head"),
        ),
        chest: (
            offset: (-4.5, -8.0, -8.0),
            central: ("npc.sahagin.male.chest"),
        ),
        shorts: (
            offset: (-2.5, -3.5, -2.0),
            central: ("npc.sahagin.male.shorts"),
        ),
        tail: (
            offset: (-1.5, -13.0, -5.0),
            central: ("npc.sahagin.male.tail"),
        ),
    ),
    (Adlet, Male): (
        head: (
            offset: (-7.0, -4.5, -6.0),
            central: ("npc.adlet.male.head"),
        ),
        chest: (
            offset: (-5.0, -3.5, -2.0),
            central: ("npc.adlet.male.chest"),
        ),
        shorts: (
            offset: (-5.0, -4.5, -3.0),
            central: ("npc.adlet.male.shorts"),
        ),
        tail: (
            offset: (-1.0, -5.0, -1.0),
            central: ("npc.adlet.male.tail"),
        ),
    ),
    (Adlet, Female): (
        head: (
            offset: (-7.0, -4.5, -6.0),
            central: ("npc.adlet.male.head"),
        ),
        chest: (
            offset: (-5.0, -3.5, -2.0),
            central: ("npc.adlet.male.chest"),
        ),
        shorts: (
            offset: (-5.0, -4.5, -3.0),
            central: ("npc.adlet.male.shorts"),
        ),
        tail: (
            offset: (-1.0, -5.0, -1.0),
            central: ("npc.adlet.male.tail"),
        ),
    ),
    (Gnarling, Male): (
        head: (
            offset: (-6.5, -5.5, -4.5),
            central: ("npc.gnarling.male.head"),
        ),
        chest: (
            offset: (-4.5, -3.5, -2.5),
            central: ("npc.gnarling.male.chest"),
        ),
        shorts: (
            offset: (-3.5, -3.0, -2.5),
            central: ("npc.gnarling.male.shorts"),
        ),
        tail: (
            offset: (-1.5, -13.0, -3.0),
            central: ("npc.gnarling.male.tail"),
        ),
    ),
    (Gnarling, Female): (
        head: (
            offset: (-6.5, -5.5, -4.5),
            central: ("npc.gnarling.male.head"),
        ),
        chest: (
            offset: (-4.5, -3.5, -2.5),
            central: ("npc.gnarling.male.chest"),
        ),
        shorts: (
            offset: (-3.5, -3.0, -2.5),
            central: ("npc.gnarling.male.shorts"),
        ),
        tail: (
            offset: (-1.5, -13.0, -3.0),
            central: ("npc.gnarling.male.tail"),
        ),
    ),
    (Mandragora, Male): (
        head: (
            offset: (0.0, 0.0, 0.0),
            central: ("armor.empty"),
        ),
        chest: (
            offset: (-11.0, -11.0, -6.5),
            central: ("npc.mandragora.male.chest"),
        ),
        shorts: (
            offset: (-3.0, -3.0, -1.0),
            central: ("npc.mandragora.male.shorts"),
        ),
        tail: (
            offset: (0.0, 0.0, 0.0),
            central: ("armor.empty"),
        ),
    ),
    (Mandragora, Female): (
        head: (
            offset: (0.0, 0.0, 0.0),
            central: ("armor.empty"),
        ),
        chest: (
            offset: (-11.0, -11.0, -6.5),
            central: ("npc.mandragora.male.chest"),
        ),
        shorts: (
            offset: (-3.0, -3.0, -1.0),
            central: ("npc.mandragora.male.shorts"),
        ),
        tail: (
            offset: (0.0, 0.0, 0.0),
            central: ("armor.empty"),
        ),
    ),
    (Kappa, Male): (
        head: (
            offset: (-4.5, -5.0, -4.5),
            central: ("npc.kappa.male.head"),
        ),
        chest: (
            offset: (-6.5, -8.0, -7.0),
            central: ("npc.kappa.male.chest"),
        ),
        shorts: (
            offset: (-3.5, -4.0, -1.5),
            central: ("npc.kappa.male.shorts"),
        ),
        tail: (
            offset: (-2.5, -10.0, -5.0),
            central: ("npc.kappa.male.tail"),
        ),
    ),
    (Kappa, Female): (
        head: (
            offset: (-4.5, -5.0, -4.5),
            central: ("npc.kappa.male.head"),
        ),
        chest: (
            offset: (-6.5, -8.0, -7.0),
            central: ("npc.kappa.male.chest"),
        ),
        shorts: (
            offset: (-3.5, -4.0, -1.5),
            central: ("npc.kappa.male.shorts"),
        ),
        tail: (
            offset: (-2.5, -10.0, -5.0),
            central: ("npc.kappa.male.tail"),
        ),
    ),
    (Cactid, Male): (
        head: (
            offset: (-8.0, -4.0, -7.5),
            central: ("npc.cactid.male.head"),
        ),
        chest: (
            offset: (-3.0, -3.0, -2.5),
            central: ("npc.cactid.male.chest"),
        ),
        shorts: (
            offset: (-3.0, -2.0, -1.0),
            central: ("npc.cactid.male.shorts"),
        ),
        tail: (
            offset: (0.0, 0.0, 0.0),
            central: ("armor.empty"),
        ),
    ),
    (Cactid, Female): (
        head: (
            offset: (-8.0, -4.0, -7.5),
            central: ("npc.cactid.male.head"),
        ),
        chest: (
            offset: (-3.0, -3.0, -2.5),
            central: ("npc.cactid.male.chest"),
        ),
        shorts: (
            offset: (-3.0, -2.0, -1.0),
            central: ("npc.cactid.male.shorts"),
        ),
        tail: (
            offset: (0.0, 0.0, 0.0),
            central: ("armor.empty"),
        ),
    ),
    (Gnoll, Male): (
        head: (
            offset: (-4.0, -1.5, -3.0),
            central: ("npc.gnoll.male.head"),
        ),
        chest: (
            offset: (-5.0, -4.5, -6.0),
            central: ("npc.gnoll.male.chest"),
        ),
        shorts: (
            offset: (-5.0, -4.0, -3.0),
            central: ("npc.gnoll.male.shorts"),
        ),
        tail: (
            offset: (-1.0, -11.0, -1.0),
            central: ("npc.gnoll.male.tail"),
        ),
    ),
    (Gnoll, Female): (
        head: (
            offset: (-4.0, -1.5, -3.0),
            central: ("npc.gnoll.male.head"),
        ),
        chest: (
            offset: (-5.0, -4.5, -6.0),
            central: ("npc.gnoll.male.chest"),
        ),
        shorts: (
            offset: (-5.0, -4.0, -3.0),
            central: ("npc.gnoll.male.shorts"),
        ),
        tail: (
            offset: (-1.0, -11.0, -1.0),
            central: ("npc.gnoll.male.tail"),
        ),
    ),
    (Haniwa, Male): (
        head: (
            offset: (-5.5, -5.5, -5.5),
            central: ("npc.haniwa.male.head"),
        ),
        chest: (
            offset: (-6.5, -4.0, -3.0),
            central: ("npc.haniwa.male.chest"),
        ),
        shorts: (
            offset: (-4.5, -4.5, -1.5),
            central: ("npc.haniwa.male.shorts"),
        ),
        tail: (
            offset: (0.0, 0.0, 0.0),
            central: ("armor.empty"),
        ),
    ),
    (Haniwa, Female): (
        head: (
            offset: (-5.5, -5.5, -5.5),
            central: ("npc.haniwa.male.head"),
        ),
        chest: (
            offset: (-6.5, -4.0, -3.0),
            central: ("npc.haniwa.male.chest"),
        ),
        shorts: (
            offset: (-4.5, -4.5, -1.5),
            central: ("npc.haniwa.male.shorts"),
        ),
        tail: (
            offset: (0.0, 0.0, 0.0),
            central: ("armor.empty"),
        ),
    ),
    (Myrmidon, Male): (
        head: (
            offset: (-4.5, -7.0, -6.5),
            central: ("npc.myrmidon.male.head"),
        ),
        chest: (
            offset: (-5.5, -4.0, -3.0),
            central: ("npc.myrmidon.male.chest"),
        ),
        shorts: (
            offset: (-2.5, -3.5, -2.0),
            central: ("npc.myrmidon.male.shorts"),
        ),
        tail: (
            offset: (-2.5, -7.0, -2.5),
            central: ("npc.myrmidon.male.tail"),
        ),
    ),
    (Myrmidon, Female): (
        head: (
            offset: (-4.5, -7.0, -6.5),
            central: ("npc.myrmidon.male.head"),
        ),
        chest: (
            offset: (-5.5, -4.0, -3.0),
            central: ("npc.myrmidon.male.chest"),
        ),
        shorts: (
            offset: (-2.5, -3.5, -2.0),
            central: ("npc.myrmidon.male.shorts"),
        ),
        tail: (
            offset: (-2.5, -7.0, -2.5),
            central: ("npc.myrmidon.male.tail"),
        ),
    ),
})
