((
    //This shouldn't be the none option, but what is?
    default: (
        left: (
            vox_spec: ("armor.empty", (-3.0, -3.5, 1.0)),
            color: None
        ),
        right: (
            vox_spec: ("armor.empty", (-2.0, -3.5, 1.0)),
            color: None
        )
    ),
    map: {
        "Brown1": (
            left: (
                vox_spec: ("armor.shoulder.brown_right", (-3.0, -3.5, 1.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.shoulder.brown_right", (-2.0, -3.5, 1.0)),
                color: None
            )
        ),
        "Assassin": (
            left: (
                vox_spec: ("armor.assassin.shoulder", (-4.0, -3.5, 1.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.assassin.shoulder", (-2.0, -3.5, 1.0)),
                color: None
            )
        ),
        "Chain": (
            left: (
                vox_spec: ("armor.shoulder.chain", (-4.0, -3.5, 1.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.misc.shoulder.chain", (-2.0, -3.5, 1.0)),
                color: None
            )
        ),
        "Plate": (
            left: (
                vox_spec: ("armor.plate.shoulder", (-3.6, -3.5, -0.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.plate.shoulder", (-2.6, -3.5, 0.0)),
                color: None
            )
        ),
        "Swift": (
            left: (
                vox_spec: ("armor.swift.shoulder", (-3.2, -3.5, 0.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.swift.shoulder", (-1.4, -3.5, 0.0)),
                color: None
            )
        ),
        "Leather": (
            left: (
                vox_spec: ("armor.leather.shoulder", (-3.6, -4.5, 0.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.leather.shoulder", (-2.6, -4.5, 0.0)),
                color: None
            )
        ),
        "ClothPurple": (
            left: (
                vox_spec: ("armor.cloth_purple.shoulder", (-3.2, -3.5, 0.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.cloth_purple.shoulder", (-1.8, -3.5, 0.0)),
                color: None
            )
        ),
        "ClothBlue0": (
            left: (
                vox_spec: ("armor.cloth_blue.shoulder_0", (-3.2, -3.5, 0.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.cloth_blue.shoulder_0", (-1.8, -3.5, 0.0)),
                color: None
            )
        ),
        "ClothGreen": (
            left: (
                vox_spec: ("armor.cloth_green.shoulder", (-3.2, -3.5, 0.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.cloth_green.shoulder", (-1.8, -3.5, 0.0)),
                color: None
            )
        ),
        "Cultist": (
            left: (
                vox_spec: ("armor.cultist.shoulder", (-2.0, -3.5, 0.0)),
                color: Some((30, 0, 64))
            ),
            right: (
                 vox_spec: ("armor.cultist.shoulder", (-2.9, -3.5, 0.0)),
                color: Some((30, 0, 64))
            )
        ),
        "Steel": (
            left: (
                vox_spec: ("armor.steel.shoulder", (-5.0, -4.5 , 0.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.steel.shoulder", (-1.0, -4.5, 0.0)),
                color: None
            )
        ),
        "LeatherPlate": (
            left: (
                vox_spec: ("armor.leather_plate.shoulder", (-4.0, -4.5 , 0.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.leather_plate.shoulder", (-0.9, -4.5, 0.0)),
                color: None
            )
        ),
        "Agile": (
            left: (
                vox_spec: ("armor.agile.shoulder", (-5.0, -3.8, -0.9)),
                color: None
            ),
            right: (
                vox_spec: ("armor.agile.shoulder", (-1.0, -3.8, -0.9)),
                color: None
            )
        ),
        "Twigs": (
            left: (
                vox_spec: ("armor.twigs.shoulder", (-5.0, -4.5 , -1.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.twigs.shoulder", (-1.0, -4.5, -1.0)),
                color: None
            )
        ),
        "TwigsLeaves": (
            left: (
                vox_spec: ("armor.twigsleaves.shoulder", (-5.5, -5.0 , 0.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.twigsleaves.shoulder", (-1.5, -5.0, 0.0)),
                color: None
            )
        ),
        "TwigsFlowers": (
            left: (
                vox_spec: ("armor.twigsflowers.shoulder", (-5.5, -5.0 , 0.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.twigsflowers.shoulder", (-1.5, -5.0, 0.0)),
                color: None
            ),
        ),
        "ClothBlue1": (
            left: (
                vox_spec: ("armor.cloth_blue.shoulder_1", (-4.0, -2.5, -0.5)),
                color: None
            ),
            right: (
                vox_spec: ("armor.cloth_blue.shoulder_1", (-1.0, -2.5, -0.5)),
                color: None
            )
        ),
        "IronSpikes": (
            left: (
                vox_spec: ("armor.misc.shoulder.iron_spikes", (-5.5, -3.8, -2.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.misc.shoulder.iron_spikes", (-1.5, -3.8, -2.0)),
                color: None
            )
        ),
        "IronLeather3": (
            left: (
                vox_spec: ("armor.misc.shoulder.leather_iron_3", (-4.0, -2.5, -1.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.misc.shoulder.leather_iron_3", (-2.0, -2.5, -1.0)),
                color: None
            )
        ),
        "IronLeather2": (
            left: (
                vox_spec: ("armor.misc.shoulder.leather_iron_2", (-5.0, -2.5, -0.5)),
                color: None
            ),
            right: (
                vox_spec: ("armor.misc.shoulder.leather_iron_2", (-2.0, -2.5, -0.5)),
                color: None
            )
        ),
        "IronLeather1": (
            left: (
                vox_spec: ("armor.misc.shoulder.leather_iron_1", (-5.0, -2.5, -0.5)),
                color: None
            ),
            right: (
                vox_spec: ("armor.misc.shoulder.leather_iron_1", (-2.0, -2.5, -0.5)),
                color: None
            )
        ),
        "IronLeather0": (
            left: (
                vox_spec: ("armor.misc.shoulder.leather_iron_0", (-6.0, -2.5, -0.5)),
                color: None
            ),
            right: (
                vox_spec: ("armor.misc.shoulder.leather_iron_0", (-2.0, -2.5, -0.5)),
                color: None
            )
        ),
        "LeatherStrip": (
            left: (
                vox_spec: ("armor.misc.shoulder.leather_strip", (-3.0, -2.5, -2.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.misc.shoulder.leather_strip", (-2.0, -2.5, -2.0)),
                color: None
            )
        ),
        "Druid": (
            left: (
                vox_spec: ("armor.druid.shoulder", (-4.0, -4.5 , -3.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.druid.shoulder", (-2.0, -4.5, -3.0)),
                color: None
            )
        ),
        "Tarasque": (
            left: (
                vox_spec: ("armor.tarsque.shoulder", (-5.0, -3.5 , 0.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.tarsque.shoulder", (-0.0, -3.5, 0.0)),
                color: None
            )
        ),
        "Bonerattler": (
            left: (
                vox_spec: ("armor.bonerattler.shoulder", (-4.0, -3.5 , 1.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.bonerattler.shoulder", (-1.0, -3.5, 1.0)),
                color: None
            )
        ),
        "VeloriteMage": (
            left: (
                vox_spec: ("armor.velorite_battlemage.shoulder", (-6.0, -4.0 , 0.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.velorite_battlemage.shoulder", (-1.0, -4.0, 0.0)),
                color: None
            )
        ),
        "Warlord": (
            left: (
                vox_spec: ("armor.warlord.shoulder", (-8.0, -3.5 , -2.5)),
                color: None
            ),
            right: (
                vox_spec: ("armor.warlord.shoulder", (-1.0, -3.5 , -2.5)),
                color: None
            )
        ),
        "Warlock": (
            left: (
                vox_spec: ("armor.warlock.shoulder", (-6.0, -4.0 , -2.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.warlock.shoulder", (0.0, -4.0, -2.0)),
                color: None
            )
        ),
    },
))
