((
    //This shouldn't be the none option, but what is?
    default: (
        left: (
            vox_spec: ("armor.empty", (-3.0, -3.5, 1.0)),
            color: None
        ),
        right: (
            vox_spec: ("armor.empty", (-2.0, -3.5, 1.0)),
            color: None
        )
    ),
    map: {
        "Brown1": (
            left: (
                vox_spec: ("armor.shoulder.brown_right", (-3.0, -3.5, 1.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.shoulder.brown_right", (-2.0, -3.5, 1.0)),
                color: None
            )
        ),
        "common.items.armor.assassin.shoulder": (
            left: (
                vox_spec: ("armor.assassin.shoulder", (-4.0, -3.5, 1.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.assassin.shoulder", (-2.0, -3.5, 1.0)),
                color: None
            )
        ),
        "Chain": (
            left: (
                vox_spec: ("armor.shoulder.chain", (-4.0, -3.5, 1.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.misc.shoulder.chain", (-2.0, -3.5, 1.0)),
                color: None
            )
        ),
        "common.items.armor.ferocious.shoulder": (
            left: (
                vox_spec: ("armor.ferocious.shoulder", (-6.0, -2.5, -1.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.ferocious.shoulder", (-3.0, -2.5, -1.0)),
                color: None
            )
        ),
        "common.items.armor.boreal.shoulder": (
            left: (
                vox_spec: ("armor.boreal.shoulder", (-3.5, -3.5, -3.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.boreal.shoulder", (-1.5, -3.5, -3.0)),
                color: None
            )
        ),
        "common.items.armor.cloth_purple.shoulder": (
            left: (
                vox_spec: ("armor.cloth_purple.shoulder", (-3.2, -3.5, 0.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.cloth_purple.shoulder", (-1.8, -3.5, 0.0)),
                color: None
            )
        ),
        "common.items.armor.cloth_blue.shoulder_0": (
            left: (
                vox_spec: ("armor.cloth_blue.shoulder_0", (-3.2, -3.5, 0.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.cloth_blue.shoulder_0", (-1.8, -3.5, 0.0)),
                color: None
            )
        ),
        "common.items.armor.cloth_green.shoulder": (
            left: (
                vox_spec: ("armor.cloth_green.shoulder", (-3.2, -3.5, 0.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.cloth_green.shoulder", (-1.8, -3.5, 0.0)),
                color: None
            )
        ),
        "common.items.armor.cultist.shoulder": (
            left: (
                vox_spec: ("armor.cultist.shoulder", (-2.0, -3.5, 0.0)),
                color: Some((30, 0, 64))
            ),
            right: (
                 vox_spec: ("armor.cultist.shoulder", (-2.9, -3.5, 0.0)),
                color: Some((30, 0, 64))
            )
        ),
        "common.items.armor.leather_plate.shoulder": (
            left: (
                vox_spec: ("armor.leather_plate.shoulder", (-4.0, -4.5 , 0.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.leather_plate.shoulder", (-0.9, -4.5, 0.0)),
                color: None
            )
        ),
        "common.items.armor.twigs.shoulder": (
            left: (
                vox_spec: ("armor.twigs.shoulder", (-5.0, -4.5 , -1.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.twigs.shoulder", (-1.0, -4.5, -1.0)),
                color: None
            )
        ),
        "common.items.armor.twigsleaves.shoulder": (
            left: (
                vox_spec: ("armor.twigsleaves.shoulder", (-5.5, -5.0 , 0.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.twigsleaves.shoulder", (-1.5, -5.0, 0.0)),
                color: None
            )
        ),
        "common.items.armor.twigsflowers.shoulder": (
            left: (
                vox_spec: ("armor.twigsflowers.shoulder", (-5.5, -5.0 , 0.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.twigsflowers.shoulder", (-1.5, -5.0, 0.0)),
                color: None
            ),
        ),
        "common.items.armor.cloth_blue.shoulder_1": (
            left: (
                vox_spec: ("armor.cloth_blue.shoulder_1", (-4.0, -2.5, -0.5)),
                color: None
            ),
            right: (
                vox_spec: ("armor.cloth_blue.shoulder_1", (-1.0, -2.5, -0.5)),
                color: None
            )
        ),
        "common.items.armor.misc.shoulder.iron_spikes": (
            left: (
                vox_spec: ("armor.misc.shoulder.iron_spikes", (-5.5, -3.8, -2.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.misc.shoulder.iron_spikes", (-1.5, -3.8, -2.0)),
                color: None
            )
        ),
        "common.items.armor.misc.shoulder.leather_iron_3": (
            left: (
                vox_spec: ("armor.misc.shoulder.leather_iron_3", (-4.0, -2.5, -1.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.misc.shoulder.leather_iron_3", (-2.0, -2.5, -1.0)),
                color: None
            )
        ),
        "common.items.armor.misc.shoulder.leather_iron_2": (
            left: (
                vox_spec: ("armor.misc.shoulder.leather_iron_2", (-5.0, -2.5, -0.5)),
                color: None
            ),
            right: (
                vox_spec: ("armor.misc.shoulder.leather_iron_2", (-2.0, -2.5, -0.5)),
                color: None
            )
        ),
        "common.items.armor.misc.shoulder.leather_iron_1": (
            left: (
                vox_spec: ("armor.misc.shoulder.leather_iron_1", (-5.0, -2.5, -0.5)),
                color: None
            ),
            right: (
                vox_spec: ("armor.misc.shoulder.leather_iron_1", (-2.0, -2.5, -0.5)),
                color: None
            )
        ),
        "common.items.armor.misc.shoulder.leather_iron_0": (
            left: (
                vox_spec: ("armor.misc.shoulder.leather_iron_0", (-6.0, -2.5, -0.5)),
                color: None
            ),
            right: (
                vox_spec: ("armor.misc.shoulder.leather_iron_0", (-2.0, -2.5, -0.5)),
                color: None
            )
        ),
        "common.items.armor.misc.shoulder.leather_strip": (
            left: (
                vox_spec: ("armor.misc.shoulder.leather_strip", (-3.0, -2.5, -2.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.misc.shoulder.leather_strip", (-2.0, -2.5, -2.0)),
                color: None
            )
        ),
        "common.items.armor.tarasque.shoulder": (
            left: (
                vox_spec: ("armor.tarasque.shoulder", (-5.0, -3.5 , 0.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.tarasque.shoulder", (-0.0, -3.5, 0.0)),
                color: None
            )
        ),
        "common.items.armor.bonerattler.shoulder": (
            left: (
                vox_spec: ("armor.bonerattler.shoulder", (-4.0, -3.5 , 1.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.bonerattler.shoulder", (-1.0, -3.5, 1.0)),
                color: None
            )
        ),
        "common.items.armor.velorite_mage.shoulder": (
            left: (
                vox_spec: ("armor.velorite_battlemage.shoulder", (-6.0, -4.0 , 0.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.velorite_battlemage.shoulder", (-1.0, -4.0, 0.0)),
                color: None
            )
        ),
        "common.items.debug.cultist_shoulder_blue": (
            left: (
                vox_spec: ("armor.velorite_battlemage.shoulder", (-6.0, -4.0 , 0.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.velorite_battlemage.shoulder", (-1.0, -4.0, 0.0)),
                color: None
            )
        ),
        "common.items.armor.hide.rawhide.shoulder": (
            left: (
                vox_spec: ("armor.hide.rawhide.shoulder", (-4.0, -3.2, -0.5)),
                color: None
            ),
            right: (
                vox_spec: ("armor.hide.rawhide.shoulder", (-1.0, -3.2, -0.5)),
                color: None
            )
        ),
        "common.items.armor.hide.leather.shoulder": (
            left: (
                vox_spec: ("armor.hide.leather.shoulder", (-5.5, -3.2, -1.8)),
                color: None
            ),
            right: (
                vox_spec: ("armor.hide.leather.shoulder", (-0.5, -3.2, -1.8)),
                color: None
            )
        ),
        "common.items.armor.hide.scale.shoulder": (
            left: (
                vox_spec: ("armor.hide.scale.shoulder", (-3.2, -3.5 , 0.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.hide.scale.shoulder", (-1.4, -3.5, -0.5)),
                color: None
            )
        ),
        "common.items.armor.hide.carapace.shoulder": (
            left: (
                vox_spec: ("armor.hide.carapace.shoulder", (-6.0, -4.0 , -2.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.hide.carapace.shoulder", (-1.0, -4.0, -2.0)),
                color: None
            )
        ),
        "common.items.armor.hide.primal.shoulder": (
            left: (
                vox_spec: ("armor.hide.primal.shoulder", (-6.0, -4.0 , -3.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.hide.primal.shoulder", (-1.0, -4.0, -3.0)),
                color: None
            )
        ),
        "common.items.armor.hide.dragonscale.shoulder": (
            left: (
                vox_spec: ("armor.hide.dragonscale.shoulder", (-9.0, -3.5 , -1.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.hide.dragonscale.shoulder", (0.0, -3.5, -1.0)),
                color: None
            )
        ),
        "common.items.armor.savage.shoulder": (
            left: (
                vox_spec: ("armor.savage.shoulder", (-5.5, -4.0 , -2.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.savage.shoulder", (-0.5, -4.0, -2.0)),
                color: None
            )
        ),
        "common.items.armor.witch.shoulder": (
            left: (
                vox_spec: ("armor.witch.shoulder", (-5.0, -4.0 , -2.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.witch.shoulder", (-1.0, -4.0 , -2.0)),
            color: None
            )
        ),
        "common.items.armor.pirate.shoulder": (
            left: (
                vox_spec: ("armor.pirate.shoulder", (-5.0, -4.0 , -2.0)),
                color: None
            ),
            right: (
            vox_spec: ("armor.empty", (-3.0, -3.5, 1.0)),
            color: None
            )
        ),
        "common.items.armor.cloth.linen.shoulder": (
            left: (
                vox_spec: ("armor.cloth.linen.shoulder", (-3.5, -4.0 , -1.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.cloth.linen.shoulder", (-0.5, -4.0, -1.0)),
                color: None
            )
        ),
        "common.items.armor.cloth.woolen.shoulder": (
            left: (
                vox_spec: ("armor.cloth.woolen.shoulder", (-5.5, -4.0 , -3.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.cloth.woolen.shoulder", (-0.5, -4.0, -3.0)),
                color: None
            )
        ),
        "common.items.armor.cloth.silken.shoulder": (
            left: (
                vox_spec: ("armor.cloth.silken.shoulder", (-5.0, -4.0 , -2.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.cloth.silken.shoulder", (-1.0, -4.0, -2.0)),
                color: None
            )
        ),
        "common.items.armor.cloth.druid.shoulder": (
            left: (
                vox_spec: ("armor.cloth.druid.shoulder", (-4.5, -4.0 , -3.5)),
                color: None
            ),
            right: (
                vox_spec: ("armor.cloth.druid.shoulder", (-1.5, -4.0, -3.5)),
                color: None
            )
        ),
        "common.items.armor.cloth.moonweave.shoulder": (
            left: (
                vox_spec: ("armor.cloth.moonweave.shoulder", (-4.5, -4.0 , -3.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.cloth.moonweave.shoulder", (-1.5, -4.0, -3.0)),
                color: None
            )
        ),
        "common.items.armor.cloth.sunsilk.shoulder": (
            left: (
                vox_spec: ("armor.cloth.sunsilk.shoulder", (-6.5, -4.0 , -2.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.cloth.sunsilk.shoulder", (-0.5, -4.0, -2.0)),
                color: None
            )
        ),
        "common.items.armor.mail.bronze.shoulder": (
            left: (
                vox_spec: ("armor.mail.bronze.shoulder", (-4.5, -4.0 , 0.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.mail.bronze.shoulder", (-1.5, -4.0, 0.0)),
                color: None
            )
        ),
        "common.items.armor.mail.iron.shoulder": (
            left: (
                vox_spec: ("armor.mail.iron.shoulder", (-5.5, -4.0 , -1.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.mail.iron.shoulder", (-0.5, -4.0, -1.0)),
                color: None
            )
        ),
        "common.items.armor.mail.steel.shoulder": (
            left: (
                vox_spec: ("armor.mail.steel.shoulder", (-5.5, -3.0 , -2.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.mail.steel.shoulder", (-1.5, -3.0, -2.0)),
                color: None
            )
        ),
        "common.items.armor.mail.cobalt.shoulder": (
            left: (
                vox_spec: ("armor.mail.cobalt.shoulder", (-5.5, -4.0 , -1.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.mail.cobalt.shoulder", (-1.5, -4.0, -1.0)),
                color: None
            )
        ),
        "common.items.armor.mail.bloodsteel.shoulder": (
            left: (
                vox_spec: ("armor.mail.bloodsteel.shoulder", (-6.5, -5.0 , -3.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.mail.bloodsteel.shoulder", (-2.5, -5.0, -3.0)),
                color: None
            )
        ),
        "common.items.armor.mail.orichalcum.shoulder": (
            left: (
                vox_spec: ("armor.mail.orichalcum.shoulder", (-7.5, -3.0 , -2.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.mail.orichalcum.shoulder", (-1.5, -3.0, -2.0)),
                color: None
            )
        ),
        "common.items.armor.cardinal.shoulder": (
            left: (
                vox_spec: ("armor.cardinal.shoulder", (-5.0, -4.0, -2.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.empty", (-0.5, -4.0, -2.0)),
                color: None
            )
        ),
        "common.items.armor.merchant.shoulder": (
            left: (
                vox_spec: ("armor.merchant.shoulder_l", (-3.0, -4.0 , -8.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.empty", (0.0, 0.0 , 0.0)),
                color: None
            ),
        ),
    },
))
