((
    default: (
        left: (
            vox_spec: ("armor.misc.hand.none", (-1.5, -1.5, -2.5)),
            color: None
        ),
        right: (
            vox_spec: ("armor.misc.hand.none", (-1.5, -1.5, -2.5)),
            color: None
        )
    ),
    map: {
        "common.items.armor.assassin.hand": (
            left: (
                vox_spec: ("armor.assassin.hand", (-1.5, -1.5, -2.5)),
                color: None
            ),
            right: (
                vox_spec: ("armor.assassin.hand", (-1.5, -1.5, -2.5)),
                color: None
            )
        ),
        "Cloth": (
            left: (
                vox_spec: ("armor.misc.hand.cloth_basic", (-1.5, -1.5, -2.5)),
                color: None
            ),
            right: (
                vox_spec: ("armor.misc.hand.cloth_basic", (-1.5, -1.5, -2.5)),
                color: None
            )
        ),
        "common.items.armor.ferocious.hand": (
            left: (
                vox_spec: ("armor.ferocious.hand", (-1.5, -1.5, -3.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.ferocious.hand", (-1.5, -1.5, -3.0)),
                color: None
            )
        ),
        "common.items.armor.boreal.hand": (
            left: (
                vox_spec: ("armor.boreal.hand", (-2.0, -1.5, -3.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.boreal.hand", (-2.0, -1.5, -3.0)),
                color: None
            )
        ),
        "common.items.armor.cloth_purple.hand": (
            left: (
                vox_spec: ("armor.cloth_purple.hand", (-1.5, -1.5, -2.5)),
                color: None
            ),
            right: (
                vox_spec: ("armor.cloth_purple.hand", (-1.5, -1.5, -2.5)),
                color: None
            )
        ),
        "common.items.armor.cloth_blue.hand": (
            left: (
                vox_spec: ("armor.cloth_blue.hand", (-1.5, -1.5, -2.5)),
                color: None
            ),
            right: (
                vox_spec: ("armor.cloth_blue.hand", (-1.5, -1.5, -2.5)),
                color: None
            )
        ),
        "common.items.armor.cloth_green.hand": (
            left: (
                vox_spec: ("armor.cloth_green.hand", (-1.5, -1.5, -2.5)),
                color: None
            ),
            right: (
                vox_spec: ("armor.cloth_green.hand", (-1.5, -1.5, -2.5)),
                color: None
            )
        ),
        "common.items.armor.cultist.hand": (
            left: (
                vox_spec: ("armor.cultist.hand", (-3.0, -1.5, -2.5)),
                color: Some((30, 0, 64))
            ),
            right: (
                 vox_spec: ("armor.cultist.hand", (-2.0, -1.5, -2.5)),
                color: Some((30, 0, 64))
            )
        ),
        "common.items.armor.leather_plate.hand": (
            left: (
                vox_spec: ("armor.leather_plate.hand", (-1.5, -1.5, -2.5)),
                color: None
            ),
            right: (
                vox_spec: ("armor.leather_plate.hand", (-1.5, -1.5, -2.5)),
                color: None
            )
        ),
        "common.items.armor.twigs.hand": (
            left: (
                vox_spec: ("armor.twigs.hand", (-1.5, -1.5, -2.5)),
                color: None
            ),
            right: (
                vox_spec: ("armor.twigs.hand", (-1.5, -1.5, -2.5)),
                color: None
            )
        ),
        "common.items.armor.twigsleaves.hand": (
            left: (
                vox_spec: ("armor.twigsleaves.hand", (-1.5, -1.5, -2.5)),
                color: None
            ),
            right: (
                vox_spec: ("armor.twigsleaves.hand", (-1.5, -1.5, -2.5)),
                color: None
            )
        ),
        "common.items.armor.twigsflowers.hand": (
            left: (
                vox_spec: ("armor.twigsflowers.hand", (-1.5, -1.5, -2.5)),
                color: None
            ),
            right: (
                vox_spec: ("armor.twigsflowers.hand", (-1.5, -1.5, -2.5)),
                color: None
            )
        ),
        "common.items.armor.tarasque.hand": (
            left: (
                vox_spec: ("armor.tarasque.hand", (-2.5, -2.5, -2.5)),
                color: None
            ),
            right: (
                vox_spec: ("armor.tarasque.hand", (-2.5, -2.5, -2.5)),
                color: None
            )
        ),
        "common.items.armor.bonerattler.hand": (
            left: (
                vox_spec: ("armor.bonerattler.hand", (-1.5, -1.5, -2.5)),
                color: None
            ),
            right: (
                vox_spec: ("armor.bonerattler.hand", (-1.5, -1.5, -2.5)),
                color: None
            )
        ),
        "common.items.armor.velorite_mage.hand": (
            left: (
                vox_spec: ("armor.velorite_battlemage.hand", (-2.5, -1.5, -2.5)),
                color: None
            ),
            right: (
                vox_spec: ("armor.velorite_battlemage.hand", (-2.5, -1.5, -2.5)),
                color: None
            )
        ),
        "common.items.debug.cultist_hands_blue": (
            left: (
                vox_spec: ("armor.velorite_battlemage.hand", (-2.5, -1.5, -2.5)),
                color: None
            ),
            right: (
                vox_spec: ("armor.velorite_battlemage.hand", (-2.5, -1.5, -2.5)),
                color: None
            )
        ),
        "common.items.armor.hide.rawhide.hand": (
            left: (
                vox_spec: ("armor.hide.rawhide.hand", (-1.5, -1.5, -2.5)),
                color: None
            ),
            right: (
                vox_spec: ("armor.hide.rawhide.hand", (-1.5, -1.5, -2.5)),
                color: None
            )
        ),
        "common.items.armor.hide.leather.hand": (
            left: (
                vox_spec: ("armor.hide.leather.hand", (-1.5, -1.5, -2.5)),
                color: None
            ),
            right: (
                vox_spec: ("armor.hide.leather.hand", (-1.5, -1.5, -2.5)),
                color: None
            )
        ),
        "common.items.armor.hide.scale.hand": (
            left: (
                vox_spec: ("armor.hide.scale.hand", (-3.5, -1.5, -2.5)),
                color: None
            ),
            right: (
                vox_spec: ("armor.hide.scale.hand", (-1.5, -1.5, -2.5)),
                color: None
            )
        ),
        "common.items.armor.hide.carapace.hand": (
            left: (
                vox_spec: ("armor.hide.carapace.hand", (-3.5, -2.5, -3.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.hide.carapace.hand", (-1.5, -2.5, -3.0)),
                color: None
            )
        ),
        "common.items.armor.hide.primal.hand": (
            left: (
                vox_spec: ("armor.hide.primal.hand", (-3.5, -3.5, -4.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.hide.primal.hand", (-1.5, -3.5, -4.0)),
                color: None
            )
        ),
        "common.items.armor.hide.dragonscale.hand": (
            left: (
                vox_spec: ("armor.hide.dragonscale.hand", (-5.0, -1.5, -3.5)),
                color: None
            ),
            right: (
                vox_spec: ("armor.hide.dragonscale.hand", (-2.0, -1.5, -3.5)),
                color: None
            )
        ),
        "common.items.armor.savage.hand": (
            left: (
                vox_spec: ("armor.savage.hand", (-2.5, -3.0, -4.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.savage.hand", (-1.5, -3.0, -4.0)),
                color: None
            )
        ),
        "common.items.armor.witch.hand": (
            left: (
                vox_spec: ("armor.witch.hand", (-2.5, -2.5, -4.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.witch.hand", (-1.5, -2.5, -4.0)),
                color: None
            )
        ),
        "common.items.armor.pirate.hand": (
            left: (
                vox_spec: ("armor.pirate.hand", (-2.5, -2.5, -4.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.pirate.hand", (-1.5, -2.5, -4.0)),
                color: None
            )
        ),
        "common.items.armor.blacksmith.hand": (
            left: (
                vox_spec: ("armor.blacksmith.hand", (-1.5, -2.5, -4.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.blacksmith.hand", (-1.5, -2.5, -4.0)),
                color: None
            )
        ),
        "common.items.armor.cloth.linen.hand": (
            left: (
                vox_spec: ("armor.cloth.linen.hand", (-1.5, -2.0, -3.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.cloth.linen.hand", (-1.5, -2.0, -3.0)),
                color: None
            )
        ),
        "common.items.armor.cloth.woolen.hand": (
            left: (
                vox_spec: ("armor.cloth.woolen.hand", (-2.5, -2.5, -3.5)),
                color: None
            ),
            right: (
                vox_spec: ("armor.cloth.woolen.hand", (-2.5, -2.5, -3.5)),
                color: None
            )
        ),
        "common.items.armor.cloth.silken.hand": (
            left: (
                vox_spec: ("armor.cloth.silken.hand", (-2.5, -2.5, -4.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.cloth.silken.hand", (-1.5, -2.5, -4.0)),
                color: None
            )
        ),
        "common.items.armor.cloth.druid.hand": (
            left: (
                vox_spec: ("armor.cloth.druid.hand", (-2.5, -1.0, -3.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.cloth.druid.hand", (-1.5, -1.0, -3.0)),
                color: None
            )
        ),
        "common.items.armor.cloth.moonweave.hand": (
            left: (
                vox_spec: ("armor.cloth.moonweave.hand", (-2.5, -2.0, -4.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.cloth.moonweave.hand", (-1.5, -2.0, -4.0)),
                color: None
            )
        ),
        "common.items.armor.cloth.sunsilk.hand": (
            left: (
                vox_spec: ("armor.cloth.sunsilk.hand", (-2.5, -2.5, -4.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.cloth.sunsilk.hand", (-1.5, -2.5, -4.0)),
                color: None
            )
        ),
        "common.items.armor.mail.bronze.hand": (
            left: (
                vox_spec: ("armor.mail.bronze.hand", (-2.5, -2.0, -3.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.mail.bronze.hand", (-1.5, -2.0, -3.0)),
                color: None
            )
        ),
        "common.items.armor.mail.iron.hand": (
            left: (
                vox_spec: ("armor.mail.iron.hand", (-1.5, -1.5, -3.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.mail.iron.hand", (-1.5, -1.5, -3.0)),
                color: None
            )
        ),
        "common.items.armor.mail.steel.hand": (
            left: (
                vox_spec: ("armor.mail.steel.hand", (-2.5, -1.0, -4.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.mail.steel.hand", (-1.5, -1.0, -4.0)),
                color: None
            )
        ),
        "common.items.armor.mail.cobalt.hand": (
            left: (
                vox_spec: ("armor.mail.cobalt.hand", (-2.5, -2.0, -4.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.mail.cobalt.hand", (-1.5, -2.0, -4.0)),
                color: None
            )
        ),
        "common.items.armor.mail.bloodsteel.hand": (
            left: (
                vox_spec: ("armor.mail.bloodsteel.hand", (-5.0, -1.0, -4.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.mail.bloodsteel.hand", (-1.0, -1.0, -4.0)),
                color: None
            )
        ),
        "common.items.armor.mail.orichalcum.hand": (
            left: (
                vox_spec: ("armor.mail.orichalcum.hand", (-4.5, -2.0, -4.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.mail.orichalcum.hand", (-1.5, -2.0, -4.0)),
                color: None
            )
        ),
        "common.items.armor.cardinal.hand": (
            left: (
                vox_spec: ("armor.cardinal.hand", (-2.5, -2.5, -4.0)),
                color: None
            ),
            right: (
                vox_spec: ("armor.cardinal.hand", (-1.5, -2.5, -4.0)),
                color: None
            )
        ),
        "common.items.armor.merchant.hand": (
            left: (
                vox_spec: ("armor.merchant.hand", (-2.5, -2.0, -4.0)),
                color: None
            ),
            right:(
                vox_spec: ("armor.merchant.hand", (-1.5, -2.0, -4.0)),
                color: None
            )
        ),
    },
))
