((
    default: (
        vox_spec: ("armor.empty", (0.0, 0.0, 0.0)),
        color: None
    ),
    map: {
        "common.items.glider.cloverleaf": (
            vox_spec: ("glider.starter", (-15.0, -5.0, 0.0)),
            color: None
        ),
        "common.items.glider.basic_white": (
            vox_spec: ("glider.basic_white", (-25.0, -20.0, 0.0)),
            color: None
        ),
        "common.items.glider.basic_red": (
            vox_spec: ("glider.basic_red", (-25.0, -20.0, 0.0)),
            color: None
        ),
        "common.items.glider.blue": (
            vox_spec: ("glider.blue", (-26.0, -26.0, 0.0)),
            color: None
        ),
        "common.items.glider.morpho": (
            vox_spec: ("glider.butterfly1", (-26.0, -13.0, 0.0)),
            color: None
        ),
        "common.items.glider.monarch": (
            vox_spec: ("glider.butterfly2", (-26.0, -13.0, 0.0)),
            color: None
        ),
        "common.items.glider.butterfly3": (
            vox_spec: ("glider.butterfly3", (-26.0, -13.0, 0.0)),
            color: None
        ),
        "common.items.glider.moth": (
            vox_spec: ("glider.moth", (-26.0, -22.0, 0.0)),
            color: None
        ),
        "common.items.glider.sandraptor": (
            vox_spec: ("glider.sandraptor", (-26.0, -25.0, 0.0)),
            color: None
        ),
        "common.items.glider.snowraptor": (
            vox_spec: ("glider.snowraptor", (-26.0, -25.0, 0.0)),
            color: None
        ),
        "common.items.glider.woodraptor": (
            vox_spec: ("glider.woodraptor", (-26.0, -25.0, 0.0)),
            color: None
        ),
        "common.items.glider.sunset": (
            vox_spec: ("glider.sunset", (-26.0, -26.0, 0.0)),
            color: None
        ),
        "common.items.glider.moonrise": (
            vox_spec: ("glider.moonrise", (-26.0, -26.0, 0.0)),
            color: None
        ),
        "common.items.glider.skullgrin": (
            vox_spec: ("glider.cultists", (-26.0, -26.0, 0.0)),
            color: None
        ),
        "common.items.glider.leaves": (
            vox_spec: ("glider.leaves", (-26.0, -26.0, 0.0)),
            color: None
        ),
        "common.items.glider.winter_wings": (
            vox_spec: ("glider.winter_wings", (-26.0, -26.0, 0.0)),
            color: None
        ),
    },
))
