Item(
    name: "Vicious Gladius",
    description: "    
    Power: 15",
    kind: Tool(
        ToolData (
            kind: Sword(Short0),    
            equip_time_millis: 800,
        )
    ),
)
