Item(
    name: "Sturdy Old Hammer",
    description: "'Property of...' The rest is missing. ",
    kind: Tool(
        ToolData (
            kind: Hammer,    
            equip_time_millis: 1000,
        )
    ),
)
