Item(
    name: "Wooden Training Sword",
    description: "    
    Power: 15",
    kind: Tool(
        ToolData (
            kind: Sword(Zweihander0),    
            equip_time_millis: 800,
        )
    ),
)
