ItemDef(
    legacy_name: "Freezing Potion",
    legacy_description: "Freezes the user's brain",
    kind: Consumable(
        kind: Drink,
        effects: All([
            Buff((
                kind: Frozen,
                data: (
                    strength: 0.1,
                    duration: Some(30)
                ),
                cat_ids: [Natural],
            )),
            Buff((
                kind: PotionSickness,
                data: (
                    strength: 0.15,
                    duration: Some(30),
                ),
                cat_ids: [Natural],
            )),
        ]),
        container: Some(Simple("common.items.crafting_ing.empty_vial")),
    ),
    quality: Moderate,
    tags: [Potion],
)
