ItemDef(
    name: "Swiftness Potion",
    description: "Watch the walls!",
    kind: Consumable(
        kind: Drink,
        effects: All([
            Buff((
                kind: Swiftness,
                data: (
                    strength: 1.25,
                    duration: Some(15),
                ),
                cat_ids: [Natural],
            )),
            Buff((
                kind: PotionSickness,
                data: (
                    strength: 0.33,
                    duration: Some(45),
                ),
                cat_ids: [Natural],
            )),
        ])
    ),
    quality: Moderate,
    tags: [Potion],
)
