ItemDef(
    name: "Medium Potion",
    description: "",
    kind: Consumable(
        kind: Drink,
        effect: [
            Buff((
                kind: Potion,
                data: (
                    strength: 750.0,
                    duration: Some((
                            secs: 1,
                            nanos: 0,
                        )),
                    ),
                cat_ids: [Natural],
            )),
        ]
    ),
    quality: Common,
    tags: [Potion],
)
