[
    (0.004, Item("common.items.lantern.pumpkin")),
    (2.0, LootTable("common.loot_tables.materials.common")),
    (0.1, Item("common.items.armor.misc.ring.gold")),
    (1.0, LootTable("common.loot_tables.weapons.components.tier-3")),
    (0.1, LootTable("common.loot_tables.weapons.components.tier-4")),
    (1.5, LootTable("common.loot_tables.food.prepared")),
    (0.05, Item("common.items.armor.witch.hat")),
]