/// CUIDADO: Arquivos de tradução devem ser criados no formato UTF-8 sem Marca de Ordem de byte - BOM(https://pt.wikipedia.org/wiki/Marca_de_ordem_de_byte)

/// Localization for Portuguese (Brazil)
(
    string_map: {
        // Buffs
        "buff.remove": "Clique Para Remover",
        "buff.title.missing": "Título Ausente",
        "buff.desc.missing": "Descrição Ausente",
        "buff.title.heal": "Cura",
        "buff.desc.heal": "Ganha vida no decorrer do tempo.",
        "buff.title.potion": "Poção",
        "buff.desc.potion": "Tomando...",
        "buff.title.saturation": "Saturação",
        "buff.desc.saturation": "Ganha vida no decorrer do tempo através de consumíveis.",
        "buff.title.campfire_heal": "Cura de Acampamento",
        "buff.desc.campfire_heal": "Descansar próximo a uma fogueira de acampamento cura {rate}% de vida por segundo.",
        "buff.title.invulnerability": "Invulnerabilidade",
        "buff.desc.invulnerability": "Você não receberá dano de nenhum ataque.",
        "buff.title.protectingward": "Guardião Protetor",
        "buff.desc.protectingward": "Você está protegido, de alguma forma, de ataques.",
        "buff.title.frenzied": "Frenético",
        "buff.desc.frenzied": "Você é imbuído de um deslocamento descomunal e ignora pequenas lesões.",
        // Debuffs
        "buff.title.bleed": "Sangramento",
        "buff.desc.bleed": "Inflige Dano contínuo.",
        "buff.title.cursed": "Maldição",
        "buff.desc.cursed": "Você está amaldiçoado.",
        "buff.title.burn": "Em Chamas",
        "buff.desc.burn": "Você está queimando vivo",
        "buff.title.crippled": "Manco",
        "buff.desc.crippled": "Seu movimento está reduzido pois suas pernas estão severamente feridas.",
        "buff.title.frozen": "Congelado",
        "buff.desc.frozen": "Seus movimentos e ataques estão mais lentos.",
        "buff.title.wet": "Molhado",
        "buff.desc.wet": "O chão desliza em sob seus pés, ficando difícil parar.",
        "buff.title.ensnared": "Enredado",
        "buff.desc.ensnared": "Trepadeiras agarram suas pernas, impedindo seus movimentos.",
        // Buffs stats
        "buff.stat.health": "Restaura {str_total} de Vida",
        "buff.stat.increase_max_stamina": "Aumenta a Stamina Máxima em {strength}",
        "buff.stat.increase_max_health": "Aumenta a Vida Máxima em {strength}",
        "buff.stat.invulnerability": "Concede invulnerabilidade",
        // Text
        "buff.text.over_seconds": "durante {dur_secs} segundos",
        "buff.text.for_seconds": "durante {dur_secs} segundos",
    },


    vector_map: {
    }
)
