ItemDef(
    legacy_name: "Sea Bishop Sceptre",
    legacy_description: "Hits like a wave.",
    kind: Tool((
        kind: Sceptre,
        hands: Two,
        stats: (
            equip_time_secs: 0.4,
            power: 1.2,
            effect_power: 0.8,
            speed: 1.2,
            range: 1.0,
            energy_efficiency: 1.0,
            buff_strength: 1.0,
        ),
    )),
    quality: Epic,
    tags: [],
    ability_spec: Some(Custom("Sea Bishop")),
)