[
    (0.25, Item("common.items.WECW.caladbolgG")),
    (0.5, Item("common.items.WECW.forgottenaxe")),
    (1.0, Item("common.items.WECW.bow")),
    (1.0, Item("common.items.WECW.darkaxe")),
    (0.5, Item("common.items.WECW.darkhammer")),
    (0.5, Item("common.items.WECW.darksteel")),
    (0.25, Item("common.items.WECW.holysword")),
    (1.0, Item("common.items.WECW.stormgreatsword")),
    (0.5, Item("common.items.WECW.mindflayer")),
    (0.25, Item("common.items.WECW.skullchest")),
    (0.25, Item("common.items.WECW.skullpants")),
    (0.25, Item("common.items.WECW.skullhand")),
    (0.25, Item("common.items.WECW.skullfoot")),
    (0.25, Item("common.items.WECW.skullshoulder")),
    (0.25, Item("common.items.WECW.skullbelt")),
    (0.25, Item("common.items.WECW.skullback")),
    (0.25, Item("common.items.WECW.skullg2")),
    (0.25, Item("common.items.WECW.exneck")),
    (0.5, Item("common.items.WECW.dark.skullg")),
    (0.5, Item("common.items.WECW.dark.dg")),
]