[
    (1.0, ModularWeapon(tool: Sword, material: Bloodsteel, hands: None)),
    (1.0, ModularWeapon(tool: Axe, material: Bloodsteel, hands: None)),
    (1.0, ModularWeapon(tool: Hammer, material: Bloodsteel, hands: None)),
    (1.0, ModularWeapon(tool: Bow, material: Frostwood, hands: None)),
    (1.0, ModularWeapon(tool: Staff, material: Frostwood, hands: None)),
    (1.0, ModularWeapon(tool: Sceptre, material: Frostwood, hands: None)),
]