ItemDef(
    name: Component("Balanced Staff Piece"),
    description: "",
    kind: ModularComponent((
        toolkind: Staff,
        modkind: Damage,
        stats: (
            equip_time_secs: 0.25,
            power: 1.0,
            effect_power: 1.0,
            speed: 1.0,
            crit_chance: 0.2,
            range: 1.0,
            energy_efficiency: 1.0,
            buff_strength: 1.0,
        ),
        hand_restriction: Some(Two),
        weapon_name: "Balanced Staff",
    )),
    quality: Modular,
    tags: [
        ModularComponent((toolkind: Staff, modkind: Damage, hands: Two)),
    ],
)

