SelfBuff(
    buildup_duration: 0.4,
    cast_duration: 0.3,
    recover_duration: 0.3,
    buff_kind: Reckless,
    buff_strength: 0.25,
    buff_duration: Some(20.0),
    energy_cost: 20,
    meta: (
        requirements: (stance: Some(Sword(Cleaving))),
    ),
)
