RapidMelee(
    buildup_duration: 0.2,
    swing_duration: 0.2,
    recover_duration: 0.5,
    melee_constructor: (
        kind: Slash(
            damage: 4.25,
            poise: 1,
            knockback: 0,
            energy_regen: 0,
        ),
        range: 3.5,
        angle: 360.0,
        multi_target: Some(Normal),
        simultaneous_hits: 2,
    ),
    energy_cost: 6,
    max_strikes: Some(2),
    ori_modifier: 0.2,
    move_modifier: 1.0,
    meta: (
        init_event: Some(EnterStance(Sword(Cleaving))),
    ),
)
