DashMelee(
    energy_cost: 100,
    base_damage: 80,
    scaled_damage: 160,
    base_poise_damage: 0,
    scaled_poise_damage: 60,
    base_knockback: 8.0,
    scaled_knockback: 7.0,
    range: 4.0,
    angle: 60.0,
    energy_drain: 300,
    forward_speed: 3.0,
    buildup_duration: 0.25,
    charge_duration: 1.2,
    swing_duration: 0.1,
    recover_duration: 0.5,
    charge_through: true,
    is_interruptible: true,
    damage_kind: Piercing,
)
