BasicBlock(
    buildup_duration: 1.0,
    recover_duration: 0.5,
    max_angle: 45.0,
    block_strength: 0.8,
    parry_window: (
        buildup: true,
        recover: true,
    ),
    energy_cost: 10.0,
    meta: (
        kind: Some(Sword(Parrying)),
    ),
)