/// WARNING: Localization files shall be saved in UTF-8 format without BOM

/// Localization for RUS
(
    string_map: {
    },

    vector_map: {
        "npc.speech.villager": [
            "Я люблю сыр.",
        ],
        "npc.speech.villager_open": [
            "Интересно, что думает Catoblepas когда ест траву.", 
            "Как ты думаешь, что заставляет Glowing Remains светься?",
            "Ты когда-нибудь слышал о свирепых Land Sharks? Я слышал, они живут в пустынях.",
            "Интересно, что там по ту сторону гор.",
            "Я оставил немного сыра у родни. Теперь я не знаю, съеден сыр или нет. Я называю его сыром Шредингера.",  
            "Ты когда-нибудь ловил светлячков?",
            "Ходит тут один, то ли креветка, то ли кетка. Не видел такого?",
            "Говорят, в пещерах можно найти блестящие драгоценные камни всех видов.",
            "Я не могу понять, откуда приходят эти Sauroks.",
        ],
        "npc.speech.villager_adventurous": [
            "Я надеюсь, что однажды смогу собрать свой собственный дельтаплан.",
            "Я бы хотел исследовать пещеры, когда стану сильнее.",
        ],
        "npc.speech.villager_closed": [
            "Ты не из местных, не так ли?",
            "Ты не думаешь что наша деревня лучшая?",
            "Говорят грибы полезный для здоровья. Никогда не ел их.",
            "Быть или не быть? Я думаю, что буду фермером.",
        ],
        "npc.speech.villager_conscientious": [
            "Я все время занят. Всегда найду чем заняться.",
            "Надеюсь скоро пойдет дождь. Это было бы здорово для урожая.",
        ],
        "npc.speech.villager_busybody": [
            "Людям надо меньше болтать и больше работать.",
        ],
        "npc.speech.villager_unconscientious": [
            "Я думаю сейчас время для второго завтрака!",
            "Я бы хотел чтобы в моём доме небыло беспорядка. Но мне для этого надо было бы прибраться! Ха-ха!",
            "Где же я ее оставил...",
        ],
        "npc.speech.villager_extroverted": [
            "Ты не поверишь, что я делал в эти выходные!",
            "Доброго утра тебе!",
            "Как вам погода?",
            "Я просто помешан на сыре!",
            "Не забудь про печенье!",
            "Я просто обожаю сыр дворфов. Я бы хотел научиться его готовить.",
            "Мне приснился чудесный сон о сыре прошлой ночью. Что бы это значило?",
            "Я люблю мёд! И ненавижу пчёл.",
        ],
        "npc.speech.villager_sociable": [
            "Не хочешь заглянуть? Мы как раз собирались покушать сыра!",
            "Не хочешь глянуть на мой сад? Окей, в другой раз.",
        ],
        "npc.speech.villager_introverted": [
            "Привет.",
            "А, я? Да я тут так.",
        ],
        "npc.speech.villager_agreeable": [
            "Как твои дела сегодня?",
            "Если тебе что-то надо, просто скажи.",
            "Не видел моего кота?",
        ],
        "npc.speech.villager_worried": [
            "Будь осторожен, хорошо? Вокруг много опасностей.",
        ],
        "npc.speech.villager_disagreeable": [
            "Я говорю напрямую. Если людям это не нравится, очень плохо.",
            "Люди очень обидчивые.",
        ],
        "npc.speech.villager_neurotic": [
            "Мысли об этих подземельях пугают меня. Надеюсь их кто-нибудь зачистит.",
             "Кто-то должен что-то сделать с этими культистами. Желательно не я.",
            "Я чувствую, что произойдет что-то плохое.",
            "Я бы хотел чтобы кто-нибудь отогнал волков подальше от деревни.",
        ],
        "npc.speech.villager_sad_loner": [
            "Я так одинок.",
            "... Извини за это неловкое молчание. Мне не по душе компания.",
        ],
        "npc.speech.villager_seeker": [
            "Я хочу когда-нибудь увидеть весь мир. В жизни должно быть что-то большее, чем эта деревня.",
        ],
        "npc.speech.villager_stable": [
            "Разве этот день не прекрасен?",
            "Жизнь не так уж и плоха.",
            "Прекрасный день для прогулки по лесу!",
        ],
        "npc.speech.villager_decline_trade": [
            "Извини, мне нечем с тобой торговать.",
            "Торговля? Как будто у меня есть что-то, что может тебя заинтересовать.",
            "Мой дом - моя собственность, я не хочу продавать его.",
        ],
         "npc.speech.merchant_advertisement": [
            "Могу ли я заинтересовать вас сделкой?",
            "Ты хочешь со мной поторговать?",
            "У меня много товаров, не хочешь взглянуть?"
        ],
        "npc.speech.merchant_busy": [
            "Пожалуйста подожди, я здесь один на всех.",
            "Минутку, дай мне закончить.",
            "Я занят, зайди попозже."
        ],
        "npc.speech.merchant_busy_rude": [
            "Эй, жди своей очереди.",
            "Ты не видишь другого человека перед собой?",
            "Не лезь вне очереди.",
        ],
        "npc.speech.merchant_trade_successful": [
            "Спасибо, что торгуешь со мной!",
            "Спасибо тебе!",
        ],
        "npc.speech.merchant_trade_declined": [
            "Может в другой раз, хорошего дня!",
            "Жаль, тогда, может быть, в следующий раз!"                    
        ],
        "npc.speech.villager_cultist_alarm": [
            "Берегись! На свободе разгуливает культист!",
            "К оружию! Культисты атакуют!",
            "Как посмели культисты напасть на нашу деревню!",
            "Смерть культистам!",
            "Культистов здесь не потерпят!",
            "Кровожадный культист!",
            "Попробуй на вкус острие моего меча, грязный культист!",
            "Ничего не сможет смыть кровь с твоих рук, культист!",
            "Миллиарды пузырящихся синих ракушек! Культист среди нас!",
            "Зло этого культиста вот-вот закончится!",
            "Этот культист мой!",
            "Приготовься встретить своего создателя, грязный культист!",
            "Я вижу культиста! Схватите его!",
            "Я вижу культиста! В атаку!",
            "Я вижу культиста! Не дайте им сбежать!",
            "Будет ли самый почтенный культист заботиться о какой-то СМЕРТИ?!",
            "Никогда не прощу! Никогда не забуду! Культист, сожалею!",
            "Умри, культист!",
            "Ваше царство террора захвачено!",
            "Вот тебе за все, что ты сделал!",
            "Мы не очень хорошо относимся к вашим людям здесь.",
            "Тебе следовало оставаться под землей!",
        ],
        "npc.speech.villager_under_attack": [
            "Помогите, Меня атакуют!",
            "Помогите! Меня атакуют!",
            "Оуч, Меня атакуют!",
            "Оуч, Меня атакуют! Помогите!",
            "Помоги мне! Меня атакуют!",
            "Меня атакуют! Помогите!",
            "Меня атакуют! Помогите мне!",
            "Помогите!",
            "Помогите! Помогите!",
            "Помогите! Помогите! Помогите!",
            "Меня атакуют!",
            "АААААА! Меня атакуют!",
            "АААААА! Меня атакуют! Помогите!",
            "Помогите! Мы атакованны!",
            "Помогите! Убийца!",
            "Помогите! Убийца на свободе!",
            "Помогите! Они пытаются меня убить!",
            "Стража, Меня атакуют!",
            "Стража! Меня атакуют!",
            "Меня атакуют! Стража!",
            "Помогите! Стража! Меня атакуют!",
            "Стража! Скорее!",
            "Стража! Стража!",
            "Стража! Этот злодей бьёт меня!",
            "Стража, Схватите этого негодяя!",
            "Стража! Здесь убийца!",
            "Стража! Помогите мне!",
            "Тебе это не сойдет с рук! Стража!",
            "Ты изверг!",
            "Помогите мне!",
            "Помогите! Пожалуйста!",
            "Ой! Стража! Помогите!",
            "Они идут за мной!",
            "Помогите! Помогите! Меня постигла расплата!",
            "Ах, теперь мы видим насилие, присущее системе.",
            "Это всего лишь царапина!",
            "Остановитесь!",
            "Что я тебе сделал?!",
            "Пожалуйста, не бей!",
            "Эй! Смотри, куда направляешь эту штуку",
            "Гнусный негодяй, проваливай отсюда!",
            "Прекрати! Уходи!",
            "Ты уже достал!",
            "Эй! Что ты возомнил о себе?!",
            "Я тебе башку оторву!",
            "Остановись пожалуйста. У меня ничего нет!",
            "Я позову брата, он больше меня",
            "Нет! Я расскажу маме!",
            "Будь ты проклят!",
            "Пожалуйста, не делай этого.",
            "Это не приятно!",
            "Ваше оружие работает, вы можете убрать его прямо сейчас!",
            "Пощади!",
            "Пожалуйста, у меня семья!",
            "Я слишком молод чтобы умереть!",
            "Может договоримся?",
            "Насилие не выход!",
            "Сегодня выдался плохой день...",
            "Эй, это больно!",
            "Ик!",
            "Как грубо!",
            "Остановись, прошу тебя!",
            "Чтоб ты сдох!",
            "Это не смешно.",
            "Как ты смеешь?!",
            "Ты заплатишь за это!",
            "Ты об этом пожалеешь!",
            "Не заставляй меня делать тебе больно!",
            "Произошла какая то ошибка!",
            "Не делай этого!",
            "Изыди, дьявол",
            "Это очень больно!",
            "Зачем ты это сделал?",
            "Ради всего святого, прекрати!",
            "Ты меня перепутал с кем то",
            "Я не заслуживаю этого!",
            "Пожалуйста, больше так не делай.",
            "Стража, утопите этого монстра в озере!",
            "Я натравлю своего tarasque на тебя!",
            "Почему я?",
        ],
        "npc.speech.villager_enemy_killed": [
            "Я уничтожил врага!",
            "Наконец-то мир!",
            "... что же я наделал?",
            ],
        "npc.speech.menacing": [
            "Я предупреждаю тебя!",
            "Ещё шаг и я атакую!",
            "Ты не пугаешь меня!",
            "Уходи отсюда!",
            "Разворачивайся, если хочешь жить!",
            "Тебе тут не рады!",
        ],
        "npc.speech.cultist_low_health_fleeing": [
            "Не бегство - а отступление!",
            "Отступаем!",
            "Проклинаю тебя!",
            "Я прокляну тебя в следующей жизни!",
            "Я должен передохнуть!",
            "Они слишком сильны!",
        ]
    }
)
