#![enable(unwrap_newtypes)]

[
    (
        specifier: "world.structure.dwarven_quarry.prefab.dwarven_quarry-6-flamekeeper_room",
        center: (20, 17, 0),
        custom_indices: {
            8: Filled(Air, (r: 255, g: 255, b: 255)),
            212: Sprite(DoorBars), // half open Gate
            213: KeyholeBars("common.items.utility.lockpick_0"),
            224: Sprite(KeyDoor),
            187: Keyhole("common.items.utility.lockpick_0"), // Lockpick
            224: Sprite(KeyDoor),
            215: Filled(Lava, (r: 212, g: 91, b: 0)),
            136: Sprite(Lantern),
            207: Filled(Water, (r: 53, g: 112, b: 137)),
         },
    ),
]
