#![enable(unwrap_newtypes)]

[
    (
        specifier: "world.structure.dwarven_quarry.prefab.dwarven_quarry-7-mining_site",
        center: (11, 10, 0),
        custom_indices: {
            8: Filled(Air, (r: 255, g: 255, b: 255)),
            212: Filled(Air, (r: 255, g: 255, b: 255)), // half open Gate
            179: Filled(GlowingRock, (r: 76, g: 72, b: 178)),
            187: Filled(GlowingRock, (r: 62, g: 59, b: 146)),
            128: Sprite(Candle),
            136: Sprite(Lantern),
            216: Sprite(KeyDoor),
            213: Keyhole("common.items.keys.quarry_keys.miner_key"),
         },
    ),
]
