EntityConfig (
    name: Some("Yeti"),
    body: Some(RandomWith("yeti")),

    loot: Some(LootTable("common.loot_tables.dungeon.tier-1.boss")),

    main_tool: None,
    second_tool: None,

    loadout_asset: None,
    skillset_asset: None,
)
