EntityConfig (
    name: Some("Yeti"),
    body: RandomWith("yeti"),
    alignment: Alignment(Enemy),

    loot: LootTable("common.loot_tables.dungeon.tier-1.boss"),

    hands: Uninit,

    meta: [],
)
