ItemDef(
    name: "Iron and Leather Spaulders",
    description: "Leather inset with heavy iron spikes provide solid protection to the wearer.",
    kind: Armor((
        kind: Shoulder("IronLeather1"),
        stats: (
            protection: Normal(9.0),
            poise_resilience: Normal(0.0),
            energy_max: 0,
            energy_recovery: 0.0,
            crit_power: 0.0,
            stealth: 0.0,
        ),
    )),
    quality: Common,
    tags: [
        Material((
            material: Leather,
        )),
    ],
)