#![enable(implicit_some)]
(
    name: Automatic,
    body: RandomWith("adlet_elder"),
    alignment: Alignment(Enemy),
    loot: LootTable("common.loot_tables.dungeon.adlet.elder"),
    inventory: (
        loadout: FromBody,
    ),
    meta: [],
)