#![enable(implicit_some)]
(
    name: Automatic,
    body: RandomWith("eagle"),
    alignment: Alignment(Wild),
    loot: LootTable("common.loot_tables.creature.bird_medium"),
    inventory: (
        loadout: FromBody,
    ),
    meta: [],
)