EntityConfig (
    name: Automatic,
    body: RandomWith("moose"),
    alignment: Alignment(Wild),

    loot: LootTable("common.loot_tables.creature.quad_medium.generic"),

    hands: Uninit,

    meta: [],
)
