#![enable(implicit_some)]
(
    name: Name("Desert Hare"),
    body: Exact(QuadrupedSmall((
        species: Hare,
        body_type: Male,
    ))),
    alignment: Alignment(Wild),
    loot: LootTable("common.loot_tables.creature.quad_small.fur"),
    inventory: (
        loadout: FromBody,
    ),
    meta: [],
)