#![enable(implicit_some)]
(
    name: Automatic,
    body: RandomWith("skunk"),
    alignment: Alignment(Wild),
    loot: LootTable("common.loot_tables.creature.quad_small.fur"),
    inventory: (
        loadout: FromBody,
    ),
    meta: [],
)