ItemDef(
    legacy_name: "",
    legacy_description: "",
    kind: RecipeGroup(
        recipes: [
            "bloodsteel_ingot",
            "bloodsteel_weapons",
        ],
    ),
    quality: Common,
    tags: [],
)
