ItemDef(
    legacy_name: "",
    legacy_description: "",
    kind: RecipeGroup(
        recipes: [
            "orichalcum_ingot",
            "orichalcum_weapons",
        ],
    ),
    quality: Legendary,
    tags: [],
)
