ItemDef(
    name: Direct("Bloodsteel Sabatons"),
    description: "Forged to preserve life, at the cost of another.",
    kind: Armor((
        kind: Foot("Bloodsteel"),
        stats: (
            protection: Some(Normal(20.0)),
            poise_resilience: Some(Normal(5.0)),
        ),
    )),
    quality: Direct(Epic),
    tags: [
        Material(Bloodsteel),
        SalvageInto(Bloodsteel),
    ],
)