ItemDef(
    name: "Nsapo Axe",
    description: "Infused with blood.",
    kind: Tool((
        kind: Axe,
        hands: One,
        stats: (
            equip_time_secs: 0.4,
            power: 2.0,
            poise_strength: 1.0,
            speed: 0.8,
        ),
    )),
    quality: High,
    tags: [],
)