[
  (1.7, All([
            // coins are temporary placeholder for unique drops
            MultiDrop(Item("common.items.utility.coins"), 200, 500),
            MultiDrop(Item("common.items.log.eldwood"), 2, 6),
      ],
   )),
  (0.1, Item("common.items.weapons.axe.parashu")),
  (0.2, Item("common.items.armor.misc.neck.carcanet_of_wrath")),
]