ItemDef(
    name: "Fluffy Jackalope Slippers",
    description: "So warm and cozy!",
    kind: Armor((
        kind: Foot("Jackalope"),
        stats: (
            protection: Normal(0.0),
            poise_resilience: Normal(0.0),
            energy_max: 0,
            energy_reward: 0.0,
            crit_power: 0.0,
            stealth: 0.0,
        ),
    )),
    quality: High,
    tags: [
        Material(Linen)
    ],
)