ItemDef(
    name: Direct("Fluffy Jackalope Slippers"),
    description: "So warm and cozy!",
    kind: Armor((
        kind: Foot("Jackalope"),
        stats: (
        ),
    )),
    quality: High,
    tags: [
        Material(Linen),
        SalvageInto(Linen),
    ],
)