ItemDef(
    legacy_name: "Glass Key",
    legacy_description: "Used to open Glass Barriers. Will break after use.",
    kind: Utility(
        kind: Key,
    ),
    amount: 1,
    quality: Common,
    tags: [Utility],
)

