SpawnEntry (
    name: "Taiga forest wildlife.",
    note: "Search for them in taiga forests.",
    rules: [
        Pack(
            groups: [
                (1, (3, 7, "common.entity.wild.aggressive.wolf")),
            ],
            spawn_mode: Land,
            day_period: [Night, Morning, Noon, Evening],
        ),
    ],
)
