Item(
    name: "Bloodsteel Axe",
    description: "An axe forged from steel that thirsts for blood.",
    kind: Tool(
        (
            kind: Axe(BloodsteelAxe0),
            stats: (
                equip_time_millis: 400,
                power: 1.60,
            ),
        )
    ),
)
