ItemDef(
    name: "Discus Axe",
    description: "While the metal alloy is relatively cheap, the skill by which the axe head was formed is unparalleled.",
    kind: Tool(
        (
            kind: Axe("BronzeAxe1"),    
            stats: (
                equip_time_millis: 400,
                power: 1.00
                ),            
        )
    ),
    quality: Moderate,
)
