Item(
    name: "Iron Greataxe",
    description: "Forged from iron.",
    kind: Tool(
        (
            kind: Axe(IronAxe0),    
            stats: (
                equip_time_millis: 400,
                power: 1.20,
            ),
        )
    ),
)
