ItemDef(
    name: "Butcher's Axe",
    description: "This axe has a heavy iron head used to cleave nearly anything.",
    kind: Tool(
        (
            kind: Axe("IronAxe4"),    
            stats: (
                equip_time_millis: 400,
                power: 1.20
                ),            
        )
    ),
    quality: Moderate,
)
