ItemDef(
    legacy_name: "Malachite Axe",
    legacy_description: "Etched axe head decorated with malachite on the blades to provide magical properties.",
    kind: Tool((
        kind: Axe,
        hands: Two,
        stats: (
            equip_time_secs: 0.5,
            power: 1.75,
            effect_power: 1.3,
            speed: 0.8,
            range: 1.0,
            energy_efficiency: 1.3,
            buff_strength: 1.2,
        ),
    )),
    quality: Epic,
    tags: [],
    ability_spec: None,
)