ItemDef(
    name: "Beast Cleaver",
    description: "A rough cut axe created by orcs to cleave beasts in two.",
    kind: Tool(
        (
            kind: Axe("OrcAxe0"),    
            stats: (
                equip_time_millis: 400,
                power: 0.60),            
        )
    ),
    quality: Low,
)
