ItemDef(
    name: "钢战斧",
    description: "制作精良的金属合金斧头，比铁制斧头切割更干净.",
    kind: Tool((
        kind: Axe,
        hands: Two,
        stats: Direct((
            equip_time_secs: 0.4,
            power: 1.4,
            effect_power: 1.0,
            speed: 1.0,
            crit_chance: 0.12857144,
            range: 1.0,
            energy_efficiency: 1.0,
            buff_strength: 1.0,
        )),
    )),
    quality: Moderate,
    tags: [],
    ability_spec: None,
)