ItemDef(
    name: "Steel Battleaxe",
    description: "Well crafted metal alloy axe that slices more cleanly than its iron counterparts.",
    kind: Tool(
        (
            kind: Axe,    
            stats: (
                equip_time_millis: 400,
                power: 1.40
                ),            
        )
    ),
    quality: Moderate,
)
