[
    (1.0, Item("common.items.food.meat.beast_large_raw")),
    (1.0, Item("common.items.crafting_ing.hide.animal_hide")),
    (1.0, ItemQuantity("common.items.crafting_ing.animal_misc.fur", 1, 2)),
]