ItemDef(
    name: "Tarasque Chausses",
    description: "Fragmented tarasque shell tied together to form protective leg armor.",
    kind: Armor((
        kind: Pants,
        stats: FromSet("Tarasque"),
    )),
    quality: High,
    tags: [
        Material(Carapace),
    ],
)