ItemDef(
    legacy_name: "Sunsilk Kilt",
    legacy_description: "It radiates with the sun's power, and the grace to harness it.",
    kind: Armor((
        kind: Pants,
        stats: FromSet("Sunsilk"),
    )),
    quality: Legendary,
    tags: [
        Material(Sunsilk),
        SalvageInto(Sunsilk, 2),
    ],
)