ItemDef(
    name: "Sunsilk Shoulderwraps",
    description: "It radiates with the sun's power, and the grace to harness it.",
    kind: Armor((
        kind: Shoulder,
        stats: FromSet("Sunsilk"),
    )),
    quality: Legendary,
    tags: [
        Material(Sunsilk),
        SalvageInto(Sunsilk),
    ],
)