ItemDef(
    name: "Purple Linen Skirt",
    description: "A stylish, rough fabric skirt, dyed purple.",
    kind: Armor((
        kind: Pants("ClothPurple0"),
        stats: (
            protection: Normal(1.0),
            poise_protection: Normal(1.0),
        ),
    )),
    quality: Common,
)