ItemDef(
    name: "Purple Linen Skirt",
    description: "A rough fabric skirt provides little protection, dyed purple.",
    kind: Armor(
        (
            kind: Pants("ClothPurple0"),
            stats: (
                protection: Normal(1.0)),            
        )
    ),
    quality: Common,
)
