ItemDef(
    name: "Twig Pants",
    description: "Magically imbued twigs formed into links similar to chainmail.",
    kind: Armor((
        kind: Pants("Twig"),
        stats: (
            protection: Normal(12.0),
            poise_protection: Normal(9.0),
        ),
    )),
    quality: Moderate,
)