Item(
    name: "Blue Worker Pants",
    description: "Pants used by a farmer, until recently.",
    kind: Armor(
        (
            kind: Pants("WorkerBlue0"),
            stats: (
                protection: Normal(1.0),
            ),
        )
    ),
)
