BasicRanged(
    energy_cost: 0,
    buildup_duration: 1.2,
    recover_duration: 0.7,
    projectile: (
        kind: Explosive(
            radius: 3.5,
            min_falloff: 0.2,
            reagent: Some(Purple),
            terrain: Some((5, Black)),
        ),
        attack: Some((
            damage: 58,
            knockback: Some(1),
            energy: 0,
            buff: Some((
                kind: Poisoned,
                dur_secs: 5,
                strength: DamageFraction(0.8),
                chance: 1.0,
            )),
        )),
    ),
    projectile_body: Object(SpitPoison),
    projectile_speed: 25.0,
    num_projectiles: 1,
    projectile_spread: 0.3,
    move_efficiency: 0.3,
)