BasicMelee(
    energy_cost: 0,
    buildup_duration: 0.4,
    swing_duration: 0.05,
    hit_timing: 0.8,
    recover_duration: 0.9,
    melee_constructor: (
        kind: Slash(
            damage: 4,
            poise: 5,
            knockback: 0,
            energy_regen: 0,
        ),
        range: 2.5,
        angle: 30,
    ),
    movement_modifier: (
        recover: Some(0.35),
    ),
    ori_modifier: (
        buildup: Some(0.75),
        swing: Some(0.25),
        recover: Some(0.15),
    ),
)
