[
    // rings
    (0.15, Item("common.items.armor.misc.ring.scratched")),
    (0.05, Item("common.items.armor.misc.ring.gold")),
    // capes
    (0.25, Item("common.items.armor.misc.back.short_0")),
    (0.25, Item("common.items.armor.misc.back.short_1")),
    // necks
    (0.25, Item("common.items.armor.misc.neck.plain_0")),
    // misc
    (0.05, Item("common.items.glider.glider_blue")),
]