ItemDef(
    legacy_name: "Savage Cape",
    legacy_description: "Brings the fury of the barbarians.",
    kind: Armor((
        kind: Back,
        stats: FromSet("Savage"),
    )),
    quality: Moderate,
    tags: [
        Material(Leather),
    ],
)