/// Localization for Traditional Chinese
(
    metadata: (
        language_name: "繁體中文 (Traditional Chinese)",
        language_identifier: "zh-Hant",
    ),
    fonts: {
        "alkhemi": Font (
            asset_key: "voxygen.font.NotoSansTC-Regular",
            scale_ratio: 1.0,
        ),
        "cyri": Font (
            asset_key: "voxygen.font.NotoSansTC-Regular",
            scale_ratio: 1.0,
        ),
    }
)
