/// WARNING: Localization files shall be saved in UTF-8 format without BOM
(
    string_map: {
        "gameinput.primary": "Prosty atak",
        "gameinput.secondary": "Atak alternatywny/Blok/Celowanie",
        "gameinput.slot1": "Skrót 1",
        "gameinput.slot2": "Skrót 2",
        "gameinput.slot3": "Skrót 3",
        "gameinput.slot4": "Skrót 4",
        "gameinput.slot5": "Skrót 5",
        "gameinput.slot6": "Skrót 6",
        "gameinput.slot7": "Skrót 7",
        "gameinput.slot8": "Skrót 8",
        "gameinput.slot9": "Skrót 9",
        "gameinput.slot10": "Skrót 10",
        "gameinput.swaploadout": "Zmień wyposażenie",
        "gameinput.togglecursor": "Pokaż/schowaj kursor",
        "gameinput.help": "Pokaż/schowaj okno pomocy",
        "gameinput.toggleinterface": "Pokaż/schowaj interfejs",
        "gameinput.toggledebug": "Pokaż/schowaj FPS i debugowanie",
        "gameinput.screenshot": "Zrób zrzut ekranu",
        "gameinput.toggleingameui": "Pokaż/schowaj imiona i nazwy",
        "gameinput.fullscreen": "Przełącz pełny ekran",
        "gameinput.moveforward": "Naprzód",
        "gameinput.moveleft": "Lewo",
        "gameinput.moveright": "Prawo",
        "gameinput.moveback": "Cofaj się",
        "gameinput.jump": "Skok",
        "gameinput.glide": "Lotnia",
        "gameinput.roll": "Przewrót",
        "gameinput.climb": "Wspinaj się",
        "gameinput.climbdown": "Opuść się (wspinaczka)",
        "gameinput.wallleap": "Odskocz (od ściany)",
        "gameinput.togglelantern": "Zapal/zgaś latarnię",
        "gameinput.mount": "Dosiądź",
        "gameinput.chat": "Czat",
        "gameinput.command": "Komenda",
        "gameinput.escape": "Menu",
        "gameinput.map": "Mapa",
        "gameinput.bag": "Torba",
        "gameinput.trade": "Handel",
        "gameinput.social": "Społeczność",
        "gameinput.sit": "Usiądź",
        "gameinput.spellbook": "Czary",
        "gameinput.settings": "Ustawienia",
        "gameinput.respawn": "Odrodzenie",
        "gameinput.charge": "Szarża/Ładowanie",
        "gameinput.togglewield": "Zmień przedmiot w rękach",
        "gameinput.interact": "Interakcja",
        "gameinput.freelook": "Tryb wolnego widoku",
        "gameinput.autowalk": "Automatyczne unoszenie/chodzenie",
        "gameinput.cameraclamp": "Blokada kamery",
        "gameinput.dance": "Tańcz",
        "gameinput.select": "Zaznacz (obiekt)",
        "gameinput.acceptgroupinvite": "Akceptuj zaproszenie do grupy",
        "gameinput.declinegroupinvite": "Odrzuć zaproszenie do grupy",
        "gameinput.cyclecamera": "Przełącz kamerę",
        "gameinput.crafting": "Tworzenie",
        "gameinput.fly": "Lot",
        "gameinput.sneak": "Skradanie",
        "gameinput.swimdown": "Nurkuj",
        "gameinput.swimup": "Wynurz",
    },

    vector_map: {
    }
)
