#![enable(implicit_some)]
(
    active_hands: Choice([
        (1, InHands((
            Item("common.items.weapons.sword_1h.starter"),
            Item("common.items.weapons.sword_1h.starter"),
        ))),
        (1, InHands((
            ModularWeapon(tool: Hammer, material: Orichalcum, hands: One),
            ModularWeapon(tool: Axe, material: Orichalcum, hands: One),
        ))),
        (1, InHands((
            Item("common.items.weapons.sword.cultist"),
            None,
        ))),
    ]),
)
