ItemDef(
    name: "Simple Leather",
    description: "Light and flexible.",
    kind: Ingredient(
        kind: "SimpleLeather",
        descriptor: "Raw Hide",
    ),
    quality: Low,
    tags: [BaseMaterial, Leather, MaterialKind(Hide), Material(Rawhide)],
)
