ItemDef(
    name: "Thick Leather"
    description: "Strong and durable.",
    kind: Ingredient(
        kind: "ThickLeather",
        descriptor: "Leather",
    ),
    quality: Common,
    tags: [BaseMaterial, Leather, MaterialKind(Hide), Material(Leather)],
)
