//  Png(specifier),
//  Vox(specier),
//  VoxTrans(specifier, offset, (x_rot, y_rot, z_rot), zoom)
({
    // Weapons
    // Bows
    Tool(Bow(ShortBow0)): VoxTrans(
        "voxel.weapon.bow.shortbow-0",
        (0.0, 0.0, 0.0), (90.0, 90.0, 0.0), 1.0,
    ),
    // Daggers
    Tool(Dagger(BasicDagger)): VoxTrans(
        "voxel.weapon.dagger.dagger_rusty",
        (0.0, 0.0, -4.0), (-120.0, 90.0, 0.0), 1.1,
    ),
    // Swords
    Tool(Sword(Short0)): VoxTrans(
        "voxel.weapon.sword.short_2h-0",
        (-3.0, 3.0, 0.0), (-135.0, 90.0, 0.0), 1.60,
    ),
    Tool(Sword(BasicSword)): VoxTrans(
        "voxel.weapon.sword.rusty_2h",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.3,
    ),
    Tool(Sword(Zweihander0)): VoxTrans(
        "voxel.weapon.sword.zweihander_2h-0",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.2,
    ),
    Tool(Sword(WoodTraining)): VoxTrans(
        "voxel.weapon.sword.wood_2h",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.3,
    ),
    Tool(Sword(LongFine3)): VoxTrans(
        "voxel.weapon.sword.long_2h_fine-3",
        (0.0, 9.0, 0.0), (-90.0, 90.0, 0.0), 2.4,
    ),
    Tool(Sword(GreatswordDam0)): VoxTrans(
        "voxel.weapon.sword.greatsword_2h_dam-0",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.5,
    ),
    Tool(Sword(GreatswordDam1)): VoxTrans(
        "voxel.weapon.sword.greatsword_2h_dam-1",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.5,
    ),
    Tool(Sword(GreatswordDam2)): VoxTrans(
        "voxel.weapon.sword.greatsword_2h_dam-2",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.5,
    ),
    Tool(Sword(GreatswordSimple0)): VoxTrans(
        "voxel.weapon.sword.greatsword_2h_simple-0",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.5,
    ),
    Tool(Sword(GreatswordSimple1)): VoxTrans(
        "voxel.weapon.sword.greatsword_2h_simple-1",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.5,
    ),
    Tool(Sword(GreatswordSimple2)): VoxTrans(
        "voxel.weapon.sword.greatsword_2h_simple-2",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.5,
    ),
    Tool(Sword(GreatswordOrn0)): VoxTrans(
        "voxel.weapon.sword.greatsword_2h_orn-0",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.5,
    ),
    Tool(Sword(GreatswordOrn1)): VoxTrans(
        "voxel.weapon.sword.greatsword_2h_orn-1",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.5,
    ),
    Tool(Sword(GreatswordOrn2)): VoxTrans(
        "voxel.weapon.sword.greatsword_2h_orn-2",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.5,
    ),
    Tool(Sword(GreatswordFine0)): VoxTrans(
        "voxel.weapon.sword.greatsword_2h_fine-0",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.5,
    ),
    Tool(Sword(GreatswordFine1)): VoxTrans(
        "voxel.weapon.sword.greatsword_2h_fine-1",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.5,
    ),
    Tool(Sword(GreatswordFine2)): VoxTrans(
        "voxel.weapon.sword.greatsword_2h_fine-2",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.5,
    ),
    Tool(Sword(LongDam0)): VoxTrans(
        "voxel.weapon.sword.long_2h_dam-0",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.5,
    ),
    Tool(Sword(LongDam1)): VoxTrans(
        "voxel.weapon.sword.long_2h_dam-1",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.5,
    ),
    Tool(Sword(LongDam2)): VoxTrans(
        "voxel.weapon.sword.long_2h_dam-2",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.5,
    ),
    Tool(Sword(LongDam3)): VoxTrans(
        "voxel.weapon.sword.long_2h_dam-3",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.5,
    ),
    Tool(Sword(LongDam4)): VoxTrans(
        "voxel.weapon.sword.long_2h_dam-4",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.5,
    ),
    Tool(Sword(LongDam5)): VoxTrans(
        "voxel.weapon.sword.long_2h_dam-5",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.5,
    ),
    Tool(Sword(LongSimple0)): VoxTrans(
        "voxel.weapon.sword.long_2h_simple-0",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.5,
    ),
    Tool(Sword(LongSimple1)): VoxTrans(
        "voxel.weapon.sword.long_2h_simple-1",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.5,
    ),
    Tool(Sword(LongSimple2)): VoxTrans(
        "voxel.weapon.sword.long_2h_simple-2",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.5,
    ),
    Tool(Sword(LongSimple3)): VoxTrans(
        "voxel.weapon.sword.long_2h_simple-3",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.5,
    ),
    Tool(Sword(LongSimple4)): VoxTrans(
        "voxel.weapon.sword.long_2h_simple-4",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.5,
    ),
    Tool(Sword(LongSimple5)): VoxTrans(
        "voxel.weapon.sword.long_2h_simple-5",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.5,
    ),
    Tool(Sword(LongOrn0)): VoxTrans(
        "voxel.weapon.sword.long_2h_orn-0",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.5,
    ),
    Tool(Sword(LongOrn1)): VoxTrans(
        "voxel.weapon.sword.long_2h_orn-1",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.5,
    ),
    Tool(Sword(LongOrn2)): VoxTrans(
        "voxel.weapon.sword.long_2h_orn-2",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.5,
    ),
    Tool(Sword(LongOrn3)): VoxTrans(
        "voxel.weapon.sword.long_2h_orn-3",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.5,
    ),
    Tool(Sword(LongOrn4)): VoxTrans(
        "voxel.weapon.sword.long_2h_orn-4",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.5,
    ),
    Tool(Sword(LongOrn5)): VoxTrans(
        "voxel.weapon.sword.long_2h_orn-5",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.5,
    ),
    Tool(Sword(LongFine0)): VoxTrans(
        "voxel.weapon.sword.long_2h_fine-0",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.5,
    ),
    Tool(Sword(LongFine1)): VoxTrans(
        "voxel.weapon.sword.long_2h_fine-1",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.5,
    ),
    Tool(Sword(LongFine2)): VoxTrans(
        "voxel.weapon.sword.long_2h_fine-2",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.5,
    ),
    Tool(Sword(LongFine3)): VoxTrans(
        "voxel.weapon.sword.long_2h_fine-3",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.5,
    ),
    Tool(Sword(LongFine4)): VoxTrans(
        "voxel.weapon.sword.long_2h_fine-4",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.5,
    ),
    Tool(Sword(LongFine5)): VoxTrans(
        "voxel.weapon.sword.long_2h_fine-5",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.5,
    ),
    Tool(Sword(CultPurp0)): VoxTrans(
        "voxel.weapon.sword.cultist_purp_2h-0",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.5,
    ),
    // Axes
    Tool(Axe(BasicAxe)): VoxTrans(
        "voxel.weapon.axe.rusty_2h",
        (1.0, -1.0, 0.0), (-135.0, 90.0, 0.0), 1.2,
    ),
    // Hammers
    Tool(Hammer(BasicHammer)): VoxTrans(
        "voxel.weapon.hammer.rusty_2h",
        (2.0, -1.0, 0.0), (-135.0, 90.0, 0.0), 1.1,
    ),
    // Staffs
    Tool(Staff(BasicStaff)): VoxTrans(
        "voxel.weapon.staff.wood-fire",
        (1.0, 0.0, 0.0), (-310., 90.0, 0.0), 1.2,
    ),
    Tool(Staff(Sceptre)): VoxTrans(
        "voxel.weapon.staff.wood-nature",
        (1.0, -1.0, 0.0), (-310., 90.0, 0.0), 1.2,
    ),
    // Shields
    Tool(Shield(BasicShield)): VoxTrans(
        "voxel.weapon.shield.wood-0",
        (0.0, 0.0, 0.0), (-90.0, 90.0, 0.0), 2.4,
    ),
    // Lanterns
    Lantern(Black0): Png(
        "element.icons.lantern_black-0",
    ),
    Lantern(Green0): Png(
        "element.icons.lantern_green-0",
    ),
    Lantern(Blue0): Png(
        "element.icons.lantern_blue-0",
    ),
    Lantern(Red0): Png(
        "element.icons.lantern_red-0",
    ),
    // Farming Equipment
    Tool(Farming(Broom)): VoxTrans(
        "voxel.weapon.tool.broom-0",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.1,
    ),
    Tool(Farming(Hoe0)): VoxTrans(
        "voxel.weapon.tool.hoe_green",
        (0.0, 0.0, 0.0), (130.0, 35.0, 180.0), 1.0,
    ),
    Tool(Farming(Hoe1)): VoxTrans(
        "voxel.weapon.tool.hoe_blue",
        (0.0, 0.0, 0.0), (130.0, 35.0, 180.0), 1.0,
    ),
    Tool(Farming(Pitchfork)): VoxTrans(
        "voxel.weapon.tool.pitchfork-0",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.1,
    ),
    Tool(Farming(Rake)): VoxTrans(
        "voxel.weapon.tool.rake-0",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.0,
    ),
    Tool(Farming(FishingRod0)): VoxTrans(
        "voxel.weapon.tool.fishing_rod_blue-0",
        (0.0, 0.0, 0.0), (90.0, 90.0, 0.0), 1.5,
    ),
    Tool(Farming(FishingRod0)): VoxTrans(
        "voxel.weapon.tool.fishing_rod_orange-0",
        (0.0, 0.0, 0.0), (90.0, 90.0, 0.0), 1.0,
    ),
    Tool(Farming(Pickaxe0)): VoxTrans(
        "voxel.weapon.tool.pickaxe_green-0",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.0,
    ),
    Tool(Farming(Shovel0)): VoxTrans(
        "voxel.weapon.tool.shovel_green",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.2,
    ),
    Tool(Farming(Shovel1)): VoxTrans(
        "voxel.weapon.tool.shovel_gold",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.2,
    ),

    // Other
    Utility(Collar): Png(
        "element.icons.collar",
    ),
    // Armor
    // Starter Parts
    Armor(Foot(Sandal0)): VoxTrans(
        "voxel.armor.foot.cloth_sandals",
        (0.0, 0.0, 0.0), (-95.0, 140.0, 0.0), 1.1,
    ),
    Armor(Pants(Rugged0)): VoxTrans(
        "voxel.armor.pants.rugged-0",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    Armor(Chest(Rugged0)): VoxTrans(
        "voxel.armor.chest.rugged-0",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    // Cultist Clothing
    Armor(Chest(CultistPurple)): VoxTrans(
        "voxel.armor.chest.cultist",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    Armor(Pants(CultistPurple)): VoxTrans(
        "voxel.armor.pants.cultist",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    Armor(Belt(Cultist)): VoxTrans(
        "voxel.armor.belt.cultist",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.4,
    ),
    Armor(Foot(Cultist)): VoxTrans(
        "voxel.armor.foot.cultist",
        (0.0, 0.0, 0.0), (-95.0, 140.0, 0.0), 1.1,
    ),
    Armor(Hand(CultistPurple)): VoxTrans(
        "voxel.armor.hand.cultist_right",
        (0.0, -1.0, 0.0), (-90.0, 135.0, 0.0), 1.0,
    ),
    Armor(Shoulder(CultistPurple)): VoxTrans(
        "voxel.armor.shoulder.cultist_right",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    Armor(Chest(CultistBlue)): VoxTrans(
        "voxel.armor.chest.cultist",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    Armor(Pants(CultistBlue)): VoxTrans(
        "voxel.armor.pants.cultist",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    Armor(Hand(CultistBlue)): VoxTrans(
        "voxel.armor.hand.cultist_right",
        (0.0, -1.0, 0.0), (-90.0, 135.0, 0.0), 1.0,
    ),
    Armor(Shoulder(CultistBlue)): VoxTrans(
        "voxel.armor.shoulder.cultist_right",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
     // Druid Set
    Armor(Chest(Druid)): VoxTrans(
        "voxel.armor.chest.druid",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    Armor(Pants(Druid)): VoxTrans(
        "voxel.armor.pants.druid",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    Armor(Belt(Druid)): VoxTrans(
        "voxel.armor.belt.druid",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.4,
    ),
    Armor(Foot(Druid)): VoxTrans(
        "voxel.armor.foot.druid",
        (0.0, 0.0, 0.0), (-95.0, 140.0, 0.0), 1.1,
    ),
    Armor(Hand(Druid)): VoxTrans(
        "voxel.armor.hand.druid_right",
        (0.0, -1.0, 0.0), (-90.0, 135.0, 0.0), 1.0,
    ),
    Armor(Shoulder(DruidShoulder)): VoxTrans(
        "voxel.armor.shoulder.druid_right",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    // Villager Clothing
    Armor(Pants(WorkerBlue0)): VoxTrans(
        "voxel.armor.pants.worker_blue-0",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    Armor(Chest(WorkerGreen0)): VoxTrans(
        "voxel.armor.chest.worker_green-0",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    Armor(Chest(WorkerGreen1)): VoxTrans(
        "voxel.armor.chest.shirt_white-0",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    Armor(Chest(WorkerRed0)): VoxTrans(
        "voxel.armor.chest.worker_green-0",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    Armor(Chest(WorkerRed1)): VoxTrans(
        "voxel.armor.chest.shirt_white-0",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    Armor(Chest(WorkerPurple0)): VoxTrans(
        "voxel.armor.chest.worker_green-0",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    Armor(Chest(WorkerPurple1)): VoxTrans(
        "voxel.armor.chest.shirt_white-0",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    Armor(Chest(WorkerYellow0)): VoxTrans(
        "voxel.armor.chest.worker_green-0",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    Armor(Chest(WorkerYellow1)): VoxTrans(
        "voxel.armor.chest.shirt_white-0",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    Armor(Chest(WorkerOrange0)): VoxTrans(
        "voxel.armor.chest.worker_green-0",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    Armor(Chest(WorkerOrange1)): VoxTrans(
        "voxel.armor.chest.shirt_white-0",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    // Assassin Set
    Armor(Chest(Assassin)): VoxTrans(
        "voxel.armor.chest.assa",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    Armor(Pants(Assassin)): VoxTrans(
        "voxel.armor.pants.assa",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    Armor(Belt(Assassin)): VoxTrans(
        "voxel.armor.belt.assa",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.8,
    ),
    Armor(Foot(Assassin)): VoxTrans(
        "voxel.armor.foot.assa",
        (0.0, 0.0, 0.0), (-95.0, 140.0, 0.0), 1.1,
    ),
    Armor(Hand(Assassin)): VoxTrans(
        "voxel.armor.hand.assa_right",
        (0.0, -1.0, 0.0), (-90.0, 135.0, 0.0), 1.0,
    ),
    Armor(Shoulder(Assassin)): VoxTrans(
        "voxel.armor.shoulder.assa_right",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    // Starting Armor - Plate
    Armor(Chest(PlateGreen0)): VoxTrans(
        "voxel.armor.chest.plate_green-0",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    Armor(Pants(PlateGreen0)): VoxTrans(
        "voxel.armor.pants.plate_green-0",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    Armor(Belt(Plate0)): VoxTrans(
        "voxel.armor.belt.plate-0",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.8,
    ),
    Armor(Foot(Plate0)): VoxTrans(
        "voxel.armor.foot.plate-0",
        (0.0, 0.0, 0.0), (-95.0, 140.0, 0.0), 1.1,
    ),
    Armor(Hand(Plate0)): VoxTrans(
        "voxel.armor.hand.plate_right-0",
        (0.0, -1.0, 0.0), (-90.0, 135.0, 0.0), 1.0,
    ),
    Armor(Shoulder(Plate0)): VoxTrans(
        "voxel.armor.shoulder.plate_right-0",
        (0.0, 0.0, 0.0), (-90.0, 130.0, 0.0), 1.2,
    ),
    //Steel0 Armor
    Armor(Chest(Steel0)): VoxTrans(
        "voxel.armor.chest.steel-0",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    Armor(Pants(Steel0)): VoxTrans(
        "voxel.armor.pants.steel-0",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    Armor(Belt(Steel0)): VoxTrans(
        "voxel.armor.belt.steel-0",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.8,
    ),
    Armor(Foot(Steel0)): VoxTrans(
        "voxel.armor.foot.steel-0",
        (0.0, 0.0, 0.0), (-95.0, 140.0, 0.0), 1.1,
    ),
    Armor(Hand(Steel0)): VoxTrans(
        "voxel.armor.hand.steel_right-0",
        (0.0, -1.0, 0.0), (-90.0, 135.0, 0.0), 1.0,
    ),
     Armor(Shoulder(Steel0)): VoxTrans(
        "voxel.armor.shoulder.steel_right-0",
        (0.0, 0.0, 0.0), (-90.0, 130.0, 0.0), 1.2,
    ),
    //Leather0 Armor
    Armor(Chest(Leather0)): VoxTrans(
        "voxel.armor.chest.leather-0",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    Armor(Pants(Leather0)): VoxTrans(
        "voxel.armor.pants.leather-0",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    Armor(Belt(Leather0)): VoxTrans(
        "voxel.armor.belt.leather-0",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.8,
    ),
    Armor(Foot(Leather0)): VoxTrans(
        "voxel.armor.foot.leather-0",
        (0.0, 0.0, 0.0), (-95.0, 140.0, 0.0), 1.1,
    ),
    Armor(Hand(Leather0)): VoxTrans(
        "voxel.armor.hand.leather_right-0",
        (0.0, -1.0, 0.0), (-90.0, 135.0, 0.0), 1.0,
    ),
     Armor(Shoulder(Leather0)): VoxTrans(
        "voxel.armor.shoulder.leather_right-0",
        (0.0, 0.0, 0.0), (-90.0, 130.0, 0.0), 1.2,
    ),
    //Leather1 Armor
    Armor(Shoulder(Leather1)): VoxTrans(
        "voxel.armor.shoulder.leather_right-1",
        (0.0, 0.0, 0.0), (-90.0, 130.0, 0.0), 1.2,
    ),
    //Leather2 Armor
    Armor(Chest(Leather2)): VoxTrans(
        "voxel.armor.chest.leather-2",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    Armor(Pants(Leather2)): VoxTrans(
        "voxel.armor.pants.leather-2",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    Armor(Belt(Leather2)): VoxTrans(
        "voxel.armor.belt.leather-2",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.8,
    ),
    Armor(Foot(Leather2)): VoxTrans(
        "voxel.armor.foot.leather-2",
        (0.0, 0.0, 0.0), (-95.0, 140.0, 0.0), 1.1,
    ),
    Armor(Hand(Leather2)): VoxTrans(
        "voxel.armor.hand.leather_right-2",
        (0.0, -1.0, 0.0), (-90.0, 135.0, 0.0), 1.0,
    ),
     Armor(Shoulder(Leather2)): VoxTrans(
        "voxel.armor.shoulder.leather_right-2",
        (0.0, 0.0, 0.0), (-90.0, 130.0, 0.0), 1.2,
    ),
    //Linen Cloth
    Armor(Chest(ClothBlue0)): VoxTrans(
        "voxel.armor.chest.cloth_blue-0",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    Armor(Pants(ClothBlue0)): VoxTrans(
        "voxel.armor.pants.cloth_blue-0",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    Armor(Belt(ClothBlue0)): VoxTrans(
        "voxel.armor.belt.cloth_blue-0",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.8,
    ),
    Armor(Foot(ClothBlue0)): VoxTrans(
        "voxel.armor.foot.cloth_blue-0",
        (0.0, 0.0, 0.0), (-95.0, 140.0, 0.0), 1.1,
    ),
    Armor(Hand(ClothBlue0)): VoxTrans(
        "voxel.armor.hand.cloth_blue_right-0",
        (0.0, -1.0, 0.0), (-90.0, 135.0, 0.0), 1.0,
    ),
    Armor(Shoulder(ClothBlue0)): VoxTrans(
        "voxel.armor.shoulder.cloth_blue_right-0",
        (0.0, 0.0, 0.0), (-90.0, 130.0, 0.0), 1.2,
    ),
    //////////////
    Armor(Chest(ClothGreen0)): VoxTrans(
        "voxel.armor.chest.cloth_green-0",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    Armor(Pants(ClothGreen0)): VoxTrans(
        "voxel.armor.pants.cloth_green-0",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    Armor(Belt(ClothGreen0)): VoxTrans(
        "voxel.armor.belt.cloth_green-0",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.8,
    ),
    Armor(Foot(ClothGreen0)): VoxTrans(
        "voxel.armor.foot.cloth_green-0",
        (0.0, 0.0, 0.0), (-95.0, 140.0, 0.0), 1.1,
    ),
    Armor(Hand(ClothGreen0)): VoxTrans(
        "voxel.armor.hand.cloth_green_right-0",
        (0.0, -1.0, 0.0), (-90.0, 135.0, 0.0), 1.0,
    ),
    Armor(Shoulder(ClothGreen0)): VoxTrans(
        "voxel.armor.shoulder.cloth_green_right-0",
        (0.0, 0.0, 0.0), (-90.0, 130.0, 0.0), 1.2,
    ),
     Armor(Shoulder(ClothGreen0)): VoxTrans(
        "voxel.armor.shoulder.cloth_green_right-0",
        (0.0, 0.0, 0.0), (-90.0, 130.0, 0.0), 1.2,
    ),
    //////
    Armor(Chest(ClothPurple0)): VoxTrans(
        "voxel.armor.chest.cloth_purple-0",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    Armor(Pants(ClothPurple0)): VoxTrans(
        "voxel.armor.pants.cloth_purple-0",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    Armor(Belt(ClothPurple0)): VoxTrans(
        "voxel.armor.belt.cloth_purple-0",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.8,
    ),
    Armor(Foot(ClothPurple0)): VoxTrans(
        "voxel.armor.foot.cloth_purple-0",
        (0.0, 0.0, 0.0), (-95.0, 140.0, 0.0), 1.1,
    ),
    Armor(Hand(ClothPurple0)): VoxTrans(
        "voxel.armor.hand.cloth_purple_right-0",
        (0.0, -1.0, 0.0), (-90.0, 135.0, 0.0), 1.0,
    ),
    Armor(Shoulder(ClothPurple0)): VoxTrans(
        "voxel.armor.shoulder.cloth_purple_right-0",
        (0.0, 0.0, 0.0), (-90.0, 130.0, 0.0), 1.2,
    ),
     Armor(Shoulder(ClothBlue1)): VoxTrans(
        "voxel.armor.shoulder.cloth_blue_right-1",
        (0.0, 0.0, 0.0), (-90.0, 130.0, 0.0), 1.2,
    ),
     Armor(Shoulder(IronSpikes)): VoxTrans(
        "voxel.armor.shoulder.iron_spikes_right",
        (0.0, 0.0, 0.0), (-90.0, 130.0, 0.0), 1.2,
    ),
     Armor(Shoulder(IronLeather3)): VoxTrans(
        "voxel.armor.shoulder.leather_iron_right-3",
        (0.0, 0.0, 0.0), (-90.0, 130.0, 0.0), 1.2,
    ),
     Armor(Shoulder(IronLeather2)): VoxTrans(
        "voxel.armor.shoulder.leather_iron_right-2",
        (0.0, 0.0, 0.0), (-90.0, 130.0, 0.0), 1.2,
    ),
    Armor(Shoulder(IronLeather1)): VoxTrans(
        "voxel.armor.shoulder.leather_iron_right-1",
        (0.0, 0.0, 0.0), (-90.0, 130.0, 0.0), 1.2,
    ),
    Armor(Shoulder(IronLeather0)): VoxTrans(
        "voxel.armor.shoulder.leather_iron_right-0",
        (0.0, 0.0, 0.0), (-90.0, 130.0, 0.0), 1.2,
    ),
    Armor(Shoulder(LeatherStrips)): VoxTrans(
        "voxel.armor.shoulder.leather_strips_right",
        (0.0, 0.0, 0.0), (-90.0, 130.0, 0.0), 1.2,
    ),
    Armor(Foot(JackalopeSlips)): VoxTrans(
        "voxel.armor.foot.jackalope_slippers",
        (0.0, 0.0, 0.0), (-95.0, 140.0, 0.0), 1.1,
    ),
    //Twig Set
    Armor(Chest(Twig)): VoxTrans(
        "voxel.armor.chest.twigs_chest",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    Armor(Pants(Twig)): VoxTrans(
        "voxel.armor.pants.twigs_pants",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    Armor(Belt(Twig)): VoxTrans(
        "voxel.armor.belt.twigs_belt",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.4,
    ),
    Armor(Foot(Twig)): VoxTrans(
        "voxel.armor.foot.twigs_foot",
        (0.0, 0.0, 0.0), (-95.0, 140.0, 0.0), 1.1,
    ),
    Armor(Hand(Twig)): VoxTrans(
        "voxel.armor.hand.twigs_glove_right",
        (0.0, -1.0, 0.0), (-90.0, 135.0, 0.0), 1.0,
    ),
    Armor(Shoulder(TwiggyShoulder)): VoxTrans(
        "voxel.armor.shoulder.twigs_right",
        (0.0, 0.0, 0.0), (-90.0, 130.0, 0.0), 1.2,
        ),
    //TwigsLeaves Set
    Armor(Chest(Twigsleaves)): VoxTrans(
        "voxel.armor.chest.twigsleaves_chest",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    Armor(Pants(Twigsleaves)): VoxTrans(
        "voxel.armor.pants.twigsleaves_pants",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    Armor(Belt(Twigsleaves)): VoxTrans(
        "voxel.armor.belt.twigsleaves_belt",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.4,
    ),
    Armor(Foot(Twigsleaves)): VoxTrans(
        "voxel.armor.foot.twigsleaves_foot",
        (0.0, 0.0, 0.0), (-95.0, 140.0, 0.0), 1.1,
    ),
    Armor(Hand(Twigsleaves)): VoxTrans(
        "voxel.armor.hand.twigsleaves_glove_right",
        (0.0, -1.0, 0.0), (-90.0, 135.0, 0.0), 1.0,
    ),
     Armor(Shoulder(LeafyShoulder)): VoxTrans(
        "voxel.armor.shoulder.twigsleaves_shoulder_right",
        (0.0, 0.0, 0.0), (-90.0, 130.0, 0.0), 1.2,
    ),
    //TwigsFlowers Set
    Armor(Chest(Twigsflowers)): VoxTrans(
        "voxel.armor.chest.twigsflowers_chest",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    Armor(Pants(Twigsflowers)): VoxTrans(
        "voxel.armor.pants.twigsflowers_pants",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    Armor(Belt(Twigsflowers)): VoxTrans(
        "voxel.armor.belt.twigsflowers_belt",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.4,
    ),
    Armor(Foot(Twigsflowers)): VoxTrans(
        "voxel.armor.foot.twigsflowers_foot",
        (0.0, 0.0, 0.0), (-95.0, 140.0, 0.0), 1.1,
    ),
    Armor(Hand(Twigsflowers)): VoxTrans(
        "voxel.armor.hand.twigsflowers_glove_right",
        (0.0, -1.0, 0.0), (-90.0, 135.0, 0.0), 1.0,
    ),
     Armor(Shoulder(FlowerShoulder)): VoxTrans(
        "voxel.armor.shoulder.twigsflowers_shoulder_right",
        (0.0, 0.0, 0.0), (-90.0, 130.0, 0.0), 1.2,
    ),
    //misc
     Armor(Pants(Hunting)): VoxTrans(
        "voxel.armor.pants.grayscale",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.2,
    ),
    // Backs
    Armor(Back(Short0)): VoxTrans(
        "voxel.armor.back.short-0",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.0,
    ),
    Armor(Back(Admin)): VoxTrans(
        "voxel.armor.back.admin",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.0,
    ),
    // Rings
    Armor(Ring(Ring0)): Png(
        "element.icons.ring-0",
    ),
    // Necks
    Armor(Neck(Neck0)): Png(
        "element.icons.neck-0",
    ),
    // Tabards
    Armor(Tabard(Admin)): Png(
        "element.icons.tabard_admin",
    ),
    // Heads
    Armor(Head(Leather0)): VoxTrans(
        "voxel.armor.head.leather-0",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.0,
    ),
    Armor(Head(AssaMask0)): VoxTrans(
        "voxel.armor.head.assa_mask-0",
        (0.0, 0.0, 0.0), (-90.0, 180.0, 0.0), 1.0,
    ),
    // Consumables
    Consumable(Apple):
    VoxTrans(
        "element.icons.item_apple",
        (0.0, 0.0, 0.0), (-90.0, 90.0, 0.0), 1.0,
    ),
    Consumable(Coconut): Png(
        "element.icons.item_coconut",
    ),
    Consumable(PotionMinor): VoxTrans(
        "voxel.object.potion_red",
        (0.0, 0.0, 0.0), (-50.0, 30.0, 20.0), 0.8,
    ),
    Consumable(PotionExp): VoxTrans(
        "voxel.object.potion_turq",
        (0.0, 0.0, 0.0), (-50.0, 30.0, 20.0), 0.8,
    ),
    Consumable(Cheese): VoxTrans(
        "element.icons.item_cheese",
        (0.0, 0.0, 0.0), (-90.0, 90.0, 0.0), 0.9,
    ),
    Consumable(Potion): VoxTrans(
        "voxel.object.potion_red",
        (0.0, 0.0, 0.0), (-50.0, 30.0, 20.0), 1.0,
    ),
    Consumable(Mushroom): VoxTrans(
        "voxel.sprite.mushrooms.mushroom-10",
        (0.0, 0.0, 0.0), (-50.0, 70.0, 40.0), 1.0,
    ),
    Consumable(Velorite): VoxTrans(
        "voxel.sprite.velorite.velorite_ore",
        (0.0, -1.0, 0.0), (-50.0, 40.0, 20.0), 0.8,
    ),
    Consumable(VeloriteFrag): VoxTrans(
        "voxel.sprite.velorite.velorite_1",
        (0.0, -1.0, 0.0), (-50.0, 40.0, 20.0), 0.8,
    ),
    // Throwables
    Throwable(Bomb): VoxTrans(
        "voxel.object.bomb",
        (0.0, -1.0, 0.0), (-50.0, 40.0, 20.0), 0.8,
    ),
    Throwable(TrainingDummy): VoxTrans(
        "voxel.object.training_dummy",
        (0.0, -1.0, 0.0), (-50.0, 40.0, 20.0), 0.8,
    ),
    // Ingredients
    Ingredient(Flower): VoxTrans(
        "voxel.sprite.flowers.flower_red_2",
        (0.0, -1.0, 0.0), (-50.0, 40.0, 20.0), 0.8,
    ),
    Ingredient(Grass): VoxTrans(
        "voxel.sprite.grass.grass_long_5",
        (0.0, 0.0, 0.0), (-90.0, 50.0, 0.0), 1.0,
    ),
    // Debug Items
    Tool(Debug(Boost)): VoxTrans(
        "voxel.weapon.tool.broom_belzeshrub_purple",
        (0.0, 0.0, 0.0), (-135.0, 90.0, 0.0), 1.1,
    ),
})
