(
    [
        (
            specifier: "world.tree.oak_green.1",
            center: (15, 18, 14)
        ),
        (
            specifier: "world.tree.oak_green.2",
            center: (15, 18, 14)
        ),
        (
            specifier: "world.tree.oak_green.3",
            center: (16, 20, 14)
        ),
        (
            specifier: "world.tree.oak_green.4",
            center: (18, 21, 14)
        ),
        (
            specifier: "world.tree.oak_green.5",
            center: (18, 18, 14)
        ),
        (
            specifier: "world.tree.oak_green.6",
            center: (16, 21, 14)
        ),
        (
            specifier: "world.tree.oak_green.7",
            center: (20, 19, 14)
        ),
        (
            specifier: "world.tree.oak_green.8",
            center: (22, 20, 14)
        ),
        (
            specifier: "world.tree.oak_green.9",
            center:(26, 26, 14)
        ),
    ]
)
