ItemDef(
    name: "Snow Raptor Wings",
    description: "Take flight with the wings of a predator.",
    kind: Glider(
        (
            kind: "SnowRaptor",
        ),
    ),
    quality: High,
)
