ItemDef(
    legacy_name: "Sand Raptor Wings",
    legacy_description: "Take flight with the wings of a thirsty predator",
    kind: Glider,
    quality: High,
    tags: [
        SalvageInto(Leather, 1)
    ],
)
