ItemDef(
    name: "Sand Raptor Wings",
    description: "Take flight with the wings of a predator.",
    kind: Glider(
        (
            kind: "SandRaptor",
        ),
    ),
    quality: High,
    tags: [],
)
