#![enable(implicit_some)]
(
    name: Name("Clay Golem"),
    body: RandomWith("claygolem"),
    alignment: Alignment(Enemy),
    loot: LootTable("common.loot_tables.dungeon.tier-3.boss"),
    inventory: (
        loadout: FromBody,
    ),
    meta: [],
)