EntityConfig (
    name: Some("Haniwa Sorcerer"),
    body: RandomWith("haniwa"),
    alignment: Alignment(Enemy),

    loot: LootTable("common.loot_tables.dungeon.tier-3.enemy"),

    hands: TwoHanded(Item("common.items.npc_weapons.biped_small.haniwa.gnoll_staff")),

    meta: [
        LoadoutAsset("common.loadout.dungeon.tier-3.haniwa"),
    ],
)
