ItemDef(
    name: "Warlord cape",
    description: "Belong to a mighty warlord.",
    kind: Armor((
        kind: Back("Warlord"),
        stats: (
            protection: Normal(4.0),
            poise_resilience: Normal(0.5),
        ),
    )),
    quality: Moderate,
    tags: [],
)