ItemDef(
    legacy_name: "Boreal Wrappings",
    legacy_description: "The blistering cold makes it hard to move.",
    kind: Armor((
        kind: Foot,
        stats: FromSet("Boreal"),
    )),
    quality: Legendary,
    tags: [],
)