ItemDef(
    name: "Apple",
    description: "Red and juicy",
    kind: Consumable(
        kind: Food,
        effects: One(
            Buff((
                kind: Saturation,
                data: (
                    strength: 2.0,
                    duration: Some(5),
                    ),
                cat_ids: [Natural],
            )),
        )
    ),
    quality: Common,
    tags: [Food],
)
