ItemDef(
    name: "Apple Stick",
    description: "Restores 25 Health over 10 seconds\n\nThe stick makes it easier to carry!",
    kind: Consumable(
        kind: "AppleStick",
        effect: [
            Buff((
                kind: Saturation,
                data: (
                    strength: 25.0,
                    duration: Some((
                            secs: 10,
                            nanos: 0,
                        )),
                    ),
                cat_ids: [Natural],
            )),
        ]
    ),
    quality: Common,
)
