ItemDef(
    name: "Apple",
    description: "Red and juicy",
    kind: Consumable(
        kind: Food,
        effect: [
            Buff((
                kind: Saturation,
                data: (
                    strength: 5.0,
                    duration: Some((
                            secs: 20,
                            nanos: 0,
                        )),
                    ),
                cat_ids: [Natural],
            )),
        ]
    ),
    quality: Common,
    tags: [Food],
)
