ItemDef(
    name: "Coconut",
    description: "Restores 20 health\n\nReliable source of water and fat",
    kind: Consumable(
        kind: "Coconut",
        effect: Health((
            amount: 200,
            cause: Item,
        )),       
    ),
    quality: Common,
)
