ItemDef(
    name: "Coconut",
    description: "Reliable source of water and fat.\n\nNaturally growing at the top of palm trees.",
    kind: Consumable(
        kind: Food,
        effects: [
            Buff((
                kind: Saturation,
                data: (
                    strength: 40.0,
                    duration: Some((
                            secs: 5,
                            nanos: 0,
                        )),
                    ),
                cat_ids: [Natural],
            )),
        ]
    ),
    quality: Common,
    tags: [Food],
)
