ItemDef(
    name: "Dandelion",
    description: "A small, yellow flower. Uses the wind to spread its seeds.",
    kind: Consumable(
        kind: "Dandelion",
        effect: [
            Buff((
                kind: Saturation,
                data: (
                    strength: 5.0,
                    duration: Some((
                            secs: 10,
                            nanos: 0,
                        )),
                    ),
                cat_ids: [Natural],
            )),
        ]
    ),
    quality: Common,
    tags: [],
)
