ItemDef(
    name: "Mushroom",
    description: "Hopefully this one is not poisonous",
    kind: Consumable(
        kind: Food,
        effects: One(
            Buff((
                kind: Saturation,
                data: (
                    strength: 1.0,
                    duration: Some(5),
                    ),
                cat_ids: [Natural],
            )),
        )
    ),
    quality: Common,
    tags: [Food],
)
