ItemDef(
    name: "Spore of Corruption",
    description: "You feel an evil force pulsating within.\n\nIt may be unwise to hold on to it for too long...",
    kind: Consumable(
        kind: ComplexFood,
        effects: All([
            Buff((
                kind: Frenzied,
                data: (
                    strength: 0.4,
                    duration: Some(60),
                    ),
                cat_ids: [Natural],
            )),
            Buff((
                kind: Cursed,
                data: (
                    strength: 0.35,
                    duration: Some(60),
                    ),
                cat_ids: [Natural],
            )),
        ])
    ),
    quality: Epic,
    tags: [Food],
)
