([
    Group(Weapon(Sword)),

    Skill((Sword(InterruptingAttacks), 1)),

    // TripleStrike
    Skill((Sword(TsCombo), 1)),
    Skill((Sword(TsDamage), 1)),
    Skill((Sword(TsRegen), 1)),

    // Dash
    Skill((Sword(DCost), 1)),

])
