EntityConfig (
    name: Name("Myrmidon Marksman"),
    body: RandomWith("myrmidon"),
    alignment: Alignment(Enemy),

    loot: LootTable("common.loot_tables.dungeon.tier-4.enemy"),

    hands: TwoHanded(Item("common.items.npc_weapons.biped_small.myrmidon.adlet_bow")),

    meta: [
        LoadoutAsset("common.loadout.dungeon.tier-4.myrmidon"),
        SkillSetAsset("common.skillset.preset.rank4.fullskill"),
    ],
)
