(
    name: Name("Myrmidon Wizard"),
    body: RandomWith("myrmidon"),
    alignment: Alignment(Enemy),
    loadout: Extended(
        hands: TwoHanded(Item("common.items.npc_weapons.biped_small.myrmidon.gnoll_staff")),
        base_asset: Loadout("common.loadout.dungeon.tier-4.myrmidon"),
        inventory: [],
    ),
    loot: LootTable("common.loot_tables.dungeon.tier-4.enemy"),
    meta: [],
)