#![enable(implicit_some)]
(
    name: Name("Myrmidon Strategian"),
    body: RandomWith("myrmidon"),
    alignment: Alignment(Enemy),
    loot: LootTable("common.loot_tables.dungeon.tier-4.enemy"),
    inventory: (
        loadout: Inline((
            inherit: Asset("common.loadout.dungeon.tier-4.strategian"),
            active_hands: InHands((Item("common.items.npc_weapons.biped_small.myrmidon.strategian"), None)),
        )),
    ),
    meta: [
        SkillSetAsset("common.skillset.preset.rank4.fullskill"),
    ],
)