ItemDef(
    legacy_name: "Sewing Set",
    legacy_description: "Used to craft various items.",
    kind: Ingredient(
        // Descriptor not needed
        descriptor: "",
    ),
    quality: Moderate,
    tags: [CraftingTool],
)
