#![enable(implicit_some)]
(
    name: Automatic,
    body: RandomWith("mammoth"),
    alignment: Alignment(Enemy),
    loot: LootTable("common.loot_tables.creature.quad_medium.mammoth"),
    inventory: (
        loadout: FromBody,
    ),
    meta: [],
)