#![enable(implicit_some)]
(
    name: Automatic,
    body: RandomWith("weevil"),
    alignment: Alignment(Enemy),
    loot: LootTable("common.loot_tables.creature.arthropod.leaf"),
    inventory: (
        loadout: FromBody,
    ),
    meta: [],
)