Item(
    name: "Blue Linen Boots",
    description: "Soft and warm.",
    kind: Armor(
        (
            kind: Foot("ClothBlue0"),
            stats: (
                protection: Normal(0.0),
            ),
        )
    ),
)
