ItemDef(
    legacy_name: "Bomb",
    legacy_description: "A highly explosive device, demolitionists adore them!",
    kind: Throwable(
        kind: Bomb,
    ),
    quality: Common,
    tags: [Utility],
)
