ItemDef(
    name: Direct("Firework Yellow"),
    description: "The Great Doctor passed away after\ntesting this contraption indoors.",
    kind: Throwable(
        kind: Firework(Yellow),
    ),
    quality: Direct(Moderate),
    tags: [Utility],
)
