ItemDef(
    name: "Moonweave Gauntlets",
    description: "The fabric dances silently, like moonlight.",
    kind: Armor((
        kind: Hand("Moonweave"),
        stats: (
            protection: Normal(8.0),
            poise_resilience: Normal(0.0),
            energy_max: 83,
            energy_recovery: 0.084,
            crit_power: 0.0,
            stealth: 0.0,
        ),
    )),
    quality: Epic,
    tags: [
        Material((
            material: Moonweave,
        )),
    ],
)