ComboMelee(
    stage_data: [
        (
            stage: 1,
            base_damage: 28.0,
            damage_increase: 0,
            base_poise_damage: 15,
            poise_damage_increase: 0,
            knockback: 3.0,
            range: 2.2,
            angle: 30.0,
            base_buildup_duration: 1.3,
            base_swing_duration: 0.07,
            hit_timing: 0.5,
            base_recover_duration: 0.6,
            forward_movement: 2.0,
            damage_kind: Crushing,
        ),
        (
            stage: 2,
            base_damage: 28.0,
            damage_increase: 0,
            base_poise_damage: 18,
            poise_damage_increase: 0,
            knockback: 3.0,
            range: 2.2,
            angle: 30.0,
            base_buildup_duration: 0.8,
            base_swing_duration: 0.07,
            hit_timing: 0.5,
            base_recover_duration: 0.6,
            forward_movement: 1.5,
            damage_kind: Crushing,
        ),
        (
            stage: 3,
            base_damage: 28.0,
            damage_increase: 0,
            base_poise_damage: 20,
            poise_damage_increase: 0,
            knockback: 3.0,
            range: 2.2,
            angle: 30.0,
            base_buildup_duration: 0.8,
            base_swing_duration: 0.07,
            hit_timing: 0.5,
            base_recover_duration: 0.6,
            forward_movement: 1.5,
            damage_kind: Crushing,
        ),
    ],
    initial_energy_gain: 0,
    max_energy_gain: 0,
    energy_increase: 0,
    speed_increase: 0.0,
    max_speed_increase: 0.0,
    scales_from_combo: 0,
    ori_modifier: 0.65,
)
