({
    General(HealthIncrease): Some(30),
    General(EnergyIncrease): Some(5),
    Sword(TsDamage): Some(3),
    Sword(TsRegen): Some(3),
    Sword(TsSpeed): Some(3),
    Sword(DCost): Some(2),
    Sword(DDrain): Some(2),
    Sword(DDamage): Some(2),
    Sword(DScaling): Some(3),
    Sword(SDamage): Some(2),
    Sword(SSpeed): Some(2),
    Sword(SCost): Some(2),
    Sword(SSpins): Some(2),
    Axe(DsDamage): Some(3),
    Axe(DsRegen): Some(3),
    Axe(DsSpeed): Some(4),
    Axe(SDamage): Some(3),
    Axe(SSpeed): Some(2),
    Axe(SCost): Some(2),
    Axe(LDamage): Some(5),
    Axe(LKnockback): Some(3),
    Axe(LCost): Some(2),
    Axe(LDistance): Some(2),
    Hammer(SsKnockback): Some(2),
    Hammer(SsDamage): Some(3),
    Hammer(SsRegen): Some(2),
    Hammer(SsSpeed): Some(3),
    Hammer(CDamage): Some(8),
    Hammer(CKnockback): Some(8),
    Hammer(CDrain): Some(2),
    Hammer(CSpeed): Some(2),
    Hammer(LDamage): Some(8),
    Hammer(LCost): Some(3),
    Hammer(LDistance): Some(4),
    Hammer(LKnockback): Some(8),
    Hammer(LRange): Some(3),
    Bow(ProjSpeed): Some(3),
    Bow(CDamage): Some(6),
    Bow(CRegen): Some(4),
    Bow(CKnockback): Some(3),
    Bow(CSpeed): Some(3),
    Bow(CMove): Some(5),
    Bow(RDamage): Some(3),
    Bow(RCost): Some(3),
    Bow(RSpeed): Some(2),
    Bow(SDamage): Some(2),
    Bow(SCost): Some(2),
    Bow(SArrows): Some(5),
    Bow(SSpread): Some(8),
    Staff(BDamage): Some(5),
    Staff(BRegen): Some(2),
    Staff(BRadius): Some(3),
    Staff(FRange): Some(2),
    Staff(FDamage): Some(3),
    Staff(FDrain): Some(2),
    Staff(FVelocity): Some(2),
    Staff(SDamage): Some(3),
    Staff(SKnockback): Some(2),
    Staff(SRange): Some(2),
    Staff(SCost): Some(3),
    Sceptre(LDamage): Some(3),
    Sceptre(LRange): Some(4),
    Sceptre(LLifesteal): Some(8),
    Sceptre(LRegen): Some(2),
    Sceptre(HHeal): Some(10),
    Sceptre(HCost): Some(4),
    Sceptre(HRange): Some(4),
    // Sceptre(HDuration): Some(2),
    Sceptre(AStrength): Some(2),
    Sceptre(ADuration): Some(2),
    Sceptre(ARange): Some(3),
    Sceptre(ACost): Some(2),
    Roll(Cost): Some(5),
    Roll(Strength): Some(2),
    Roll(Duration): Some(2),
    Climb(Cost): Some(2),
    Climb(Speed): Some(2),
    Swim(Speed): Some(2),
    Pick(Speed): Some(5),
    Pick(OreGain): Some(3),
    Pick(GemGain): Some(3),
})
