{
    General: [
        UnlockGroup(Weapon(Sword)),
        UnlockGroup(Weapon(Axe)),
        UnlockGroup(Weapon(Hammer)),
        UnlockGroup(Weapon(Bow)),
        UnlockGroup(Weapon(Staff)),
        UnlockGroup(Weapon(Sceptre)),
        Climb(Cost),
        Climb(Speed),
        Swim(Speed),
    ],
    Weapon(Sword): [
        Sword(CrescentSlash),
        Sword(FellStrike),
        Sword(Skewer),
        Sword(Cascade),
        Sword(CrossCut),
        Sword(Finisher),
        Sword(HeavySweep),
        Sword(HeavyPommelStrike),
        Sword(HeavyFortitude),
        Sword(HeavyPillarThrust),
        Sword(AgileQuickDraw),
        Sword(AgileFeint),
        Sword(AgileDancingEdge),
        Sword(AgileFlurry),
        Sword(DefensiveRiposte),
        Sword(DefensiveDisengage),
        Sword(DefensiveDeflect),
        Sword(DefensiveStalwartSword),
        Sword(CripplingGouge),
        Sword(CripplingHamstring),
        Sword(CripplingBloodyGash),
        Sword(CripplingEviscerate),
        Sword(CleavingWhirlwindSlice),
        Sword(CleavingEarthSplitter),
        Sword(CleavingSkySplitter),
        Sword(CleavingBladeFever),
    ],
    Weapon(Axe): [
        Axe(BrutalSwing),
        Axe(Berserk),
        Axe(RisingTide),
        Axe(SavageSense),
        Axe(AdrenalineRush),
        Axe(Execute),
        Axe(Maelstrom),
        Axe(Rake),
        Axe(Bloodfeast),
        Axe(FierceRaze),
        Axe(Furor),
        Axe(Fracture),
        Axe(Lacerate),
        Axe(Riptide),
        Axe(SkullBash),
        Axe(Sunder),
        Axe(Plunder),
        Axe(Defiance),
        Axe(Keelhaul),
        Axe(Bulkhead),
        Axe(Capsize),
    ],
    Weapon(Hammer): [
        Hammer(ScornfulSwipe),
        Hammer(Tremor),
        Hammer(VigorousBash),
        Hammer(Retaliate),
        Hammer(SpineCracker),
        Hammer(Breach),
        Hammer(IronTempest),
        Hammer(Upheaval),
        Hammer(Thunderclap),
        Hammer(SeismicShock),
        Hammer(HeavyWhorl),
        Hammer(Intercept),
        Hammer(PileDriver),
        Hammer(LungPummel),
        Hammer(HelmCrusher),
        Hammer(Rampart),
        Hammer(Tenacity),
        Hammer(Earthshaker),
        Hammer(Judgement),
    ],
    Weapon(Bow): [
        Bow(Foothold),
        Bow(SnareShot),
        Bow(Barrage),
        Bow(EagleEye),
        Bow(ArdentHunt),
        Bow(OwlTalon),
        Bow(HeavyNock),
        Bow(IgniteArrow),
        Bow(DrenchArrow),
        Bow(PiercingGale),
        Bow(Hawkstrike),
        Bow(Heartseeker),
        Bow(Scatterburst),
        Bow(FreezeArrow),
        Bow(JoltArrow),
        Bow(Fusillade),
        Bow(DeathVolley),
    ],
    Weapon(Staff): [
        Staff(BDamage),
        Staff(BRegen),
        Staff(BRadius),
        Staff(FDamage),
        Staff(FRange),
        Staff(FDrain),
        Staff(FVelocity),
        Staff(UnlockShockwave),
        Staff(SDamage),
        Staff(SKnockback),
        Staff(SRange),
        Staff(SCost),
    ],
    Weapon(Sceptre): [
        Sceptre(LDamage),
        Sceptre(LRange),
        Sceptre(LLifesteal),
        Sceptre(LRegen),
        Sceptre(HHeal),
        Sceptre(HRange),
        Sceptre(HDuration),
        Sceptre(HCost),
        Sceptre(UnlockAura),
        Sceptre(AStrength),
        Sceptre(ADuration),
        Sceptre(ARange),
        Sceptre(ACost),
    ],
    Weapon(Pick): [
        Pick(Speed),
        Pick(OreGain),
        Pick(GemGain),
    ],
}
