ItemDef(
    name: "Cobalt Chestpiece",
    description: "Ornamental and impenetrable, the metal will never dull.",
    kind: Armor((
        kind: Chest("Cobalt"),
        stats: (
            protection: Normal(48.0),
            poise_resilience: Normal(12.0),
            energy_max: 0,
            energy_reward: 0.0,
            crit_power: 0.0,
            stealth: 0.0,
        ),
    )),
    quality: High,
    tags: [
        Material(Cobalt),
    ],
)