/// WARNING: Localization files shall be saved in UTF-8 format without BOM

/// Localization for Arabic (Saudi locale)
(
    metadata: (
        language_name: "العربية (Arabic - Saudi Arabia)",
        language_identifier: "ar-SA",
    ),
    convert_utf8_to_ascii: true,
    fonts: {
        "alkhemi": Font (
            asset_key: "voxygen.font.Alkhemikal",
            scale_ratio: 1.0,
        ),
        "cyri": Font (
            asset_key: "voxygen.font.haxrcorp_4089_cyrillic_altgr_extended",
            scale_ratio: 1.0,
        ),
    }
)
