ItemDef(
    name: "Any cloth item",
    description: "Various colored fabric armors.",
    kind: TagExamples(
        item_ids: [
            "common.items.armor.cloth_blue.foot",
            "common.items.armor.cloth_blue.hand",
            "common.items.armor.cloth_blue.pants",
            "common.items.armor.cloth_blue.shoulder",
            "common.items.armor.cloth_green.foot",
            "common.items.armor.cloth_green.hand",
            "common.items.armor.cloth_green.pants",
            "common.items.armor.cloth_green.shoulder",
            "common.items.armor.cloth_purple.foot",
            "common.items.armor.cloth_purple.hand",
            "common.items.armor.cloth_purple.pants",
            "common.items.armor.cloth_purple.shoulder",
        ],
    ),
    quality: Common,
    tags: [],
)
