EntityConfig (
    name: Some("Harvester"),
    body: RandomWith("harvester"),
    alignment: Alignment(Enemy),

    loot: LootTable("common.loot_tables.dungeon.tier-0.boss"),

    hands: Uninit,

    meta: [],
)
