ItemDef(
    name: "Abyssal Gorget",
    description: "Harnessed vigour of the tides",
    kind: Armor((
        kind: Neck,
        stats: Direct((
            protection: Some(Normal(6.0)),
            poise_resilience: Some(Normal(4.0)),
        )),
    )),
    quality: Legendary,
    tags: [],
)