ItemDef(
    legacy_name: "Ankh of Life",
    legacy_description: "A unique necklace of unknown origin... You can feel the power flowing through it.",
    kind: Armor((
        kind: Neck,
        stats: Direct((
            protection: Some(Normal(2.0)),
            energy_max: Some(10.0),
            energy_reward: Some(0.05),
            precision_power: Some(-0.075),
        )),
    )),
    quality: Legendary,
    tags: [],
)
