ItemDef(
    name: "Carcanet of Wrath",
    description: "A necklace that gives even the most feeble beings immense amounts of power.",
    kind: Armor((
        kind: Neck("Carcanet"),
        stats: (
            protection: Normal(2.0),
            poise_resilience: Normal(0.0),
            energy_max: 0,
            energy_reward: 0.0,
            crit_power: 0.2,
            stealth: 0.0,
        ),
    )),
    quality: Legendary,
    tags: [],
)