ItemDef(
    name: "Gem of Resilience",
    description: "Surrounded by a discrete magical glow.",
    kind: Armor((
        kind: Neck,
        stats: Direct((
            protection: Some(Normal(2.0)),
            poise_resilience: Some(Normal(1.0)),
        )),
    )),
    quality: Moderate,
    tags: [],
)