ItemDef(
    name: "Pendant of Protection",
    description: "You feel some sort of presence keeping you safe...",
    kind: Armor((
        kind: Neck,
        stats: (
            protection: Some(Normal(1.5)),
        ),
    )),
    quality: Common,
    tags: [],
)