ItemDef(
    legacy_name: "Seashell Necklace",
    legacy_description: "Contains the guardian aura of the ocean",
    kind: Armor((
        kind: Neck,
        stats: Direct((
            protection: Some(Normal(1.0)),
            energy_max: Some(7.5),
            precision_power: Some(-0.03),
        )),
    )),
    quality: Moderate,
    tags: [],
)