ItemDef(
    name: "Emerald Sceptre",
    description: "Its stone is the closest thing from perfection",
    kind: Tool((
        kind: Sceptre,
        hands: Two,
        stats: Direct((
            equip_time_secs: 0.3,
            power: 2.0,
            poise_strength: 1.0,
            speed: 1.0,
            crit_chance: 0.140625,
        )),
    )),
    quality: Epic,
    tags: [],
)