ItemDef(
    name: "Tarasque Gauntlets",
    description: "Shattered fragments from a tarasque shell shaped into a protective gauntlets.",
    kind: Armor((
        kind: Hand("Tarasque"),
        stats: (
            protection: Normal(10.0),
            poise_protection: Normal(12.0),
        ),
    )),
    quality: High,
)