ItemDef(
    name: "Velorite Mantle",
    description: "",
    kind: Armor(
        (
            kind: Shoulder,
            stats: (
            ),
        )
    ),
    quality: Debug,
    tags: [],
)
