ItemDef(
    name: "Velorite Skirt",
    description: "",
    kind: Armor(
        (
            kind: Pants("VeloriteMage0"),
            stats: (
                protection: Invincible,
                poise_resilience: Invincible,
            ),
        )
    ),
    quality: Debug,
)
