ItemDef(
    name: "Lucerne Hammer",
    description: "A hybrid fusion of a warhammer and a polearm.",
    kind: Tool(
        (
            kind: Hammer,    
            stats: (
                equip_time_millis: 500,
                power: 1.20),            
        )
    ),
    quality: Common,
)
