ItemDef(
    name: "Iron Hammer",
    description: "This heavy, solid chunk iron hammer head is simple and brutal in its design.",
    kind: Tool(
        (
            kind: Hammer("IronHammer0"),    
            stats: (
                equip_time_millis: 500,
                power: 1.20),            
        )
    ),
    quality: Common,
)
