ItemDef(
    name: "Brute's Hammer",
    description: "It's not clear what metal this is made from but it has seen its fair share of battles and is quite stained with dried blood of the previous owner's enemies.",
    kind: Tool(
        (
            kind: Hammer("SteelHammer4"),    
            stats: (
                equip_time_millis: 500,
                power: 1.40
                ),            
        )
    ),
    quality: Moderate,
)
