ItemDef(
    name: "Worn Dwarven Hammer",
    description: "While the dwarves excel at rough hewn weapons, this one has seen its fair share of battles, might still serve well enough for a few more.",
    kind: Tool(
        (
            kind: Hammer,    
            stats: (
                equip_time_millis: 500,
                power: 0.85,
                speed: 1.0
            ),            
        )
    ),
    quality: Common,
)
