ItemDef(
    legacy_name: "Blazing Charm",
    legacy_description: "Flame is your ally, harness its power to burn your foes.",
    kind: Consumable(
        kind: Drink,
        effects: All([
            Buff((
                kind: Flame,
                data: (
                    strength: 0.4,
                    duration: Some(20),
                    secondary_duration: Some(5),
                ),
                cat_ids: [RemoveOnAttack],
            )),

        ])
    ),
    quality: Legendary,
    tags: [],
)