ItemDef(
    name: "Crown",
    description: "Fit for a king.",
    kind: Armor((
        kind: Head("Crown"),
        stats: (
            protection: Normal(12.0),
            poise_resilience: Normal(0.0),
            energy_max: 9.0,
            energy_reward: 0.1,
            crit_power: 0.12,
            stealth: 0.0,
        ),
    )),
    quality: Common,
    tags: [],
)
