ItemDef(
    name: "Chieftain Mask",
    description: "It smells like burned wood.",
	kind: Armor((
        kind: Head,
        stats: Direct((
            protection: Some(Normal(4.0)),
            poise_resilience: Some(Normal(0.5)),
            energy_max: Some(4.0),
            energy_reward: Some(0.03),
        )),
    )),
    quality: High,
    tags: [
        Gnarling,
        ],
)
