ItemDef(
    name: "Druid Kickers",
    description: "Incredibly light, with the essence of nature.",
    kind: Armor((
        kind: Foot,
        stats: FromSet("Lifecloth"),
    )),
    quality: High,
    tags: [
        Material(Lifecloth),
        SalvageInto(Lifecloth),
    ],
)