BasicMelee(
    energy_cost: 0,
    buildup_duration: 0.5,
    swing_duration: 0.1,
    recover_duration: 0.4,
    base_damage: 15,
    base_poise_damage: 0.04,
    knockback: ( strength: 20.0, direction: Away),
    range: 6.0,
    max_angle: 45.0,
    damage_effect: None,
    damage_kind: Crushing,
)
