/// WARNING: Localization files shall be saved in UTF-8 format without BOM
(
    string_map: {
        "hud.crafting": "Tworzenie",
        "hud.crafting.recipes": "Receptury",
        "hud.crafting.ingredients": "Składniki:",
        "hud.crafting.craft": "Stwórz",
        "hud.crafting.tool_cata": "Wymaga:",
    },


    vector_map: {
    }
)
