ItemDef(
    name: "Linen Chest",
    description: "Roughly stitched, but it seems to hold.",
    kind: Armor((
        kind: Chest("Linen"),
        stats: (
            protection: Normal(8.0),
            poise_resilience: Normal(1.0),
        ),
    )),
    quality: Moderate,
    tags: [],
)