BasicRanged(
    energy_cost: 0,
    buildup_duration: 0.3,
    recover_duration: 0.5,
    projectile: (
        kind: ExplosiveHazard(
            radius: 5,
            min_falloff: 0.75,
            reagent: Some(Yellow),
            is_sticky: false,
            duration: 10,
        ),
        attack: Some((
            damage: 25,
            poise: 0,
            energy: 0,
        )),
    ),
    projectile_body: Object(IronPikeBomb),
    projectile_light: None,
    projectile_speed: 500.0,
    num_projectiles: Value(3),
    projectile_spread: 0.3,
    move_efficiency: 0.3,
)
