/// CUIDADO: Arquivos de tradução devem ser criados no formato UTF-8 sem Marca de Ordem de byte - BOM(https://pt.wikipedia.org/wiki/Marca_de_ordem_de_byte)

/// Localization for Portuguese (Brazil)
(
    string_map: {
        "hud.do_not_show_on_startup": "Não exibir isto no início",
        "hud.show_tips": "Mostrar Dicas",
        "hud.quests": "Missões",
        "hud.you_died": "Você Morreu",
        "hud.waypoint_saved": "Waypoint Salvo",
        "hud.sp_arrow_txt": "PHs",

        "hud.press_key_to_show_keybindings_fmt": "[{key}] mapeamento de teclas",
        "hud.press_key_to_toggle_lantern_fmt": "[{key}] lamparina",
        "hud.press_key_to_show_debug_info_fmt": "Pressione {key} para mostrar informações de depuração",
        "hud.press_key_to_toggle_keybindings_fmt": "Pressione {key} para mostrar/ocultar teclas mapeadas",
        "hud.press_key_to_toggle_debug_info_fmt": "Pressione {key} para mostrar/ocultar informações de depuração",

        // Mensagens de Renascimento
        "hud.press_key_to_respawn": r#"Pressione {key} para renascer na última fogueira visitada."#,

        // Tutorial Button
        "hud.tutorial_btn": r#"Tutorial"#,
        "hud.tutorial_click_here": r#"Pressione [ {key} ] para liberar o cursor e clique neste botão!"#,
        "hud.tutorial_elements": r#"Criação"#,

"hud.temp_quest_headline": r#"Olá viajante!"#,
"hud.temp_quest_text": r#"Para o início de sua jornada, você pode começar buscando suprimentos nesta cidade. 

Você é bem-vindo para pegar o que for necessário para sua jornada!

Olhe no canto inferior direito de sua tela para encontrar diversas coisas como sua mochila, o menu de criação e o mapa.

A criação te permite constuir armadoras, armas, fazer alimentos e muto mais!

Os animais selvagens ao redor da cidade são uma boa fonte de Retalhos de Couro(Leather Scraps) para que você crie uma certa proteção contra as intempéries do mundo.

Assim que você se sentir pronto, tente adquirir equipamentos melhores dos desafios marcados para você no mapa!
"#,

        "hud.spell": "Magias",
        // Diary
        "hud.diary": "Diário",

        "hud.free_look_indicator": "Câmera livre ativada.  Pressione {key} para desabilitar.",
        "hud.camera_clamp_indicator": "Trava vertical de câmera ativada. Pressione {key} para desabilitar.",
        "hud.auto_walk_indicator": "Caminhar/Planar automático ativado",
    },


    vector_map: {
    }
)
