(
    tracks: [
        (
            path: "voxygen.audio.ambience.wind",
            length: 14.2,
            tag: Wind,
        ),     
        (
            path: "voxygen.audio.ambience.rain",
            length: 17.0,
            tag: Rain,
        ), 
        (
            path:"voxygen.audio.ambience.thunder",
            length: 32.0,
            tag: Thunder,
        ),
        (
            path:"voxygen.audio.ambience.leaves",
            length: 26.0,
            tag: Leaves,
        ),
        (
            path:"voxygen.audio.ambience.cave",
            length: 75.5,
            tag: Cave,
        )
    ]
)
