// TODO: Re-add tunes that are not fitting general outside day/night situations
// TODO: Add an ambient-soundtrack that runs independently from the musical soundtrack
//Times: Some(Day), Some(Night), None
//List of biomes currently: Grassland, Forest, Jungle, Desert, Snowland, Lake, Mountain
//Sites: Cave, Dungeon

(
    tracks: [
        (
            title: "A Solemn Quest",
            path: "voxygen.audio.soundtrack.a_solemn_quest",
            length: 206.0,
            timing: Some(Night),
            biomes: [
                (Jungle, 1),
                (Desert, 1),
                (Grassland, 1),
                (Snowland, 1),
                (Mountain, 1),
                (Lake, 1),
            ],
            site: Some(Void),
            artist: "Eden",
        ),        
        (
            title: "Into The Dark Forest",
            path: "voxygen.audio.soundtrack.into_the_dark_forest",
            length: 184.0,
            timing: Some(Night),
            biomes: [
                (Forest, 1),
                (Jungle, 1),
            ],
            site: Some(Void),
            artist: "Aeronic",
        ),
        (
            title: "Field Grazing",
            path: "voxygen.audio.soundtrack.field_grazing",
            length: 154.0,
            timing: Some(Day),
            biomes: [
                (Grassland, 1),
            ],
            site: Some(Void),
            artist: "Aeronic",
        ),
        (
            title: "Wandering Voices",
            path: "voxygen.audio.soundtrack.wandering_voices",
            length: 137.0,
            timing: Some(Night),
            biomes: [],
            site: Some(Void),
            artist: "Aeronic",
        ),
        (
            title: "Snowtop Volume",
            path: "voxygen.audio.soundtrack.snowtop_volume",
            length: 89.0,
            timing: None,
            biomes: [
                (Snowland, 1),
                (Mountain, 1),
            ],
            site: Some(Void),
            artist: "Aeronic",
        ),
        (
            title: "Mineral Deposits",
            path: "voxygen.audio.soundtrack.mineral_deposits",
            length: 148.0,
            timing: None,
            biomes: [],
            site: Some(Cave),
            artist: "Aeronic",
        ),
        (
            title: "Moonbeams",
            path: "voxygen.audio.soundtrack.moonbeams",
            length: 158.0,
            timing: Some(Night),
            biomes: [],
            site: Some(Void),
            artist: "Aeronic",
        ),
        (
            title: "Serene Meadows",
            path: "voxygen.audio.soundtrack.serene_meadows",
            length: 173.0,
            timing: Some(Night),
            biomes: [
                (Forest, 1),
                (Grassland, 1),
            ],
            site: Some(Void),
            artist: "Aeronic",
        ),
        //(
        //    title: "Rest Assured", // Town/Shop 
        //    path: "voxygen.audio.soundtrack.rest_assured",
        //    length: 185.0,
        //    timing: Some(Day),
        //    biomes: [],
        //    site: Some(Void),
        //    artist: "badbbad",
        //),
        (
            title: "Just The Beginning",
            path: "voxygen.audio.soundtrack.just_the_beginning",
            length: 188.0,
            timing: Some(Day),
            biomes: [
                (Grassland, 1),
                (Snowland, 1),
                (Mountain, 1),
            ],
            site: Some(Void),
            artist: "badbbad",
        ),
        (
            title: "Campfire Stories",
            path: "voxygen.audio.soundtrack.campfire_stories",
            length: 100.0,
            timing: Some(Night),
            biomes: [],
            site: Some(Void),
            artist: "badbbad",
        ),
        (
            title: "Limits",
            path: "voxygen.audio.soundtrack.limits",
            length: 203.0,
            timing: None,
            biomes: [
                (Desert, 1),
                (Lake, 1)
            ],
            site: Some(Void),
            artist: "badbbad",
        ),
        (  
            title: "Down The Rabbit Hole",
            path: "voxygen.audio.soundtrack.down_the_rabbit_hole",
            length: 244.0,
            timing: None,
            biomes: [],
            site: Some(Cave),
            artist: "badbbad",
        ),
         (  //Repeat for other site
            title: "Down The Rabbit Hole",
            path: "voxygen.audio.soundtrack.down_the_rabbit_hole",
            length: 244.0,
            timing: None,
            biomes: [],
            site: Some(Dungeon),
            artist: "badbbad",
        ),
        (
            title: "Between The Fairies",
            path: "voxygen.audio.soundtrack.between_the_fairies",
            length: 175.0,
            timing: Some(Night),
            biomes: [
                (Forest, 1),
                (Lake, 1),
                (Snowland, 1),
            ],
            site: Some(Void),
            artist: "badbbad",
        )
    ]
)
