ItemDef(
    legacy_name: "Damaged Gladius",
    legacy_description: "This blade has seen better days, but surely it will last.",
    kind: Tool((
        kind: Sword,
        hands: One,
        stats: (
            equip_time_secs: 0.4,
            power: 0.4675,
            effect_power: 0.9,
            speed: 0.825,
            range: 0.9,
            energy_efficiency: 0.825,
            buff_strength: 0.675,
        ),
    )),
    quality: Low,
    tags: [],
    ability_spec: None,
)
