ItemDef(
    name: "Damaged Gladius",
    description: "This blade has seen better days, but surely it will last.",
    kind: Tool((
        kind: Sword,
        hands: One,
        stats: (
            equip_time_secs: 0.3,
            power: 0.4,
            effect_power: 1.0,
            speed: 1.2,
            crit_chance: 0.1,
            range: 1.0,
            energy_efficiency: 1.1,
            buff_strength: 0.9,
        ),
    )),
    quality: Low,
    tags: [],
    ability_spec: None,
)
