ItemDef(
    name: "Noble Scimitar",
    description: "Forged with steel.",
    kind: Tool((
        kind: Sword,
        hands: One,
        stats: (
            equip_time_secs: 0.4,
            power: 1.3,
            poise_strength: 1.0,
            speed: .95,
        ),
    )),
    quality: Moderate,
    tags: [],
)