/// Localization for French (France locale)
(
    string_map: {

    },


    vector_map: {
        "npc.speech.villager": [
            "J'adore le fromage.",
        ],
        "npc.speech.villager_open": [
            "Je me demande à quoi pense les Catoplébas lorsqu'ils mangent de l'herbe.",
            "What do you suppose makes Glowing Remains glow?",
            "As-tu déjà entendu parler des féroces Requins Terrestres? J'ai entendu dire qu'ils vivaient dans les déserts.",
            "Je me demande ce qu'il y a de l'autre côté de la montagne.",
            "J'ai laissé du fromage à mon frère. Maintenant je ne sais pas s'il existe toujours ou non. Je l'ai appelé le fromage de Schrödinger.",
            "As-tu déjà attrapé une luciole?",
            "Ils disent que des gemmes brillantes en tout genre peuvent être trouvées dans les cavernes.",
            "Je ne peux tout simplement pas comprendre d'où ces Sauroks continuent de venir.",
        ],
        "npc.speech.villager_adventurous": [
            "J'espère créer mon propre planeur un jour.",
            "J'aimerai explorer les cavernes quand je serai plus fort.",
        ],
        "npc.speech.villager_closed": [
            "Tu n'es pas du coin n'est-ce-pas ?",
            "Tu ne pense pas que notre vilage est le meilleur ?",
            "Ils disent que les champignons sont bons pour la santé. Je n'en ai jamais mangé personnellement.",
            "Être, ou ne pas être? Je pense que je deviendrai un fermier.",
        ],
        "npc.speech.villager_conscientious": [
            "Je suis toujours occupé. Il y a toujours quelque chose à faire.",
            "J'espère qu'il va bientôt pleuvoir. Ce serait bien pour les plantes.",
        ],
        "npc.speech.villager_busybody": [
            "Tout le monde devrait parler moins et travailler plus.",
        ],
        "npc.speech.villager_unconscientious": [
            "Je pense qu'il est temps pour un second déjeuner!",
            "J'aurai souhaité que ma maison ne soit pas autant dérangée. Désormais, je dois tout ranger! Haha!",
            "Où ai-je bien pu mettre ceci...",
        ],
        "npc.speech.villager_extroverted": [
            "Tu ne vas pas croire ce que j'ai fais ce week-end!",
            "Bonne journée!",
            "Que penses-tu de ce temps ?",
            "Je suis juste fana de fromage!",
            "N'oublie pas les crackers!",
            "J'adore tout simplement le fromage de nain. J'aurai aimé pouvoir en faire.",
            "J'ai eu un super rêve à propos de fromage la nuit dernière. Qu'est-ce senser signifier ?",
            "J'aime le miel! Et je déteste les abeilles.",
        ],
        "npc.speech.villager_sociable": [
            "Tu ne viens pas ? Nous étions sur le points de passer au fromage!",
            "Tu veux voir mon jardin? D'accord, peut-être une autre fois.",
        ],
        "npc.speech.villager_introverted": [
            "Bonjour.",
            "Oh moi? Je ne suis pas particulier.",
        ],
        "npc.speech.villager_agreeable": [
            "Comment vas-tu aujourd'hui?",
            "Dis-moi juste si tu as besoin de quoi que ce soit.",
            "As-tu vu mon chat?",
        ],
        "npc.speech.villager_worried": [
            "Fais attention, d'accord? Il y a tellement de danger par ici.",
        ],
        "npc.speech.villager_disagreeable": [
            "Je le dis comme ça. Si les gens n'aime pas ça, tant pis.",
            "Tout le monde est offensé trop facilement.",
        ],
        "npc.speech.villager_neurotic": [
            "Penser à ces donjons me fait peur. J'espère que quelqu'un viendra les compléter.",
            "Quelqu'un devrait faire quelque chose à propos de ces cultistes. Préférablement pas moi.",
            "J'ai le sentiment que quelque chose de mal va arriver.",
            "J'aimerai que quelqu'un garde ces loups loin du village.",
        ],
        "npc.speech.villager_sad_loner": [
            "Je me sens si seul.",
            "... Désolé à propos de cet étrange silence. Je ne suis pas très sociable.",
        ],
        "npc.speech.villager_seeker": [
            "J'aimerai voir le monde un jour. Il devrait y avoir plus de personnes que dans ce village.",
        ],
        "npc.speech.villager_stable": [
            "N'est-ce-pas un merveilleux jour?",
            "La vie n'est pas trop mal.",
            "Super journée pour se balader dans les bois!",
        ],
        "npc.speech.villager_decline_trade": [
            "Désolé, je n'ai rien à échanger.",
            "Échanger? Comme-si j'avais quoi que ce soit qui pourrait t'intéresser.",
            "Ma maison est à moi, je ne l'échangerai pour rien au monde.",
        ],
        "npc.speech.villager_busy": [
            "Désolé, je ne peux pas vous parler pour le moment.",
            "On verra ça plus tard, je suis occupé."
        ],
        "npc.speech.merchant_advertisement": [
            "Puis-je t'intéresser par un échange ?",
            "Veux-tu échanger avec moi?",
            "J'ai plein d'objets, Tu veux jeter un coup d'oeil?"
        ],
        "npc.speech.merchant_busy": [
            "S'il te plaît attends, Je ne suis qu'une personne.",
            "Un petit moment, laisse moi finir.",
            "Je suis occupé, reviens plus tard."
        ],
        "npc.speech.merchant_busy_rude": [
            "Hey, attends ton tour.",
            "Tu ne vois pas qu'il y avait quelqu'un avant toi?",
            "On ne dépasse pas dans la file.",
        ],
        "npc.speech.merchant_trade_successful": [
            "Merci d'avoir échangé avec moi!",
            "Merci!",
        ],
        "npc.speech.merchant_trade_declined": [
            "Peut-être une autre fois, bonne journée!",
            "Mince, peut-être une autre fois alors!"
        ],
        "npc.speech.merchant_trade_cancelled_hostile": [
            "On va devoir arrêter là pour l'instant, on a un problème à régler !",
            "On finira cet échange une prochaine fois, il y a une urgence par ici !"
        ],
        "npc.speech.villager_cultist_alarm": [
            "Regarde! Il y a un cultiste errant!",
            "Aux armes! Les cultistes attaquent!",
            "Comment les cultistes osent-ils attaquer notre village!",
            "Mort aux cultistes!",
            "Les cultistes ne sont pas tolérés ici!",
            "Cultiste meurtrié!",
            "Goûte à la pointe de mon épée, satané cultiste!",
            "Rien ne peut nettoyer le sang sur vos mains, cultistes!",
            "Mille millions de mille sabords! Un cultiste parmi nous!",
            "Les actes démoniaques de ce cultiste sont sur le point d'arriver à leur fin!",
            "Ce cultiste est à moi!",
            "Prépare toi à rencontrer ton créateur, satané cultiste!",
            "J'ai vu un cultiste! Attrapez-le!",
            "J'ai vu un cultiste! Attaquez!",
            "J'ai vu un cultiste! Ne le laissez pas s'échapper!",
            "Est-ce que le cultiste le plus honorable prête attention à une quelconque MORT?!",
            "Ne pardonnez jamais! N'oubliez jamais! Cultiste, regrette!",
            "Meurs, cultiste!",
            "Votre règne de terreur est sur le point de cesser!",
            "Ça c'est pour tout ce que tu as fais!",
            "Nous ne traitons pas gentilement les gens de ton genre par ici.",
            "Tu aurais dû rester sous terre!",
        ],
        "npc.speech.villager_under_attack": [
            "À l'aide, on m'attaque!",
            "À l'aide, on m'attaque!",
            "Ouch, on m'attaque!",
            "Ouch, on m'attaque! À l'aide!",
            "À l'aide, on m'attaque!",
            "On m'attaque! À l'aide!",
            "On m'attaque! À l'aide!",
            "À l'aide!",
            "À l'aide! À l'aide!",
            "À l'aide! À l'aide! À l'aide!",
            "On m'attaque!",
            "AAAHHH! On m'attaque!",
            "AAAHHH! On m'attaque! À l'aide!",
            "À l'aide, on se fait attaquer!",
            "À l'aide! Meurtrier!",
            "À l'aide! Il y a un meurtrier en liberté!",
            "À l'aide! Ils tentent de me tuer!",
            "Guardes, on m'attaque!",
            "Guardes, on m'attaque!",
            "On m'attaque! Guardes!",
            "À l'aide! Guardes! On m'attaque!",
            "Guardes! Venez-vite!",
            "Guardes! Guardes!",
            "Guardes! Il y a un vilain qui m'attaque!",
            "Guardes, découpez ce satané vilain!",
            "Guardes! Il y a un meurtrier!",
            "Guardes! À l'aide!",
            "Tu ne t'enfuiras pas comme ça! Guardes!",
            "Démon!",
            "À l'aide!",
            "À l'aide! S'il-vous-plaît!",
            "Ouch! Guardes! À l'aide!",
            "Ils viennent pour moi!",
            "À l'aide! À l'aide! Je me fais opprimé!",
            "Ah, maintenant on peut voir la violence inhérente de ce système.",
            "Ce n'est qu'une égratignure!",
            "Arrête ça!",
            "Que t'ai-je donc fais?!",
            "S'il-te-plaît arrêter de m'attaquer!",
            "Hey! Fais attention à où tu pointes ce truc!",
            "Misérable ingrat, disparaîs!",
            "Arrête! Va t'en!",
            "Maintenant tu m'énerves!",
            "Oi! Qui penses-tu être?!",
            "J'aurai ta tête pour ça!",
            "Arrête, s'il-te-plaît! Je ne possède rien de valeur!",
            "Je vais appeler mon frère, il est plus fort que moi!",
            "Nooon, je vais le dire à ma mère!",
            "Sois maudit!",
            "S'il-te-plaît ne fait pas ça.",
            "C'est vraiment pô nice!",
            "Ton arme fonctionne, tu peux l'écarter maintenant!",
            "Épargne-moi!",
            "S'il-te-plaît, j'ai une famille!",
            "Je suis trop jeune pour mourrir!",
            "Peut-on parler en parler?",
            "La violence n'est jamais une solution!",
            "Aujourd'hui vient de devenir un mauvais jour...",
            "Hey, ça fait mal!",
            "Eek!",
            "Si rude!",
            "Arrête, je t'en supplie!",
            "Va au diable!",
            "Ce n'est pas marrant.",
            "Comment oses-tu?!",
            "Tu vas payer pour ça!",
            "Continue comme ça et tu vas être désolé!",
            "Ne me fais pas te faire du mal!",
            "Il doit y avoir une incompréhension!",
            "Tu n'as pas besoin de faire ça!",
            "Disparaîs, démon!",
            "Ça fait un mal de chien!",
            "Pourquoi fais-tu ça?",
            "Par les esprits, arrête!",
            "Tu dois me confondre avec quelqu'un d'autre!",
            "Je ne mérite pas ça!",
            "S'il-te-plaît ne refais pas ça.",
            "Guardes, jetez ce monstre dans le lac!",
            "Je vais t'envoyer mon tarasque!",
            "Pourquoi moiiiiiii?",
        ],
        "npc.speech.villager_enemy_killed": [
            "J'ai détruis mon ennemi!",
            "Enfin en paix!",
            "... Bon, maintenant on fait quoi?",
        ],
        "npc.speech.menacing": [
            "Je te préviens!",
            "Approche toi encore et je t'attaques!",
            "Tu ne me fais pas peur!",
            "Va t-en d'ici!",
            "Fais demi-tour si tu veux vivre!",
            "Tu n'es pas la bienvenue ici!",
        ],
        "npc.speech.cultist_low_health_fleeing": [
            "Retraite pour la cause!",
            "Retraite!",
            "Sois maudit!",
            "Je te maudirai depuis l'Au-delà!",
            "Je dois me reposer!",
            "Ils sont bien trop forts!",
        ]
    }
)
