ItemDef(
    name: "Broom",
    description: "It's beginning to fall apart.",
    kind: Tool((
        kind: Farming,
        hands: Two,
        stats: (
            equip_time_secs: 0.4,
            power: 1.0,
            effect_power: 1.0,
            speed: 1.0,
            crit_chance: 0.1125,
            range: 1.0,
            energy_efficiency: 1.0,
            buff_strength: 1.0,
        ),
    )),
    quality: Common,
    tags: [],
    ability_spec: None,
)