Item(
    name: "Pitchfork",
    description: "One of the prongs is broken.",
    kind: Tool (
        (
            kind: Farming("Pitchfork"),
            stats: (
                equip_time_millis: 400,
                power: 1.00,
            ),
        )
    ),
)
