/// WARNING: Localization files shall be saved in UTF-8 format without BOM

/// Localization for italian
(
    string_map: {
        "hud.do_not_show_on_startup": "Non mostrare all'Avvio",
        "hud.show_tips": "Mostra Consigli",
        "hud.quests": "Missioni",
        "hud.you_died": "Sei Morto",
        "hud.waypoint_saved": "Waypoint Salvato",
        "hud.sp_arrow_txt": "PA",

        "hud.press_key_to_show_keybindings_fmt": "Associazione tasti [{key}]",
        "hud.press_key_to_toggle_lantern_fmt": "Lanterna [{key}]",
        "hud.press_key_to_show_debug_info_fmt": "Premi {key} per mostrare le info di debug",
        "hud.press_key_to_toggle_keybindings_fmt": "Premi {key} per attivare/disattivare l'associazione tasti",
        "hud.press_key_to_toggle_debug_info_fmt": "Premi {key} per attivare/disattivare le informazioni di debug",

        // Respawn message
        "hud.press_key_to_respawn": r#"Premi {key} per rinascere all'ultimo falò che hai visitato."#,

        // Tutorial Button
        "hud.tutorial_btn": r#"Tutorial"#,
        "hud.tutorial_click_here": r#"Premi [ {key} ] per liberare il tuo cursore e cliccare questo pulsante!"#,
        "hud.tutorial_elements": r#"Creazione"#,

"hud.temp_quest_headline": r#"Saluti Viaggiatore!"#,
"hud.temp_quest_text": r#"Per iniziare la tua avventura potresti cominciare col controllare questo villaggio e raccogliere delle forniture. 

Sei il benvenuto a prendere qualunque cosa di cui hai bisogno per il tuo viaggio!

Guarda in basso a destra dello schermo per trovare varie cose come la tua borse, il menù di creazione e la mappa.

Il menù di creazione ti permette di creare armature, armi, cibo e molto altro!

Gli animali selvatici intorno alla città sono una grande fonte di Scarti di Pelle per creare alcune protezioni contro i pericoli del mondo.

Quando ti sentirai pronto, prova a ottenere un equipaggiamento migliore dalle tante sfide segnate sulla tua mappa!
"#,

        "hud.spell": "Incantesimi",
        // Diary
        "hud.diary": "Diario",

        "hud.free_look_indicator": "Visuale libera attiva. Premi {key} per disabilitarla.",
        "hud.camera_clamp_indicator": "Morsetto Camera verticale attiva. Premi {key} per disabilitarlo.",
        "hud.auto_walk_indicator": "Camminata/Nuoto Automatico attivo",
    },


    vector_map: {
    }
)
