([
    Tree("common.skillset.preset.rank2.axe"),
    Tree("common.skillset.preset.rank2.bow"),
    Tree("common.skillset.preset.rank2.general"),
    Tree("common.skillset.preset.rank2.hammer"),
    Tree("common.skillset.preset.rank2.sceptre"),
    Tree("common.skillset.preset.rank2.staff"),
    Tree("common.skillset.preset.rank2.sword"),
])
