Shockwave(
    energy_cost: 0,
    buildup_duration: 0.6,
    swing_duration: 0.2,
    recover_duration: 0.6,
    damage: 60,
    poise_damage: 80,
    knockback: (strength: 10.0, direction: Up),
    shockwave_angle: 360.0,
    shockwave_vertical_angle: 45.0,
    shockwave_speed: 8.0,
    shockwave_duration: 2.5,
    dodgeable: Jump,
    move_efficiency: 0.0,
    damage_kind: Crushing,
    specifier: Ground,
    ori_rate: 0.0,
    timing: PostAction,
    emit_outcome: false,
    minimum_combo: Some(20),
    combo_consumption: Cost,
)