Item(
    name: "Flowery Shirt",
    description: "A shirt woven from twigs and flowers.",
    kind: Armor(
        (
            kind: Chest("Twigsflowers"),
            stats: (
                protection: Normal(15.0),
            ),
        )
    ),
)
