ItemDef(
    name: "Leafy Shirt",
    description: "Leaves cover the magically embued twig chainmail to hide the appearance.",
    kind: Armor(
        (
            kind: Chest("Twigsleaves"),
            stats: (
                protection: Normal(15.0)
                ),            
        )
    ),
    quality: Moderate,
)
