Item(
    name: "Leafy Shirt",
    description: "A shirt woven from twigs and leaves.",
    kind: Armor(
        (
            kind: Chest("Twigsleaves"),
            stats: (
                protection: Normal(15.0),
            ),
        )
    ),
)
