Item(
    name: "Orange Worker Shirt",
    description: "Was used by a farmer, until recently.",
    kind: Armor(
        (
            kind: Chest("WorkerOrange1"),
            stats: (
                protection: Normal(1.0),
            ),
        )
    ),
)
