#![enable(implicit_some)]
(
    name: Automatic,
    body: RandomWith("husk"),
    alignment: Alignment(Enemy),
    loot: LootTable("common.loot_tables.dungeon.cultist.husk"),
    inventory: (
        loadout: Asset("common.loadout.dungeon.cultist.husk"),
    ),
    meta: [],
)
