ItemDef(
    legacy_name: "Leather Pants",
    legacy_description: "Only dirt covers these garments whilst you lie in wait.",
    kind: Armor((
        kind: Pants,
        stats: FromSet("Leather"),
    )),
    quality: Common,
    tags: [
        Material(Leather),
        SalvageInto(Leather, 2),
    ],
)