Item(
    name: "Apple",
    description: "Red and juicy.
    
Restores 20 Health.",
    kind: Consumable(
        kind: Apple,
        effect: Health((
            amount: 20,
            cause: Item,
        )),
    ),
)
