Item(
    name: "Minor Potion",
    description: "Restores a small amount of Health.

Restores 50 Health.",
    kind: Consumable(
        kind: PotionMinor,
        effect: Health((
            amount: 50,
            cause: Item,
        )),
    ),
)
