ComboMelee2(
    strikes: [
        (
            melee_constructor: (
                kind: Slash(
                    damage: 45,
                    poise: 20,
                    knockback: 12,
                    energy_regen: 0,
                ),
                range: 3.5,
                angle: 50.0,
            ),
            buildup_duration: 0.35,
            swing_duration: 0.25,
            hit_timing: 0.5,
            recover_duration: 1.5,
            movement: (
                swing: None,
            ),
            movement_modifier: (
                recover: Some(0.35),
            ),
            ori_modifier: (
                buildup: Some(0.75),
                swing: Some(0.25),
                recover: Some(0.15),
            ),
        ),
    ],
    energy_cost_per_strike: 0,
)
