Item(
    name: "Steel Belt",
    description: "A belt forged from steel.",
    kind: Armor(
        (
            kind: Belt(Steel0),
            stats: (
                protection: Normal(0.0),
            ),
        )
    ),
)
