ItemDef(
    name: "Rawhide Cloak",
    description: "'Tightly packed pieces of leather to endure all weather.'",
    kind: Armor((
        kind: Back("Rawhide"),
        stats: (
            protection: Some(Normal(1.0)),
            crit_power: Some(0.017),
            stealth: Some(0.017),
        ),
    )),
    quality: Low,
    tags: [
        Material(Rawhide),
        SalvageInto(Rawhide),
    ],
)