ItemDef(
    legacy_name: "Rawhide Shoes",
    legacy_description: "You now walk the path of a hunter.",
    kind: Armor((
        kind: Foot,
        stats: FromSet("Rawhide"),
    )),
    quality: Low,
    tags: [
        Material(Rawhide),
        SalvageInto(Rawhide, 1),
    ],
)