ItemDef(
    name: Direct("Rawhide Shoulderpads"),
    description: "Tightly packed pieces of leather to endure all weather.",
    kind: Armor((
        kind: Shoulder("Rawhide"),
        stats: (
            protection: Some(Normal(5.0)),
            crit_power: Some(0.066),
            stealth: Some(0.066),
        ),
    )),
    quality: Direct(Low),
    tags: [
        Material(Rawhide),
        SalvageInto(Rawhide),
    ],
)