ComboMelee(
    stage_data: [
        (
            stage: 1,
            base_damage: 35.5,
            damage_increase: 0.0,
            base_poise_damage: 15.0,
            poise_damage_increase: 0.0,
            knockback: 2.0,
            range: 6.0,
            angle: 60.0,
            base_buildup_duration: 0.8,
            base_swing_duration: 0.1,
            hit_timing: 0.4,
            base_recover_duration: 0.3,
            forward_movement: 0.8,
            damage_kind: Slashing,
            damage_effect: Some(Buff((
                kind: Bleeding,
                dur_secs: 3.0,
                strength: DamageFraction(0.05),
                chance: 0.3,
            ))),
        ),
        (
            stage: 2,
            base_damage: 38.5,
            damage_increase: 0.0,
            base_poise_damage: 20.0,
            poise_damage_increase: 0.0,
            knockback: 8.0,
            range: 6.0,
            angle: 60.0,
            base_buildup_duration: 0.7,
            base_swing_duration: 0.1,
            hit_timing: 0.4,
            base_recover_duration: 1.3,
            forward_movement: 0.2,
            damage_kind: Slashing,
            damage_effect: Some(Buff((
                kind: Bleeding,
                dur_secs: 3.0,
                strength: DamageFraction(0.1),
                chance: 0.15,
            ))),
        ),
    ],
    initial_energy_gain: 0,
    max_energy_gain: 0,
    energy_increase: 0,
    speed_increase: 0.0,
    max_speed_increase: 0.0,
    scales_from_combo: 0,
    ori_modifier: 0.6,
)
