ItemDef(
    name: "Sahagin",
    description: "Ceremonial attire used by members..",
    kind: Armor((
        kind: Foot("Sahagin"),
        stats: (
            protection: Normal(14.0),
            poise_resilience: Normal(1.0),
        ),
    )),
    quality: Low,
    tags: [],
)