ItemDef(
    name: Direct("Quad Low Generic"),
    description: "Scaly.",
    kind: Armor((
        kind: Chest("QuadrupedLowGeneric"),
        stats: (
            protection: Some(Normal(40.0)),
            poise_resilience: Some(Normal(0.0)),
        ),
    )),
    quality: Direct(Moderate),
    tags: [],
)
