/// WARNING: Localization files shall be saved in UTF-8 format without BOM

/// Localization for Spanish (Spain)
(
    string_map: {
        "hud.rank_up": "Nuevo punto de habilidad",
        "hud.skill.sp_available": "{number} PH disponible",
        "hud.skill.not_unlocked": "Todavía no está desbloqueado",
        "hud.skill.req_sp": "\n\nRequiere {number} PH",
        //  Skills
        // General
        "hud.skill.inc_health_title": "Aumentar la salud",
        "hud.skill.inc_health": "Aumenta la salud máxima en 5{SP}",
        "hud.skill.inc_stam_title": "Aumenta la resistencia",
        "hud.skill.inc_stam": "Aumenta la resistencia máxima en 5{SP}",
        "hud.skill.unlck_sword_title": "Desbloquear la espada",
        "hud.skill.unlck_sword": "Desbloquea el árbol de habilidades de la espada{SP}",
        "hud.skill.unlck_axe_title": "Desbloquear el hacha",
        "hud.skill.unlck_axe": "Desbloquea el árbol de habilidades del hacha{SP}",
        "hud.skill.unlck_hammer_title": "Desbloquear el martillo",
        "hud.skill.unlck_hammer": "Desbloquea el árbol de habilidades del martillo{SP}",
        "hud.skill.unlck_bow_title": "Desbloquea el arco",
        "hud.skill.unlck_bow": "Desbloquea el árbol de habilidades del arco{SP}",
        "hud.skill.unlck_staff_title": "Desbloquear el báculo",
        "hud.skill.unlck_staff": "Desbloquea el árbol de habilidades del báculo{SP}",
        "hud.skill.unlck_sceptre_title": "Desbloquear el cetro",
        "hud.skill.unlck_sceptre": "Desbloquea el árbol de habilidades del cetro{SP}",
        "hud.skill.dodge_title": "Esquivar",
        "hud.skill.dodge": "Esquivar evita los ataques cuerpo a cuerpo{SP}",
        "hud.skill.roll_stamina_title": "Coste de resistencia Rodar",
        "hud.skill.roll_stamina": "Rodar usa un 20% menos de resistencia{SP}",
        "hud.skill.roll_speed_title": "Velocidad al rodar",
        "hud.skill.roll_speed": "Rodar es un 30% más rápido{SP}",
        "hud.skill.roll_dur_title": "Duración de rodar",
        "hud.skill.roll_dur": "Rueda durante un 20% más de tiempo{SP}",
        // Sceptre
        "hud.skill.sc_healbomb_title" : "Bomba de curación",
        "hud.skill.sc_healbomb" : "Mata con benevolencia",
        "hud.skill.sc_projectile_speed_title": "Velocidad de los proyectiles",
        "hud.skill.sc_projectile_speed": "Proyectil lanzado un 25% más rápido{SP}",
        "hud.skill.sc_energy_cost_title" : "Coste de energía",
        "hud.skill.sc_energy_cost" : "Disminuye el coste energético de la bomba en un 15%{SP}",
        "hud.skill.sc_radius_title" : "Radio",
        "hud.skill.sc_radius" : "Aumenta el radio en un 30%{SP}",
        "hud.skill.sc_damage_title" : "Daño",
        "hud.skill.sc_damage" : "Aumenta el daño de la bomba en un 20%{SP}",
        "hud.skill.sc_heal_title" : "Curación",
        "hud.skill.sc_heal" : "Aumenta la curación de la bomba en un 15%{SP}",
        "hud.skill.sc_heal_cost_title" : "Coste de curación",
        "hud.skill.sc_heal_cost" : "Usa un 10% menos de energía al curar{SP}",
        "hud.skill.sc_lifesteal_efficiency_title" : "Eficiencia de robo de vida",
        "hud.skill.sc_lifesteal_efficiency" : "Roba un 25% más de salud{SP}",
        "hud.skill.sc_range_title" : "Alcance",
        "hud.skill.sc_range" : "Rayo más largo en un 20%{SP}",
        "hud.skill.sc_energy_regen_title" : "Regeneración de energía",
        "hud.skill.sc_energy_regen" : "Aumenta la regeneración de energía al infligir daño en un 10%{SP}",
        "hud.skill.sc_beam_title" : "Rayo de curación",
        "hud.skill.sc_beam" : "Sana a tu grupo y des sana a los enemigos",
        "hud.skill.sc_beam_damage_title" : "Daño del rayo",
        "hud.skill.sc_beam_damage" : "Aumenta el daño del rayo en un 25%{SP}",
        "hud.skill.sc_beam_heal_title" : "Curación del rayo",
        "hud.skill.sc_beam_heal" : "Aumenta la curación del rayo en un 15%{SP}",
        // Staff
        "hud.skill.st_shockwave_range_title" : "Alcance de la onda de choque",
        "hud.skill.st_shockwave_range" : "lanza cosas que antes estaban fuera de su alcance, rango incrementado 20%{SP}",
        "hud.skill.st_shockwave_cost_title" : "Coste de la onda de choque",
        "hud.skill.st_shockwave_cost" : "Disminuye el coste de energía para lanzar Aldeanos Indefensos en un 20%{SP}",
        "hud.skill.st_shockwave_knockback_title" : "Retroceso por onda de choque",
        "hud.skill.st_shockwave_knockback" : "Increases throw potential by 30%{SP}",
        "hud.skill.st_shockwave_damage_title" : "Daño por onda de choque",
        "hud.skill.st_shockwave_damage" : "Aumenta el daño causado en un 30%{SP}",
        "hud.skill.st_shockwave_unlock_title" : "Desbloquear Onda De Choque",
        "hud.skill.st_shockwave_unlock" : "Desbloquea la habilidad de alejar a los enemigos usando fuego{SP}",
        "hud.skill.st_flamethrower_title" : "Lanzallamas",
        "hud.skill.st_flamethrower" : "Lanza fuego, cocínalos a todos",
        "hud.skill.st_flame_velocity_title" : "Velocidad de la llama",
        "hud.skill.st_flame_velocity" : "Hace que el fuego vaya más rápido en un 25%{SP}",
        "hud.skill.st_flamethrower_range_title" : "Alcance del lanzallamas",
        "hud.skill.st_flamethrower_range" : "Las llamas llegan un 25% más lejos{SP}",
        "hud.skill.st_energy_drain_title" : "Drenaje de energía",
        "hud.skill.st_energy_drain" : "Disminuye la tasa de drenaje de energía en un 20%{SP}",
        "hud.skill.st_flamethrower_damage_title" : "Daño del lanzallamas",
        "hud.skill.st_flamethrower_damage" : "Aumenta el daño en un 30%{SP}",
        "hud.skill.st_explosion_radius_title" : "Radio de explosión",
        "hud.skill.st_explosion_radius" : "Más grande es mejor, aumenta el radio de explosión en un 10%{SP}",
        "hud.skill.st_stamina_regen_title" : "Regeneración de resistencia",
        "hud.skill.st_stamina_regen" : "Aumenta la regeneración de resistencia en un 20%{SP}",
        "hud.skill.st_fireball_title" : "Bola de fuego",
        "hud.skill.st_fireball" : "Juega a perseguir a los enemigos",
        "hud.skill.st_damage_title" : "Daño",
        "hud.skill.st_damage" : "Aumenta el daño en un 20%{SP}",
        "hud.skill.st_explosion_title" : "Explosión",
        "hud.skill.st_explosion" : "Cuando el fuego no es suficiente{SP}",
        // Bow
        "hud.skill.bow_projectile_speed_title" : "Velocidad del proyectil",
        "hud.skill.bow_projectile_speed" : "Te permite disparar flechas más lejos, más rápido, en un 30%{SP}",
        "hud.skill.bow_arrow_count_title" : "Recuento de flechas",
        "hud.skill.bow_arrow_count" : "dispara una flecha adicional cuando saltas{SP}",
        "hud.skill.bow_repeater_cost_title" : "Coste del arco repetidor",
        "hud.skill.bow_repeater_cost" : "Disminuye el coste de energía para convertirse en un arco repetidor de planeo en un 30%{SP}",
        "hud.skill.bow_repeater_glide_title" : "Planeo de arco repetidor",
        "hud.skill.bow_repeater_glide" : "Planea más mientras disparas{SP}",
        "hud.skill.bow_repeater_damage_title" : "Daño del arco repetidor",
        "hud.skill.bow_repeater_damage" : "Aumenta el daño realizado en un 40%{SP}",
        "hud.skill.bow_repeater_unlock_title" : "Desbloquear el Arco Repetidor",
        "hud.skill.bow_repeater_unlock" : "Desbloquea la habilidad de saltar en el aire y disparar una ráfaga de flechas{SP}",
        "hud.skill.bow_charged_title" : "Disparo cargado",
        "hud.skill.bow_charged" : "Porque has esperado más",
        "hud.skill.bow_charged_knockback_title" : "Retroceso de cargado",
        "hud.skill.bow_charged_knockback" : "Haz retroceder a los enemigos un 25%{SP}",
        "hud.skill.bow_charged_move_speed_title" : "Velocidad de recarga",
        "hud.skill.bow_charged_move_speed" : "Aumenta la velocidad con la que puedes desplazarte mientras recargas en un 25%{SP}",
        "hud.skill.bow_charged_speed_title" : "Velocidad de recarga",
        "hud.skill.bow_charged_speed" : "Aumenta la velocidad a la que recargas en un 10%{SP}",
        "hud.skill.bow_charged_projectile_speed_title" : "Velocidad de los proyectiles cargados",
        "hud.skill.bow_charged_projectile_speed" : "Velocidad del proyectil aumentada en un 20% adicional mientras se recarga{SP}",
        "hud.skill.bow_charged_drain_title" : "Drenaje cargado",
        "hud.skill.bow_charged_drain" : "Disminuye la tasa de drenaje de resistencia en un 15%{SP}",
        "hud.skill.bow_charged_damage_title" : "Daño cargado",
        "hud.skill.bow_charged_damage" : "Aumenta el daño en un 20%{SP}",
        "hud.skill.bow_energy_regen_title" : "Regeneración de energía",
        "hud.skill.bow_energy_regen" : "Aumenta la ganancia de energía en un 40%{SP}",
        "hud.skill.bow_title" : "Disparo de flecha",
        "hud.skill.bow" : "Carcaj infinito incluido, no apto para niños",
        "hud.skill.bow_damage_title" : "Daño",
        "hud.skill.bow_damage" : "Aumenta el daño en un 25%{SP}",
        // Hammer
        "hud.skill.hmr_leap_radius_title" : "Radio de salto",
        "hud.skill.hmr_leap_radius" : "Aumenta el radio de ataque del golpe en el suelo 1 metro{SP}",
        "hud.skill.hmr_leap_distance_title" : "Distancia de salto",
        "hud.skill.hmr_leap_distance" : "Aumenta la distancia del salto en un 25%{SP}",
        "hud.skill.hmr_leap_cost_title" : "Coste del salto",
        "hud.skill.hmr_leap_cost" : "Disminuye el coste del salto en un 25%{SP}",
        "hud.skill.hmr_leap_knockback_title" : "Retroceso del salto",
        "hud.skill.hmr_leap_knockback" : "Aumenta el retroceso del salto en un 50%{SP}",
        "hud.skill.hmr_leap_damage_title" : "Daño de salto",
        "hud.skill.hmr_leap_damage" : "Aumenta el daño del salto en un 40%{SP}",
        "hud.skill.hmr_unlock_leap_title" : "Desbloquear Salto",
        "hud.skill.hmr_unlock_leap" : "Desbloquea salto{SP}",
        "hud.skill.hmr_charged_melee_title" : "Carga cuerpo a cuerpo",
        "hud.skill.hmr_charged_melee" : "Cuerpo a cuerpo pero con carga",
        "hud.skill.hmr_charged_rate_title" : "Tasa de carga",
        "hud.skill.hmr_charged_rate" : "Aumenta la tasa de carga del golpe un 25%{SP}",
        "hud.skill.hmr_charged_melee_nrg_drain_title" : "Drenaje de energía de carga cuerpo a cuerpo",
        "hud.skill.hmr_charged_melee_nrg_drain" : "Reduce la tasa de drenaje de energía al cargar en un 25%{SP}",
        "hud.skill.hmr_charged_melee_damage_title" : "Daño cuerpo a cuerpo cargado",
        "hud.skill.hmr_charged_melee_damage" : "Aumenta el daño del golpe cargado en un 25%{SP}",
        "hud.skill.hmr_charged_melee_knockback_title" : "Contragolpe cuerpo a cuerpo cargado",
        "hud.skill.hmr_charged_melee_knockback" : "Aumenta masivamente el potencial de lanzamiento del golpe en un 50%{SP}",
        "hud.skill.hmr_single_strike_title" : "Golpe único",
        "hud.skill.hmr_single_strike" : "Tan único como tú",
        "hud.skill.hmr_single_strike_regen_title" : "Regeneración de un solo golpe",
        "hud.skill.hmr_single_strike_regen" : "Aumenta la ganancia de resistencia con cada golpe sucesivo{SP}",
        "hud.skill.hmr_single_strike_speed_title" : "Velocidad de golpe único",
        "hud.skill.hmr_single_strike_speed" : "Aumenta la velocidad de ataque con cada golpe sucesivo{SP}",
        "hud.skill.hmr_single_strike_damage_title" : "Daño de Golpe Único",
        "hud.skill.hmr_single_strike_damage" : "Aumenta el daño con cada golpe sucesivo{SP}",
        "hud.skill.hmr_single_strike_knockback_title" : "Retroceso del Golpe Único ",
        "hud.skill.hmr_single_strike_knockback" : "Aumenta el potencial de los golpes en un 50%{SP}",
        "hud.skill." : "",
        // Sword
        "hud.skill.sw_trip_str_title": "Golpe triple",
        "hud.skill.sw_trip_str": "Golpe, hasta tres veces",
        "hud.skill.sw_trip_str_combo_title": "Combo de triple golpe",
        "hud.skill.sw_trip_str_combo": "Desbloquea la intensidad del Combo de Golpe Triple{SP}",
        "hud.skill.sw_trip_str_dmg_title": "Daño de golpe triple",
        "hud.skill.sw_trip_str_dmg": "Aumenta el daño que hace cada golpe sucesivo{SP}",
        "hud.skill.sw_trip_str_sp_title": "Velocidad de golpe triple",
        "hud.skill.sw_trip_str_sp": "Aumenta la velocidad de ataque obtenida por cada golpe sucesivo{SP}",
        "hud.skill.sw_trip_str_reg_title": "Regeneracion de golpe triple",
        "hud.skill.sw_trip_str_reg": "Aumenta la ganancia de resistencia en cada golpe sucesivo{SP}",
        "hud.skill.sw_dash_title": "Atravesar",
        "hud.skill.sw_dash": "Atraviesa a tus enemigos",
        "hud.skill.sw_dash_dmg_title": "Daño de Atravesar",
        "hud.skill.sw_dash_dmg":  "Aumenta el daño inicial de Atravesar en un 20%{SP}",
        "hud.skill.sw_dash_drain_title": "Drenaje de Atravesar",
        "hud.skill.sw_dash_drain":  "Disminuye la tasa de drenaje de energía al correr en un 25%{SP}",
        "hud.skill.sw_dash_cost_title": "Coste de Atravesar",
        "hud.skill.sw_dash_cost": "Disminuye el coste inicial de Atravesar en un 25%{SP}",
        "hud.skill.sw_dash_speed_title": "Velocidad de Atravesar",
        "hud.skill.sw_dash_speed": "Aumenta la velocidad al atravesar en un 30%{SP}",
        "hud.skill.sw_dash_inf_title": "Atravesar Infinito",
        "hud.skill.sw_dash_inf": "Te permite hacer atravesar durante todo el tiempo que tengas energía{SP}",
        "hud.skill.sw_dash_scale_title": "Intensidad de daño de Atravesar",
        "hud.skill.sw_dash_scale": "Aumenta la intensidad de daño de Atravesar en un 20%{SP}",
        "hud.skill.sw_spin_title": "Desbloquear Giro",
        "hud.skill.sw_spin": "Desbloquea el giro de la espada{SP}",
        "hud.skill.sw_spin_dmg_title": "Daño por giro",
        "hud.skill.sw_spin_dmg": "Aumenta el daño realizado en un 40%{SP}",
        "hud.skill.sw_spin_spd_title": "Velocidad de giro",
        "hud.skill.sw_spin_spd": "Aumenta la velocidad de giro en un 25%{SP}",
        "hud.skill.sw_spin_cost_title": "Coste de giro",
        "hud.skill.sw_spin_cost": "Disminuye el coste de energía de cada giro en un 25%{SP}",
        "hud.skill.sw_spin_spins_title": "Gira que gira",
        "hud.skill.sw_spin_spins": "Aumenta el número de veces que puedes girar{SP}",
        "hud.skill.sw_interrupt_title": "Interrumpir ataques",
        "hud.skill.sw_interrupt": "Te permite cancelar inmediatamente un ataque con otro ataque{SP}",
        // Axe
        "hud.skill.axe_double_strike_title": "Golpe Doble",
        "hud.skill.axe_double_strike": "Haz picadillo esos villanos",
        "hud.skill.axe_double_strike_combo_title": "Combo Golpe Doble",
        "hud.skill.axe_double_strike_combo": "Desbloquea un segundo golpe{SP}",
        "hud.skill.axe_double_strike_damage_title": "Daño de golpe doble",
        "hud.skill.axe_double_strike_damage": "Aumenta el daño infligido en cada golpe sucesivo{SP}",
        "hud.skill.axe_double_strike_speed_title": "Velocidad de golpe doble",
        "hud.skill.axe_double_strike_speed": "Aumenta la velocidad de ataque con cada golpe sucesivo{SP}",
        "hud.skill.axe_double_strike_regen_title": "Regeneración de Golpe Doble ",
        "hud.skill.axe_double_strike_regen": "Aumenta la ganancia de resistencia con cada golpe sucesivo{SP}",
        "hud.skill.axe_spin_title": "Giro del hacha",
        "hud.skill.axe_spin": "Haces girar el hacha...",
        "hud.skill.axe_infinite_axe_spin_title": "Giro de hacha infinito",
        "hud.skill.axe_infinite_axe_spin": "Gira durante todo el tiempo que tengas energía{SP}",
        "hud.skill.axe_spin_damage_title": "Daño por giro",
        "hud.skill.axe_spin_damage": "Aumenta el daño que hace cada giro en un 30%{SP}",
        "hud.skill.axe_spin_helicopter_title": "Helicóptero giratorio",
        "hud.skill.axe_spin_helicopter": "Caes un poco más lento mientras giras{SP}",
        "hud.skill.axe_spin_speed_title": "Velocidad de giro",
        "hud.skill.axe_spin_speed": "Aumenta tu velocidad de giro en un 25%{SP}",
        "hud.skill.axe_spin_cost_title": "Coste de giro",
        "hud.skill.axe_spin_cost": "Disminuye el coste de aguante de los giros en un 25%",
        "hud.skill.axe_unlock_leap_title": "Desbloquear Salto",
        "hud.skill.axe_unlock_leap": "Desbloquea salto con giro{SP}",
        "hud.skill.axe_leap_damage_title": "Daño de salto",
        "hud.skill.axe_leap_damage": "Aumenta el daño del salto en un 35%{SP}",
        "hud.skill.axe_leap_knockback_title": "Retroceso de salto",
        "hud.skill.axe_leap_knockback": "Aumenta el retroceso del salto en un 40%",
        "hud.skill.axe_leap_cost_title": "Coste del salto",
        "hud.skill.axe_leap_cost": "Disminuye el coste del salto en un 25%{SP}",
        "hud.skill.axe_leap_distance_title": "Distancia de salto",
        "hud.skill.axe_leap_distance": "Aumenta la distancia del salto en un 20%{SP}",
    },


    vector_map: {
    }
)
