#![enable(implicit_some)]
(
    shoulders: "common.items.armor.hide.scale.shoulder",
    chest: "common.items.armor.hide.scale.chest",
    gloves: "common.items.armor.hide.scale.hand",
    back: [
        (1, "common.items.armor.misc.back.backpack"),
        (1, "common.items.npc_armor.back.backpack_blue"),
        (1, "common.items.armor.hide.scale.back"),
        (1, None),
    ],
    belt: "common.items.armor.hide.scale.belt",
    legs: "common.items.armor.hide.scale.pants",
    feet: "common.items.armor.hide.scale.foot",
    lantern: [
        (1, "common.items.lantern.black_0"),
        (1, "common.items.lantern.blue_0"),
        (1, "common.items.lantern.green_0"),
        (1, "common.items.lantern.geode_purp"),
    ],
)