BasicRanged(
    energy_cost: 0,
    buildup_duration: 1.5,
    recover_duration: 2.5,
    projectile: ClayRocket(
        damage: 25.0,
        radius: 15.0,
        knockback: 20.0,
        min_falloff: 0.1,
    ),
    projectile_body: Object(Mine),
    projectile_speed: 50.0,
    num_projectiles: 2,
    projectile_spread: 0.1,
    move_efficiency: 0.3,
)