[
    (1.0, MultiDrop(Item("common.items.crafting_ing.hide.tough_hide"), 1, 2)),
    (1.0, MultiDrop(Item("common.items.crafting_ing.living_embers"), 1, 2)),
    (1.0, Item("common.items.food.meat.tough_raw")),
]