ItemDef(
    name: "Gnoll Staff",
    description: "eekum bokum",
    kind: Tool((
        kind: Staff,
        hands: Two,
        stats: Direct((
            equip_time_secs: 0.0,
            power: 1.8,
            poise_strength: 0.8,
            speed: 0.6,
            crit_chance: 0.036458332,
            crit_mult: 1.8707483,
        )),
    )),
    quality: Low,
    tags: [],
    ability_spec: Some(Custom("Staff Simple")),
)