DashMelee(
    energy_cost: 0,
    melee_constructor: (
        kind: Bash(
            damage: 20.0,
            poise: 0.0,
            knockback: 8.0,
            energy_regen: 0.0,
        ),
        scaled: Some(Bash(
            damage: 25.0,
            poise: 0.0,
            knockback: 17.0,
            energy_regen: 0.0,
        )),
        range: 4.0,
        angle: 45.0,
    ),
    energy_drain: 0,
    forward_speed: 2.0,
    buildup_duration: 1.0,
    charge_duration: 2.4,
    swing_duration: 0.1,
    recover_duration: 1.8,
    ori_modifier: 0.3,
    charge_through: false,
)
