ItemDef(
    name: "Generic Biped Large",
    description: "Worn by bipeds.",
    kind: Armor((
        kind: Chest("GenericBipedLarge"),
        stats: (
            protection: Normal(45.0),
            poise_resilience: Normal(1.0),
            energy_max: 0,
            energy_reward: 0.0,
            crit_power: 0.0,
            stealth: 0.0,
        ),
    )),
    quality: Moderate,
    tags: [],
)