ItemDef(
    name: "Tidal Warrior Armor",
    description: "Made of fish scales.",
    kind: Armor((
        kind: Chest("Tidal Warrior"),
        stats: (
            protection: Normal(20.0),
            poise_resilience: Normal(0.0),
            energy_max: 0,
            energy_reward: 0.0,
            crit_power: 0.0,
            stealth: 0.0,
        ),
    )),
    quality: Legendary,
    tags: [],
)
