[
    // 遗忘战斧
    (0.01, Item("common.items.WECW.forgottenaxe")),
    // 暗金切割者
    (0.01, Item("common.items.WECW.darkaxe")),
    // 暗灵项链
    (0.01, Item("common.items.WECW.neck.epicneck")),
    // 暗灵戒指
    (0.01, Item("common.items.WECW.ring.skullg")),
    // 棱镜背包
    (0.01, Item("common.items.WECW.sp.back")),
    // 紫色系列武器
    (0.1, LootTable("common.loot_tables.weapons.epic")),
    // 骨裂
    (0.2, Item("common.items.glider.glider_purp")),
    // 紫灯
    (0.2, Item("common.items.boss_drops.lantern")),
    // 龙鳞
    (0.2, Item("common.items.crafting_ing.hide.dragon_scale")),
    // 无敌药水
    (0.3, ItemQuantity("common.items.boss_drop.xp_potion",1,5)),
    // 破布
    (0.4, Item("common.items.crafting_ing.mindflayer_bag_damaged")),
    // 白金币
    (1.0, ItemQuantity("common.items.WECW.coins2", 50, 100)),
]
