ItemDef(
    name: "Woolen Parka",
    description: "Thick and ready for the snow.",
    kind: Armor((
        kind: Chest,
        stats: FromSet("Wool"),
    )),
    quality: Common,
    tags: [
        Material(Wool),
        SalvageInto(Wool),
    ],
)