BasicMelee(
    energy_cost: 0,
    buildup_duration: 0.9,
    swing_duration: 0.1,
    recover_duration: 1.2,
    melee_constructor: (
        kind: Slash(
            damage: 21.0,
            poise: 10.0,
            knockback: 10.0,
            energy_regen: 0.0,
        ),
        range: 4.0,
        angle: 60.0,
        multi_target: Some(Normal),
    ),
    ori_modifier: 1.0,
)
