EntityConfig (
    name: Name("Sahagin Spearman"),
    body: RandomWith("sahagin"),
    alignment: Alignment(Enemy),

    loot: LootTable("common.loot_tables.dungeon.tier-2.enemy"),

    hands: TwoHanded(Item("common.items.npc_weapons.biped_small.sahagin.wooden_spear")),

    meta: [
        LoadoutAsset("common.loadout.dungeon.tier-2.sahagin"),
    ],
)
