ItemDef(
    name: "生禽肉",
    description: "粗壮的下段鸡腿肉.",
    kind: Consumable(
        kind: Food,
        effects: [
            Buff((
                kind: Saturation,
                data: (
                    strength: 4.5,
                    duration: Some((
                            secs: 10,
                            nanos: 0,
                        )),
                    ),
                cat_ids: [Natural],
            )),
        ]
    ),
    quality: Common,
    tags: [Food],
)
