ItemDef(
    name: "熟鱼",
    description: "新鲜的海鲜鱼排.",
    kind: Consumable(
        kind: Food,
        effects: [
            Buff((
                kind: Saturation,
                data: (
                    strength: 60.0,
                    duration: Some((
                            secs: 20,
                            nanos: 0,
                        )),
                    ),
                cat_ids: [Natural],
            )),
        ]
    ),
    quality: Common,
    tags: [Food],
)
