DashMelee(
    energy_cost: 0,
    melee_constructor: (
        kind: Bash(
            damage: 24.0,
            poise: 25.0,
            knockback: 4.0,
            energy_regen: 0.0,
        ),
        scaled: Some((
            kind: Bash(
                damage: 36.0,
                poise: 0.0,
                knockback: 17.0,
                energy_regen: 0.0,
            ))),
        range: 2.5,
        angle: 45.0,
    ),
    energy_drain: 0,
    forward_speed: 2.0,
    buildup_duration: 1.3,
    charge_duration: 2.0,
    swing_duration: 0.3,
    recover_duration: 2.0,
    ori_modifier: 0.1,
    charge_through: false,
)
