[
  (1.7, All([
            Item("common.items.keys.quarry_keys.ancient"),
            MultiDrop(Item("common.items.utility.coins"), 200, 500),
      ],
   )),
  (0.1, All([
            Item("common.items.keys.quarry_keys.ancient"),
            Item("common.items.weapons.axe.parashu"),
      ],
   )),
  (0.2, All([
            Item("common.items.keys.quarry_keys.ancient"),
            Item("common.items.armor.misc.neck.carcanet_of_wrath"),
      ],
   )),

]