ComboMelee2(
    strikes: [
        (
            melee_constructor: (
                kind: Bash(
                    damage: 40.5,
                    poise: 50,
                    knockback: 10.0,
                    energy_regen: 0,
                ),
                range: 6.0,
                angle: 45.0,
            ),
            buildup_duration: 1.2,
            swing_duration: 0.3,
            hit_timing: 0.4,
            recover_duration: 1.0,
            movement: (
                swing: Some(Forward(0.5)),
            ),
            movement_modifier: (
                swing: Some(0.35),
                recover: Some(0.0),
            ),
            ori_modifier: (
                buildup: Some(0.75),
                swing: Some(0.25),
                recover: Some(0.0),
            ),
        ),
    ],
    energy_cost_per_strike: 0,
    auto_progress: true,
)
