([
    Group(Weapon(Bow)),

    // Charged
    Skill((Bow(CDamage), Some(1))),
    Skill((Bow(CRegen), Some(1))),
    Skill((Bow(CKnockback), Some(1))),
    Skill((Bow(CSpeed), Some(1))),

    // Repeater
    Skill((Bow(RDamage), Some(1))),
    Skill((Bow(RCost), Some(1))),

    // Shotgun
    Skill((Bow(UnlockShotgun), None)),
    Skill((Bow(SCost), Some(1))),
])
