#![enable(implicit_some)]
(
    name: Name("Gnarling Mugger"),
    body: RandomWith("gnarling"),
    alignment: Alignment(Enemy),
    loot: LootTable("common.loot_tables.dungeon.tier-0.enemy"),
    inventory: (
        loadout: Inline((
            inherit: Asset("common.loadout.dungeon.gnarling.mugger"),
            active_hands: InHands((Item("common.items.npc_weapons.biped_small.gnarling.mugger"), None)),
        )),
    ),
    meta: [],
)