ItemDef(
    name: "藤蔓织袋",
    description: "用干藤本植物编织而成.",
    kind: Armor(
        (
            kind: Bag("GreenMid"),
            stats: (
                protection: Normal(0.0),
                poise_resilience: Normal(0.0),
                energy_max: 0,
                energy_reward: 0.0,
                crit_power: 0.0,
                stealth: 0.0,
            ),            
        )
    ),
    quality: Moderate,
    tags: [Bag],
    slots: 16,
)
