ItemDef(
    name: "理智摧残者的魔法袋",
    description: "你几乎可以感觉到理智摧残者的邪恶气息在织物中流动.",
    kind: Armor(
        (
            kind: Bag("PurpleSkull"),
            stats: (
                protection: Normal(0.0),
                poise_resilience: Normal(0.0),
                energy_max: 0,
                energy_reward: 0.0,
                crit_power: 0.0,
                stealth: 0.0,
            ),            
        )
    ),
    quality: Epic,
    tags: [Bag],
    slots: 32,
)
