ItemDef(
    legacy_name: "Cursed Soulkeeper",
    legacy_description: "WIP",
    kind: Armor((
        kind: Bag,
        stats: Direct(()),
    )),
    quality: Legendary,
    tags: [Bag],
    slots: 36,
)
