ItemDef(
    name: Direct("Cursed Soulkeeper"),
    description: "WIP",
    kind: Armor(
        (
            kind: Bag("RedFace"),
            stats: (
            ),
        )
    ),
    quality: Direct(Legendary),
    tags: [Bag],
    slots: 36,
)
