ItemDef(
    name: Direct("Sturdy Red Saddlebag"),
    description: "Made from a large amount of dyed cloth patches.",
    kind: Armor(
        (
            kind: Bag("RedLarge"),
            stats: (
            ),
        )
    ),
    quality: Direct(High),
    tags: [Bag],
    slots: 18,
)
