ItemDef(
    name: "Sturdy Red Saddlebag",
    description: "A truly reliable and sizeable bag, embroidered with amethyst and thick leather.",
    kind: Armor(
        (
            kind: Bag,
            stats: (
            ),
        )
    ),
    quality: High,
    tags: [Bag],
    slots: 18,
)
