ItemDef(
    name: "Purple Linen Chest",
    description: "A stylish rough fabric surcoat, dyed purple.",
    kind: Armor((
        kind: Chest,
        stats: FromSet("Cloth Purple"),
    )),
    quality: Common,
    tags: [
        Material(Linen),
        SalvageInto(Linen),
    ],
)