ItemDef(
    legacy_name: "Brinestone Belt",
    legacy_description: "Ties it together.",
    kind: Armor((
        kind: Belt,
        stats: FromSet("Brinestone"),
    )),
    quality: Legendary,
    tags: [],
)
