ItemDef(
    legacy_name: "Brinestone Pads",
    legacy_description: "Almost too heavy.",
    kind: Armor((
        kind: Shoulder,
        stats: FromSet("Brinestone"),
    )),
    quality: Legendary,
    tags: [],
)