ItemDef(
    name: "Iron Cape",
    description: "Sturdy and unyielding, across ages of war.",
    kind: Armor((
        kind: Back("Iron"),
        stats: (
            protection: Normal(0.2),
            poise_resilience: Normal(0.1),
            energy_max: 0,
            energy_recovery: 0.0,
            crit_power: 0.0,
            stealth: 0.0,
        ),
    )),
    quality: Common,
    tags: [],
)