ItemDef(
    name: "Iron Cloak",
    description: "Sturdy and unyielding, across ages of war.",
    kind: Armor((
        kind: Back,
        stats: FromSet("Iron"),
    )),
    quality: Common,
    tags: [
        Material(Iron),
        SalvageInto(Iron),
    ],
)