ItemDef(
    name: "Iron Gloves",
    description: "Sturdy and unyielding, across ages of war.",
    kind: Armor((
        kind: Hand("Iron"),
        stats: (
            protection: Normal(4.0),
            poise_resilience: Normal(1.0),
            energy_max: 0,
            energy_recovery: 0.0,
            crit_power: 0.0,
            stealth: 0.0,
        ),
    )),
    quality: Common,
    tags: [Material((material: Iron))],
)