ItemDef(
    legacy_name: "Hirdrasil's Blessing",
    legacy_description: "testing123",
    kind: Armor((
        kind: Chest,
        stats: Direct((
            protection: Some(Normal(30.0)),
            poise_resilience: Some(Normal(20.0)),
            energy_max: Some(100),
        )),
    )),
    quality: High,
    tags: [],
)