ItemDef(
    name: Direct("Scale"),
    description: "Shiny scale from an animal.",
    kind: Ingredient(
        kind: "Scale",
        descriptor: "Scale",
    ),
    quality: Direct(Moderate),
    tags: [MaterialKind(Hide)],
)