SelfBuff(
    buildup_duration: 0.2,
    cast_duration: 0.2,
    recover_duration: 0.2,
    buff_kind: EnergyRegen,
    buff_strength: 0.1,
    buff_duration: Some(10.0),
    combo_cost: 1,
    combo_scaling: Some(Linear),
    energy_cost: 0,
)
