BasicSummon(
    buildup_duration: 0.2,
    cast_duration: 0.3,
    recover_duration: 0.3,
    summon_amount: 4,
    summon_distance: (4, 4),
    summon_info: (
        body: QuadrupedLow((
            species: SeaCrocodile,
            body_type: Male,
        )),
        scale: None,
        has_health: true,
        loadout_config: None,
        skillset_config: Some(Rank5),
    ),
    duration: None,
)
