ItemDef(
    name: "熔火之心",
    description: "这把战锤在黑暗祭坛用失落的技艺配合龙火锻造出.\n特效（灰烬）：将你的敌人烧成灰！",
    kind: Tool((
        kind: Hammer,
        hands: Two,
        stats: Direct((
            equip_time_secs: 0.5,
            power: 3.0,
            effect_power: 3.0,
            speed: 0.8,
            crit_chance: 0.5,
            range: 1.1,
            energy_efficiency: 1.0,
            buff_strength: 1.0,
        )),
    )),
    quality: Legendary,
    tags: [],
    ability_spec: Some(Custom("fireHammer")),
)