ItemDef(
    name: "暗金切割者",
    description: "在暗黑祭坛由暗金锻造，轻易撕裂敌人的任何装甲.",
    kind: Tool((
        kind: Axe,
        hands: One,
        stats: Direct((
            equip_time_secs: 0.5,
            power: 2.5,
            effect_power: 2.5,
            speed: 0.75,
            crit_chance: 1.0,
            range: 1.0,
            energy_efficiency: 1.0,
            buff_strength: 1.0,
        )),
    )),
    quality: Legendary,
    tags: [],
)