ItemDef(
    name: "萨顿的末日战刃",
    description: "破坏者萨顿的战刀，由工匠Drackouns在暗黑祭坛用暗金锻造，削铁如泥.\n特效（巨型武器）：攻击距离提升，更容易击晕敌人！",
    kind: Tool((
        kind: Sword,
        hands: Two,
        stats: Direct((
            equip_time_secs: 0.5,
            power: 3.0,
            effect_power: 3.0,
            speed: 1.0,
            crit_chance: 0.75,
            range: 1.0,
            energy_efficiency: 1.0,
            buff_strength: 1.0,
        )),
    )),
    quality: Legendary,
    tags: [],
    ability_spec: Some(Custom("金单双手剑技能组")),
)
