ItemDef(
    name: "鳞甲 腰带",
    description: "每个嵌入式刻度提供保护.",
    kind: Armor((
        kind: Belt("Scale"),
        stats: (
            protection: Normal(3.0),
            poise_resilience: Normal(-2.0),
            energy_max: 0,
            energy_reward: 0.0,
            crit_power: 0.05,
            stealth: 0.0,
        ),
    )),
    quality: Moderate,
    tags: [
        Material(Scale),
    ],
)