ItemDef(
    name: "Scale Boots",
    description: "Each embedded scale provides protection.",
    kind: Armor((
        kind: Foot("Scale"),
        stats: (
            protection: Normal(0.0),
            poise_resilience: Normal(0.0),
            energy_max: 0,
            energy_recovery: 0.0,
            crit_power: 0.0,
            stealth: 0.0,
        ),
    )),
    quality: Moderate,
    tags: [
        Material((
            material: Scale,
        )),
    ],
)