ItemDef(
    name: Direct("Sunflower"),
    description: "Smells like summer.",
    kind: Ingredient(
        kind: "Flower",
        // Descriptor not needed
        descriptor: "",
    ),
    quality: Direct(Common),
    tags: [],
)
