ItemDef(
    name: Direct("White flower"),
    description: "Pure and precious.",
    kind: Ingredient(
        kind: "Flower",
        // Descriptor not needed
        descriptor: "",
    ),
    quality: Common,
    tags: [],
)
