BasicBeam(
    buildup_duration: 0.1,
    recover_duration: 0.1,
    beam_duration: 1.0,
    damage: 50.0,
    tick_rate: 6.0,
    range: 40.0,
    max_angle: 30.0,
    damage_effect: Some(Buff((
        kind: Cursed,
        dur_secs: 60.0,
        strength: Value(50.0),
        chance: 10.0,
    ))),
    energy_regen: 0,
    energy_drain: 100,
    orientation_behavior: Normal,
    ori_rate: 0.6,
    specifier: Cultist,
)
