Shockwave(
    energy_cost: 40.0,
    buildup_duration: 0.4,
    swing_duration: 0.1,
    recover_duration: 0.4,
    damage: 18,
    poise_damage: 0,
    knockback: ( strength: 30, direction: Away),
    shockwave_angle: 360.0,
    shockwave_vertical_angle: 90.0,
    shockwave_speed: 30.0,
    shockwave_duration: 0.5,
    requires_ground: false,
    move_efficiency: 0.1,
    damage_kind: Energy,
    specifier: Fire,
    ori_rate: 1.0,
)
