ItemDef(
    name: "Brass Block",
    description: "Casted from brass.",
    kind: Tool((
        kind: Hammer,
        hands: One,
        stats: Direct((
            equip_time_secs: 0.5,
            power: 1.2,
            poise_strength: 1.0,
            speed: 0.8,
            crit_chance: 0.12,
            crit_mult: 2.2,
        )),
    )),
    quality: Moderate,
    tags: [],
)