ItemDef(
    name: "Wooden Cudgel",
    description: "Carved from wood.",
    kind: Tool((
        kind: Hammer,
        hands: One,
        stats: Direct((
            equip_time_secs: 0.5,
            power: 0.5,
            poise_strength: 1.0,
            speed: 1.1,
        )),
    )),
    quality: Low,
    tags: [],
)