#![enable(implicit_some)]
(
    head: Item("common.items.armor.alchemist.hat"),
    chest: Item("common.items.armor.alchemist.chest"),
    gloves: Item("common.items.armor.cloth.druid.hand"),
    belt: Item("common.items.armor.alchemist.belt"),
    legs: Item("common.items.armor.alchemist.pants"),
    feet: Item("common.items.armor.ferocious.foot"),
    lantern: Item("common.items.lantern.black_0"),
)