ItemDef(
    name: Direct("Leather Plate Belt"),
    description: "Leather adorned with steel for better protection.",
    kind: Armor((
        kind: Belt("LeatherPlate"),
        stats: (
            protection: Some(Normal(8.0)),
            poise_resilience: Some(Normal(2.0)),
        ),
    )),
    quality: Direct(Moderate),
    tags: [
        Material(Leather),
        SalvageInto(Leather),
    ],
)