#![enable(implicit_some)]
(
    chest: "common.items.npc_armor.biped_small.mandragora.chest.mandragora",
    gloves: "common.items.npc_armor.biped_small.mandragora.hand.mandragora",
    legs: "common.items.npc_armor.biped_small.mandragora.pants.mandragora",
    feet: "common.items.npc_armor.biped_small.mandragora.foot.mandragora",
)