#![enable(implicit_some)]
(
    head: Item("common.items.npc_armor.biped_small.gnarling.head.mugger"),
    chest: Item("common.items.npc_armor.biped_small.gnarling.chest.mugger"),
    gloves: Item("common.items.npc_armor.biped_small.gnarling.hand.mugger"),
    belt: Item("common.items.npc_armor.biped_small.gnarling.tail.mugger"),
    legs: Item("common.items.npc_armor.biped_small.gnarling.pants.mugger"),
    feet: Item("common.items.npc_armor.biped_small.gnarling.foot.mugger"),
)