ItemDef(
    name: "Cobalt Ore",
    description: "A blue, shiny ore.",
    kind: Ingredient(
        kind: "CobaltOre",
        // Descriptor not needed
        descriptor: "",
    ),
    quality: High,
    tags: [],
)
