ItemDef(
    name: Direct("Gold Ore"),
    description: "A precious yellow metal.",
    kind: Ingredient(
        kind: "GoldOre",
        // Descriptor not needed
        descriptor: "",
    ),
    quality: Epic,
    tags: [],
)