[
    (1.0, Item("common.items.weapons.hammer.stone_hammer-0")),
    (1.0, Item("common.items.weapons.hammer.stone_hammer-1")),
    (1.0, Item("common.items.weapons.hammer.stone_hammer-2")),
    (1.0, Item("common.items.weapons.hammer.stone_hammer-3")),
]