/// WARNING: Localization files shall be saved in UTF-8 format without BOM

/// 本地化 "Simplified Chinese" 简体中文
(
    metadata: (
        language_name: "Simplified Chinese",
        language_identifier: "zh_CN",
    ),
    convert_utf8_to_ascii: false,
    fonts: {
        "opensans": Font (
            asset_key: "voxygen.font.WenQuanYiZenHei",
            scale_ratio: 1.0,
        ),
        "metamorph": Font (
            asset_key: "voxygen.font.WenQuanYiZenHei",
            scale_ratio: 1.0,
        ),
        "alkhemi": Font (
            asset_key: "voxygen.font.WenQuanYiZenHei",
            scale_ratio: 1.0,
        ),
        "wizard": Font (
            asset_key: "voxygen.font.WenQuanYiZenHei",
            scale_ratio: 1.0,
        ),
        "cyri": Font (
            asset_key: "voxygen.font.WenQuanYiZenHei",
            scale_ratio: 1.0,
        ),
    }
)
