SpawnEntry (
    name: "Tundra forest animals for christmas.",
    note: "",
    rules: [
        Pack(
            groups: [
                (4, (1, 1, "common.entity.wild.aggressive.frostfang")),
                (4, (1, 1, "common.entity.wild.aggressive.snow_leopard")),
                (4, (1, 1, "common.entity.wild.aggressive.yale")),
                (4, (1, 1, "common.entity.wild.aggressive.grolgar")),
                (1, (1, 1, "common.entity.calendar.christmas.aggressive.yeti")),
            ],
            spawn_mode: Land,
            calendar_events: Some([Christmas]),
            day_period: [Night, Morning, Noon, Evening],
        ),
    ],
)
