#![enable(implicit_some)]
(
    shoulders: Item("common.items.armor.cloth.woolen.shoulder"),
    chest: Item("common.items.armor.cloth.woolen.chest"),
    gloves: Item("common.items.armor.cloth.woolen.hand"),
    back: Choice([
        (1, Item("common.items.armor.misc.back.backpack")),
        (1, Item("common.items.npc_armor.back.backpack_blue")),
        (1, Item("common.items.armor.cloth.woolen.back")),
        (1, None),
    ]),
    belt: Item("common.items.armor.cloth.woolen.belt"),
    legs: Item("common.items.armor.cloth.woolen.pants"),
    feet: Item("common.items.armor.cloth.woolen.foot"),
    lantern: Choice([
        (1, Item("common.items.lantern.black_0")),
        (1, Item("common.items.lantern.blue_0")),
        (1, Item("common.items.lantern.green_0")),
        (1, Item("common.items.lantern.red_0")),
    ]),
)