([
    Group(Weapon(Staff)),

    // Fireball
    Skill((Staff(BDamage), Some(1))),
    Skill((Staff(BRegen), Some(1))),
    Skill((Staff(BRadius), Some(1))),

    // Flamethrower
    Skill((Staff(FRange), Some(1))),
    Skill((Staff(FDrain), Some(1))),
    Skill((Staff(FDamage), Some(1))),
    Skill((Staff(FVelocity), Some(1))),

    // Shockwave
    Skill((Staff(UnlockShockwave), None)),
    Skill((Staff(SDamage), Some(1))),
    Skill((Staff(SKnockback), Some(1))),
    Skill((Staff(SRange), Some(1))),
    Skill((Staff(SCost), Some(1))),
])
