BasicMelee(
    energy_cost: 0,
    buildup_duration: 0.45,
    swing_duration: 0.5,
    recover_duration: 0.35,
    base_damage: 100,
    base_poise_damage: 28,
    knockback: 25.0,
    range: 1.2,
    max_angle: 50.0,
)
