ItemDef(
    name: "Plain Necklace",
    description: "It\'s become tarnished with age.",
    kind: Armor((
        kind: Neck("Neck0"),
        stats: (
            protection: Normal(1.0),
            poise_resilience: Normal(1.0),
        ),
    )),
    quality: Common,
)