({
    "shoulder": Item("common.items.armor.cultist.shoulder"),
    "chest": Item("common.items.armor.cultist.chest"),
    "belt": Item("common.items.armor.cultist.belt"),
    "hands": Item("common.items.armor.cultist.hand"),
    "pants": Item("common.items.armor.cultist.pants"),
    "feet": Item("common.items.armor.cultist.foot"),

    "back": Item("common.items.armor.misc.back.dungeon_purple"),

    "lantern": Choice([
        (1.0, Some(Item("common.items.lantern.black_0"))),
        (2.0, None),
    ]),

    "glider": Item("common.items.glider.glider_blue"),
})
