EntityConfig (
    name: Some("Crazy Sheep"),
    body: RandomWith("sheep"),
    alignment: Alignment(Enemy),

    loot: LootTable("common.loot_tables.fallback"),

    main_tool: None,
    second_tool: None,

    meta: [],
)
