#![enable(implicit_some)]
(
    head: "common.items.npc_armor.biped_small.myrmidon.head.hoplite",
    chest: "common.items.npc_armor.biped_small.myrmidon.chest.hoplite",
    gloves: "common.items.npc_armor.biped_small.myrmidon.hand.hoplite",
    belt: "common.items.npc_armor.biped_small.myrmidon.tail.hoplite",
    legs: "common.items.npc_armor.biped_small.myrmidon.pants.hoplite",
    feet: "common.items.npc_armor.biped_small.myrmidon.foot.hoplite",
)