ItemDef(
    name: "Comfortable Worker Pants",
    description: "Resilient and reliable.",
    kind: Armor((
        kind: Pants("WorkerBrown"),
        stats: (
            protection: Normal(0.1),
            poise_resilience: Normal(1.0),
        ),
    )),
    quality: Low,
    tags: [ClothItem],
)