Shockwave(
    energy_cost: 0.0,
    buildup_duration: 1.6,
    swing_duration: 0.1,
    recover_duration: 2.3,
    damage: 8.0,
    poise_damage: 0,
    knockback: ( strength: 5.0, direction: Away),
    shockwave_angle: 360.0,
    shockwave_vertical_angle: 90.0,
    shockwave_speed: 32.5,
    shockwave_duration: 0.4,
    dodgeable: Jump,
    move_efficiency: 0.1,
    damage_kind: Crushing,
    specifier: Ground,
    ori_rate: 1.0,
)
