#![enable(implicit_some)]
(
    head: "common.items.npc_armor.biped_small.haniwa.head.guard",
    chest: "common.items.npc_armor.biped_small.haniwa.chest.guard",
    gloves: "common.items.npc_armor.biped_small.haniwa.hand.guard",
    legs: "common.items.npc_armor.biped_small.haniwa.pants.guard",
    feet: "common.items.npc_armor.biped_small.haniwa.foot.guard",
)