# cargo clippy is a superset of cargo check, so we don't check manually
code-quality:
  extends: .recompile-branch
  stage: check
  script:
    - ln -s /dockercache/cache-all target
    - rm -r target/debug/incremental/veloren_* || echo "all good" # TMP FIX FOR 2021-03-22-nightly
    - cargo clippy --all-targets --locked -- -D warnings
    - cargo fmt --all -- --check

security:
  extends: .recompile-branch
  stage: check
  allow_failure: true
  script:
    - ln -s /dockercache/cache-all target
    - cargo audit
