ItemDef(
    name: "Spinal Bow",
    description: "Made with bones",
    kind: Tool((
        kind: Bow,
        hands: Two,
        stats: Direct((
            equip_time_secs: 0.4,
            power: 1.1,
            poise_strength: 0.8,
            speed: 0.9,
            crit_chance: 0.13564593,
            crit_mult: 1.574452,
        )),
    )),
    quality: Moderate,
    tags: [],
)