ItemDef(
    name: "Elven Longbow",
    description: "Made with exquisite craftsmanship",
    kind: Tool((
        kind: Bow,
        hands: Two,
        stats: Direct((
            equip_time_secs: 0.4,
            power: 1.1,
            poise_strength: 0.8,
            speed: 1.1,
        )),
    )),
    quality: Moderate,
    tags: [],
)