ItemDef(
    legacy_name: "Velorite Bow",
    legacy_description: "Infused with Velorite power.",
    kind: Tool((
        kind: Bow,
        hands: Two,
        stats: (
            equip_time_secs: 0.25,
            power: 2.175,
            effect_power: 1.2,
            speed: 0.7,
            range: 1.0,
            energy_efficiency: 0.8,
            buff_strength: 1.2,
        ),
    )),
    quality: Epic,
    tags: [],
    ability_spec: None,
)