ItemDef(
    name: "Flatbow",
    description: "The bow looks stangely flat...",
    kind: Tool((
        kind: Bow,
        hands: Two,
        stats: Direct((
            equip_time_secs: 0.4,
            power: 0.7,
            poise_strength: 0.8,
            speed: 1.1,
            crit_chance: 0.07,
            crit_mult: 1.7,
        )),
    )),
    quality: Low,
    tags: [],
)