ItemDef(
    name: "Swift Shortbow",
    description: "Swiftly fires arrows",
    kind: Tool((
        kind: Bow,
        hands: Two,
        stats: Direct((
            equip_time_secs: 0.4,
            power: 0.6,
            poise_strength: 0.8,
            speed: 1.2,
            crit_chance: 0.09090909,
            crit_mult: 2.047619,
        )),
    )),
    quality: Low,
    tags: [],
)