({
    Armor(Shoulders): Item("common.items.armor.ferocious.shoulder"),
    Armor(Chest): Item("common.items.armor.ferocious.chest"),
    Armor(Belt): Item("common.items.armor.ferocious.belt"),
    Armor(Hands): Item("common.items.armor.ferocious.hand"),
    Armor(Legs): Item("common.items.armor.ferocious.pants"),
    Armor(Feet): Item("common.items.armor.ferocious.foot"),

    Armor(Back): Item("common.items.armor.ferocious.back"),

    Lantern: Choice([
        (1.0, Some(Item("common.items.lantern.black_0"))),
        (2.0, None),
    ]),

    Glider: Item("common.items.glider.glider_blue"),
})
